**Import and Inspect**

In [ ]:
import pandas as pd

In [ ]:
car = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/MPG.csv')

In [ ]:
car

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [ ]:
car.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl

In [ ]:
car.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [ ]:
pd.options.display.max_rows = 400

In [ ]:
car

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,usa,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
22,25.0,4,104.0,95.0,2375,17.5,70,europe,saab 99e
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
24,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
30,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
31,25.0,4,113.0,95.0,2228,14.0,71,japan,toyota corona
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
33,19.0,6,232.0,100.0,2634,13.0,71,usa,amc gremlin
34,16.0,6,225.0,105.0,3439,15.5,71,usa,plymouth satellite custom
35,17.0,6,250.0,100.0,3329,15.5,71,usa,chevrolet chevelle malibu
36,19.0,6,250.0,88.0,3302,15.5,71,usa,ford torino 500
37,18.0,6,232.0,100.0,3288,15.5,71,usa,amc matador
38,14.0,8,350.0,165.0,4209,12.0,71,usa,chevrolet impala
39,14.0,8,400.0,175.0,4464,11.5,71,usa,pontiac catalina brougham
40,14.0,8,351.0,153.0,4154,13.5,71,usa,ford galaxie 500
41,14.0,8,318.0,150.0,4096,13.0,71,usa,plymouth fury iii
42,12.0,8,383.0,180.0,4955,11.5,71,usa,dodge monaco (sw)
43,13.0,8,400.0,170.0,4746,12.0,71,usa,ford country squire (sw)
44,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw)
45,18.0,6,258.0,110.0,2962,13.5,71,usa,amc hornet sportabout (sw)
46,22.0,4,140.0,72.0,2408,19.0,71,usa,chevrolet vega (sw)
47,19.0,6,250.0,100.0,3282,15.0,71,usa,pontiac firebird
48,18.0,6,250.0,88.0,3139,14.5,71,usa,ford mustang
49,23.0,4,122.0,86.0,2220,14.0,71,usa,mercury capri 2000
50,28.0,4,116.0,90.0,2123,14.0,71,europe,opel 1900
51,30.0,4,79.0,70.0,2074,19.5,71,europe,peugeot 304
52,30.0,4,88.0,76.0,2065,14.5,71,europe,fiat 124b
53,31.0,4,71.0,65.0,1773,19.0,71,japan,toyota corolla 1200
54,35.0,4,72.0,69.0,1613,18.0,71,japan,datsun 1200
55,27.0,4,97.0,60.0,1834,19.0,71,europe,volkswagen model 111
56,26.0,4,91.0,70.0,1955,20.5,71,usa,plymouth cricket
57,24.0,4,113.0,95.0,2278,15.5,72,japan,toyota corona hardtop
58,25.0,4,97.5,80.0,2126,17.0,72,usa,dodge colt hardtop
59,23.0,4,97.0,54.0,2254,23.5,72,europe,volkswagen type 3
60,20.0,4,140.0,90.0,2408,19.5,72,usa,chevrolet vega
61,21.0,4,122.0,86.0,2226,16.5,72,usa,ford pinto runabout
62,13.0,8,350.0,165.0,4274,12.0,72,usa,chevrolet impala
63,14.0,8,400.0,175.0,4385,12.0,72,usa,pontiac catalina
64,15.0,8,318.0,150.0,4135,13.5,72,usa,plymouth fury iii
65,14.0,8,351.0,153.0,4129,13.0,72,usa,ford galaxie 500
66,17.0,8,304.0,150.0,3672,11.5,72,usa,amc ambassador sst
67,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
68,13.0,8,350.0,155.0,4502,13.5,72,usa,buick lesabre custom
69,12.0,8,350.0,160.0,4456,13.5,72,usa,oldsmobile delta 88 royale
70,13.0,8,400.0,190.0,4422,12.5,72,usa,chrysler newport royal
71,19.0,3,70.0,97.0,2330,13.5,72,japan,mazda rx2 coupe
72,15.0,8,304.0,150.0,3892,12.5,72,usa,amc matador (sw)
73,13.0,8,307.0,130.0,4098,14.0,72,usa,chevrolet chevelle concours (sw)
74,13.0,8,302.0,140.0,4294,16.0,72,usa,ford gran torino (sw)
75,14.0,8,318.0,150.0,4077,14.0,72,usa,plymouth satellite custom (sw)
76,18.0,4,121.0,112.0,2933,14.5,72,europe,volvo 145e (sw)
77,22.0,4,121.0,76.0,2511,18.0,72,europe,volkswagen 411 (sw)
78,21.0,4,120.0,87.0,2979,19.5,72,europe,peugeot 504 (sw)
79,26.0,4,96.0,69.0,2189,18.0,72,europe,renault 12 (sw)
80,22.0,4,122.0,86.0,2395,16.0,72,usa,ford pinto (sw)
81,28.0,4,97.0,92.0,2288,17.0,72,japan,datsun 510 (sw)
82,23.0,4,120.0,97.0,2506,14.5,72,japan,toyouta corona mark ii (sw)
83,28.0,4,98.0,80.0,2164,15.0,72,usa,dodge colt (sw)
84,27.0,4,97.0,88.0,2100,16.5,72,japan,toyota corolla 1600 (sw)
85,13.0,8,350.0,175.0,4100,13.0,73,usa,buick century 350
86,14.0,8,304.0,150.0,3672,11.5,73,usa,amc matador
87,13.0,8,350.0,145.0,3988,13.0,73,usa,chevrolet malibu
88,14.0,8,302.0,137.0,4042,14.5,73,usa,ford gran torino
89,15.0,8,318.0,150.0,3777,12.5,73,usa,dodge coronet custom
90,12.0,8,429.0,198.0,4952,11.5,73,usa,mercury marquis brougham
91,13.0,8,400.0,150.0,4464,12.0,73,usa,chevrolet caprice classic
92,13.0,8,351.0,158.0,4363,13.0,73,usa,ford ltd
93,14.0,8,318.0,150.0,4237,14.5,73,usa,plymouth fury gran sedan
94,13.0,8,440.0,215.0,4735,11.0,73,usa,chrysler new yorker brougham
95,12.0,8,455.0,225.0,4951,11.0,73,usa,buick electra 225 custom
96,13.0,8,360.0,175.0,3821,11.0,73,usa,amc ambassador brougham
97,18.0,6,225.0,105.0,3121,16.5,73,usa,plymouth valiant
98,16.0,6,250.0,100.0,3278,18.0,73,usa,chevrolet nova custom
99,18.0,6,232.0,100.0,2945,16.0,73,usa,amc hornet
100,18.0,6,250.0,88.0,3021,16.5,73,usa,ford maverick
101,23.0,6,198.0,95.0,2904,16.0,73,usa,plymouth duster
102,26.0,4,97.0,46.0,1950,21.0,73,europe,volkswagen super beetle
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
104,12.0,8,400.0,167.0,4906,12.5,73,usa,ford country
105,13.0,8,360.0,170.0,4654,13.0,73,usa,plymouth custom suburb
106,12.0,8,350.0,180.0,4499,12.5,73,usa,oldsmobile vista cruiser
107,18.0,6,232.0,100.0,2789,15.0,73,usa,amc gremlin
108,20.0,4,97.0,88.0,2279,19.0,73,japan,toyota carina
109,21.0,4,140.0,72.0,2401,19.5,73,usa,chevrolet vega
110,22.0,4,108.0,94.0,2379,16.5,73,japan,datsun 610
111,18.0,3,70.0,90.0,2124,13.5,73,japan,maxda rx3
112,19.0,4,122.0,85.0,2310,18.5,73,usa,ford pinto
113,21.0,6,155.0,107.0,2472,14.0,73,usa,mercury capri v6
114,26.0,4,98.0,90.0,2265,15.5,73,europe,fiat 124 sport coupe
115,15.0,8,350.0,145.0,4082,13.0,73,usa,chevrolet monte carlo s
116,16.0,8,400.0,230.0,4278,9.5,73,usa,pontiac grand prix
117,29.0,4,68.0,49.0,1867,19.5,73,europe,fiat 128
118,24.0,4,116.0,75.0,2158,15.5,73,europe,opel manta
119,20.0,4,114.0,91.0,2582,14.0,73,europe,audi 100ls
120,19.0,4,121.0,112.0,2868,15.5,73,europe,volvo 144ea
121,15.0,8,318.0,150.0,3399,11.0,73,usa,dodge dart custom
122,24.0,4,121.0,110.0,2660,14.0,73,europe,saab 99le
123,20.0,6,156.0,122.0,2807,13.5,73,japan,toyota mark ii
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega
125,20.0,6,198.0,95.0,3102,16.5,74,usa,plymouth duster
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
127,19.0,6,232.0,100.0,2901,16.0,74,usa,amc hornet
128,15.0,6,250.0,100.0,3336,17.0,74,usa,chevrolet nova
129,31.0,4,79.0,67.0,1950,19.0,74,japan,datsun b210
130,26.0,4,122.0,80.0,2451,16.5,74,usa,ford pinto
131,32.0,4,71.0,65.0,1836,21.0,74,japan,toyota corolla 1200
132,25.0,4,140.0,75.0,2542,17.0,74,usa,chevrolet vega
133,16.0,6,250.0,100.0,3781,17.0,74,usa,chevrolet chevelle malibu classic
134,16.0,6,258.0,110.0,3632,18.0,74,usa,amc matador
135,18.0,6,225.0,105.0,3613,16.5,74,usa,plymouth satellite sebring
136,16.0,8,302.0,140.0,4141,14.0,74,usa,ford gran torino
137,13.0,8,350.0,150.0,4699,14.5,74,usa,buick century luxus (sw)
138,14.0,8,318.0,150.0,4457,13.5,74,usa,dodge coronet custom (sw)
139,14.0,8,302.0,140.0,4638,16.0,74,usa,ford gran torino (sw)
140,14.0,8,304.0,150.0,4257,15.5,74,usa,amc matador (sw)
141,29.0,4,98.0,83.0,2219,16.5,74,europe,audi fox
142,26.0,4,79.0,67.0,1963,15.5,74,europe,volkswagen dasher
143,26.0,4,97.0,78.0,2300,14.5,74,europe,opel manta
144,31.0,4,76.0,52.0,1649,16.5,74,japan,toyota corona
145,32.0,4,83.0,61.0,2003,19.0,74,japan,datsun 710
146,28.0,4,90.0,75.0,2125,14.5,74,usa,dodge colt
147,24.0,4,90.0,75.0,2108,15.5,74,europe,fiat 128
148,26.0,4,116.0,75.0,2246,14.0,74,europe,fiat 124 tc
149,24.0,4,120.0,97.0,2489,15.0,74,japan,honda civic
150,26.0,4,108.0,93.0,2391,15.5,74,japan,subaru
151,31.0,4,79.0,67.0,2000,16.0,74,europe,fiat x1.9
152,19.0,6,225.0,95.0,3264,16.0,75,usa,plymouth valiant custom
153,18.0,6,250.0,105.0,3459,16.0,75,usa,chevrolet nova
154,15.0,6,250.0,72.0,3432,21.0,75,usa,mercury monarch
155,15.0,6,250.0,72.0,3158,19.5,75,usa,ford maverick
156,16.0,8,400.0,170.0,4668,11.5,75,usa,pontiac catalina
157,15.0,8,350.0,145.0,4440,14.0,75,usa,chevrolet bel air
158,16.0,8,318.0,150.0,4498,14.5,75,usa,plymouth grand fury
159,14.0,8,351.0,148.0,4657,13.5,75,usa,ford ltd
160,17.0,6,231.0,110.0,3907,21.0,75,usa,buick century
161,16.0,6,250.0,105.0,3897,18.5,75,usa,chevroelt chevelle malibu
162,15.0,6,258.0,110.0,3730,19.0,75,usa,amc matador
163,18.0,6,225.0,95.0,3785,19.0,75,usa,plymouth fury
164,21.0,6,231.0,110.0,3039,15.0,75,usa,buick skyhawk
165,20.0,8,262.0,110.0,3221,13.5,75,usa,chevrolet monza 2+2
166,13.0,8,302.0,129.0,3169,12.0,75,usa,ford mustang ii
167,29.0,4,97.0,75.0,2171,16.0,75,japan,toyota corolla
168,23.0,4,140.0,83.0,2639,17.0,75,usa,ford pinto
169,20.0,6,232.0,100.0,2914,16.0,75,usa,amc gremlin
170,23.0,4,140.0,78.0,2592,18.5,75,usa,pontiac astro
171,24.0,4,134.0,96.0,2702,13.5,75,japan,toyota corona
172,25.0,4,90.0,71.0,2223,16.5,75,europe,volkswagen dasher
173,24.0,4,119.0,97.0,2545,17.0,75,japan,datsun 710
174,18.0,6,171.0,97.0,2984,14.5,75,usa,ford pinto
175,29.0,4,90.0,70.0,1937,14.0,75,europe,volkswagen rabbit
176,19.0,6,232.0,90.0,3211,17.0,75,usa,amc pacer
177,23.0,4,115.0,95.0,2694,15.0,75,europe,audi 100ls
178,23.0,4,120.0,88.0,2957,17.0,75,europe,peugeot 504
179,22.0,4,121.0,98.0,2945,14.5,75,europe,volvo 244dl
180,25.0,4,121.0,115.0,2671,13.5,75,europe,saab 99le
181,33.0,4,91.0,53.0,1795,17.5,75,japan,honda civic cvcc
182,28.0,4,107.0,86.0,2464,15.5,76,europe,fiat 131
183,25.0,4,116.0,81.0,2220,16.9,76,europe,opel 1900
184,25.0,4,140.0,92.0,2572,14.9,76,usa,capri ii
185,26.0,4,98.0,79.0,2255,17.7,76,usa,dodge colt
186,27.0,4,101.0,83.0,2202,15.3,76,europe,renault 12tl
187,17.5,8,305.0,140.0,4215,13.0,76,usa,chevrolet chevelle malibu classic
188,16.0,8,318.0,150.0,4190,13.0,76,usa,dodge coronet brougham
189,15.5,8,304.0,120.0,3962,13.9,76,usa,amc matador
190,14.5,8,351.0,152.0,4215,12.8,76,usa,ford gran torino
191,22.0,6,225.0,100.0,3233,15.4,76,usa,plymouth valiant
192,22.0,6,250.0,105.0,3353,14.5,76,usa,chevrolet nova
193,24.0,6,200.0,81.0,3012,17.6,76,usa,ford maverick
194,22.5,6,232.0,90.0,3085,17.6,76,usa,amc hornet
195,29.0,4,85.0,52.0,2035,22.2,76,usa,chevrolet chevette
196,24.5,4,98.0,60.0,2164,22.1,76,usa,chevrolet woody
197,29.0,4,90.0,70.0,1937,14.2,76,europe,vw rabbit
198,33.0,4,91.0,53.0,1795,17.4,76,japan,honda civic
199,20.0,6,225.0,100.0,3651,17.7,76,usa,dodge aspen se
200,18.0,6,250.0,78.0,3574,21.0,76,usa,ford granada ghia
201,18.5,6,250.0,110.0,3645,16.2,76,usa,pontiac ventura sj
202,17.5,6,258.0,95.0,3193,17.8,76,usa,amc pacer d/l
203,29.5,4,97.0,71.0,1825,12.2,76,europe,volkswagen rabbit
204,32.0,4,85.0,70.0,1990,17.0,76,japan,datsun b-210
205,28.0,4,97.0,75.0,2155,16.4,76,japan,toyota corolla
206,26.5,4,140.0,72.0,2565,13.6,76,usa,ford pinto
207,20.0,4,130.0,102.0,3150,15.7,76,europe,volvo 245
208,13.0,8,318.0,150.0,3940,13.2,76,usa,plymouth volare premier v8
209,19.0,4,120.0,88.0,3270,21.9,76,europe,peugeot 504
210,19.0,6,156.0,108.0,2930,15.5,76,japan,toyota mark ii
211,16.5,6,168.0,120.0,3820,16.7,76,europe,mercedes-benz 280s
212,16.5,8,350.0,180.0,4380,12.1,76,usa,cadillac seville
213,13.0,8,350.0,145.0,4055,12.0,76,usa,chevy c10
214,13.0,8,302.0,130.0,3870,15.0,76,usa,ford f108
215,13.0,8,318.0,150.0,3755,14.0,76,usa,dodge d100
216,31.5,4,98.0,68.0,2045,18.5,77,japan,honda accord cvcc
217,30.0,4,111.0,80.0,2155,14.8,77,usa,buick opel isuzu deluxe
218,36.0,4,79.0,58.0,1825,18.6,77,europe,renault 5 gtl
219,25.5,4,122.0,96.0,2300,15.5,77,usa,plymouth arrow gs
220,33.5,4,85.0,70.0,1945,16.8,77,japan,datsun f-10 hatchback
221,17.5,8,305.0,145.0,3880,12.5,77,usa,chevrolet caprice classic
222,17.0,8,260.0,110.0,4060,19.0,77,usa,oldsmobile cutlass supreme
223,15.5,8,318.0,145.0,4140,13.7,77,usa,dodge monaco brougham
224,15.0,8,302.0,130.0,4295,14.9,77,usa,mercury cougar brougham
225,17.5,6,250.0,110.0,3520,16.4,77,usa,chevrolet concours
226,20.5,6,231.0,105.0,3425,16.9,77,usa,buick skylark
227,19.0,6,225.0,100.0,3630,17.7,77,usa,plymouth volare custom
228,18.5,6,250.0,98.0,3525,19.0,77,usa,ford granada
229,16.0,8,400.0,180.0,4220,11.1,77,usa,pontiac grand prix lj
230,15.5,8,350.0,170.0,4165,11.4,77,usa,chevrolet monte carlo landau
231,15.5,8,400.0,190.0,4325,12.2,77,usa,chrysler cordoba
232,16.0,8,351.0,149.0,4335,14.5,77,usa,ford thunderbird
233,29.0,4,97.0,78.0,1940,14.5,77,europe,volkswagen rabbit custom
234,24.5,4,151.0,88.0,2740,16.0,77,usa,pontiac sunbird coupe
235,26.0,4,97.0,75.0,2265,18.2,77,japan,toyota corolla liftback
236,25.5,4,140.0,89.0,2755,15.8,77,usa,ford mustang ii 2+2
237,30.5,4,98.0,63.0,2051,17.0,77,usa,chevrolet chevette
238,33.5,4,98.0,83.0,2075,15.9,77,usa,dodge colt m/m
239,30.0,4,97.0,67.0,1985,16.4,77,japan,subaru dl
240,30.5,4,97.0,78.0,2190,14.1,77,europe,volkswagen dasher
241,22.0,6,146.0,97.0,2815,14.5,77,japan,datsun 810
242,21.5,4,121.0,110.0,2600,12.8,77,europe,bmw 320i
243,21.5,3,80.0,110.0,2720,13.5,77,japan,mazda rx-4
244,43.1,4,90.0,48.0,1985,21.5,78,europe,volkswagen rabbit custom diesel
245,36.1,4,98.0,66.0,1800,14.4,78,usa,ford fiesta
246,32.8,4,78.0,52.0,1985,19.4,78,japan,mazda glc deluxe
247,39.4,4,85.0,70.0,2070,18.6,78,japan,datsun b210 gx
248,36.1,4,91.0,60.0,1800,16.4,78,japan,honda civic cvcc
249,19.9,8,260.0,110.0,3365,15.5,78,usa,oldsmobile cutlass salon brougham
250,19.4,8,318.0,140.0,3735,13.2,78,usa,dodge diplomat
251,20.2,8,302.0,139.0,3570,12.8,78,usa,mercury monarch ghia
252,19.2,6,231.0,105.0,3535,19.2,78,usa,pontiac phoenix lj
253,20.5,6,200.0,95.0,3155,18.2,78,usa,chevrolet malibu
254,20.2,6,200.0,85.0,2965,15.8,78,usa,ford fairmont (auto)
255,25.1,4,140.0,88.0,2720,15.4,78,usa,ford fairmont (man)
256,20.5,6,225.0,100.0,3430,17.2,78,usa,plymouth volare
257,19.4,6,232.0,90.0,3210,17.2,78,usa,amc concord
258,20.6,6,231.0,105.0,3380,15.8,78,usa,buick century special
259,20.8,6,200.0,85.0,3070,16.7,78,usa,mercury zephyr
260,18.6,6,225.0,110.0,3620,18.7,78,usa,dodge aspen
261,18.1,6,258.0,120.0,3410,15.1,78,usa,amc concord d/l
262,19.2,8,305.0,145.0,3425,13.2,78,usa,chevrolet monte carlo landau
263,17.7,6,231.0,165.0,3445,13.4,78,usa,buick regal sport coupe (turbo)
264,18.1,8,302.0,139.0,3205,11.2,78,usa,ford futura
265,17.5,8,318.0,140.0,4080,13.7,78,usa,dodge magnum xe
266,30.0,4,98.0,68.0,2155,16.5,78,usa,chevrolet chevette
267,27.5,4,134.0,95.0,2560,14.2,78,japan,toyota corona
268,27.2,4,119.0,97.0,2300,14.7,78,japan,datsun 510
269,30.9,4,105.0,75.0,2230,14.5,78,usa,dodge omni
270,21.1,4,134.0,95.0,2515,14.8,78,japan,toyota celica gt liftback
271,23.2,4,156.0,105.0,2745,16.7,78,usa,plymouth sapporo
272,23.8,4,151.0,85.0,2855,17.6,78,usa,oldsmobile starfire sx
273,23.9,4,119.0,97.0,2405,14.9,78,japan,datsun 200-sx
274,20.3,5,131.0,103.0,2830,15.9,78,europe,audi 5000
275,17.0,6,163.0,125.0,3140,13.6,78,europe,volvo 264gl
276,21.6,4,121.0,115.0,2795,15.7,78,europe,saab 99gle
277,16.2,6,163.0,133.0,3410,15.8,78,europe,peugeot 604sl
278,31.5,4,89.0,71.0,1990,14.9,78,europe,volkswagen scirocco
279,29.5,4,98.0,68.0,2135,16.6,78,japan,honda accord lx
280,21.5,6,231.0,115.0,3245,15.4,79,usa,pontiac lemans v6
281,19.8,6,200.0,85.0,2990,18.2,79,usa,mercury zephyr 6
282,22.3,4,140.0,88.0,2890,17.3,79,usa,ford fairmont 4
283,20.2,6,232.0,90.0,3265,18.2,79,usa,amc concord dl 6
284,20.6,6,225.0,110.0,3360,16.6,79,usa,dodge aspen 6
285,17.0,8,305.0,130.0,3840,15.4,79,usa,chevrolet caprice classic
286,17.6,8,302.0,129.0,3725,13.4,79,usa,ford ltd landau
287,16.5,8,351.0,138.0,3955,13.2,79,usa,mercury grand marquis
288,18.2,8,318.0,135.0,3830,15.2,79,usa,dodge st. regis
289,16.9,8,350.0,155.0,4360,14.9,79,usa,buick estate wagon (sw)
290,15.5,8,351.0,142.0,4054,14.3,79,usa,ford country squire (sw)
291,19.2,8,267.0,125.0,3605,15.0,79,usa,chevrolet malibu classic (sw)
292,18.5,8,360.0,150.0,3940,13.0,79,usa,chrysler lebaron town @ country (sw)
293,31.9,4,89.0,71.0,1925,14.0,79,europe,vw rabbit custom
294,34.1,4,86.0,65.0,1975,15.2,79,japan,maxda glc deluxe
295,35.7,4,98.0,80.0,1915,14.4,79,usa,dodge colt hatchback custom
296,27.4,4,121.0,80.0,2670,15.0,79,usa,amc spirit dl
297,25.4,5,183.0,77.0,3530,20.1,79,europe,mercedes benz 300d
298,23.0,8,350.0,125.0,3900,17.4,79,usa,cadillac eldorado
299,27.2,4,141.0,71.0,3190,24.8,79,europe,peugeot 504
300,23.9,8,260.0,90.0,3420,22.2,79,usa,oldsmobile cutlass salon brougham
301,34.2,4,105.0,70.0,2200,13.2,79,usa,plymouth horizon
302,34.5,4,105.0,70.0,2150,14.9,79,usa,plymouth horizon tc3
303,31.8,4,85.0,65.0,2020,19.2,79,japan,datsun 210
304,37.3,4,91.0,69.0,2130,14.7,79,europe,fiat strada custom
305,28.4,4,151.0,90.0,2670,16.0,79,usa,buick skylark limited
306,28.8,6,173.0,115.0,2595,11.3,79,usa,chevrolet citation
307,26.8,6,173.0,115.0,2700,12.9,79,usa,oldsmobile omega brougham
308,33.5,4,151.0,90.0,2556,13.2,79,usa,pontiac phoenix
309,41.5,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
310,38.1,4,89.0,60.0,1968,18.8,80,japan,toyota corolla tercel
311,32.1,4,98.0,70.0,2120,15.5,80,usa,chevrolet chevette
312,37.2,4,86.0,65.0,2019,16.4,80,japan,datsun 310
313,28.0,4,151.0,90.0,2678,16.5,80,usa,chevrolet citation
314,26.4,4,140.0,88.0,2870,18.1,80,usa,ford fairmont
315,24.3,4,151.0,90.0,3003,20.1,80,usa,amc concord
316,19.1,6,225.0,90.0,3381,18.7,80,usa,dodge aspen
317,34.3,4,97.0,78.0,2188,15.8,80,europe,audi 4000
318,29.8,4,134.0,90.0,2711,15.5,80,japan,toyota corona liftback
319,31.3,4,120.0,75.0,2542,17.5,80,japan,mazda 626
320,37.0,4,119.0,92.0,2434,15.0,80,japan,datsun 510 hatchback
321,32.2,4,108.0,75.0,2265,15.2,80,japan,toyota corolla
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc
323,27.9,4,156.0,105.0,2800,14.4,80,usa,dodge colt
324,40.8,4,85.0,65.0,2110,19.2,80,japan,datsun 210
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
327,36.4,5,121.0,67.0,2950,19.9,80,europe,audi 5000s (diesel)
328,30.0,4,146.0,67.0,3250,21.8,80,europe,mercedes-benz 240d
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
331,33.8,4,97.0,67.0,2145,18.0,80,japan,subaru dl
332,29.8,4,89.0,62.0,1845,15.3,80,europe,vokswagen rabbit
333,32.7,6,168.0,132.0,2910,11.4,80,japan,datsun 280-zx
334,23.7,3,70.0,100.0,2420,12.5,80,japan,mazda rx-7 gs
335,35.0,4,122.0,88.0,2500,15.1,80,europe,triumph tr7 coupe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
337,32.4,4,107.0,72.0,2290,17.0,80,japan,honda accord
338,27.2,4,135.0,84.0,2490,15.7,81,usa,plymouth reliant
339,26.6,4,151.0,84.0,2635,16.4,81,usa,buick skylark
340,25.8,4,156.0,92.0,2620,14.4,81,usa,dodge aries wagon (sw)
341,23.5,6,173.0,110.0,2725,12.6,81,usa,chevrolet citation
342,30.0,4,135.0,84.0,2385,12.9,81,usa,plymouth reliant
343,39.1,4,79.0,58.0,1755,16.9,81,japan,toyota starlet
344,39.0,4,86.0,64.0,1875,16.4,81,usa,plymouth champ
345,35.1,4,81.0,60.0,1760,16.1,81,japan,honda civic 1300
346,32.3,4,97.0,67.0,2065,17.8,81,japan,subaru
347,37.0,4,85.0,65.0,1975,19.4,81,japan,datsun 210 mpg
348,37.7,4,89.0,62.0,2050,17.3,81,japan,toyota tercel
349,34.1,4,91.0,68.0,1985,16.0,81,japan,mazda glc 4

In [ ]:
car.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [ ]:
car = car.dropna()

In [ ]:
car.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [ ]:
car.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592
std,7.805007,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.000000,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000
50%,22.750000,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model_year    392 non-null    int64
 7   origin        392 non-null    object
 8   name          392 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 30.6+ KB

In [ ]:
car.shape

(392, 9)

**Analysing Columns**

In [ ]:
import pandas as pd

In [ ]:
mpg = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/MPG.csv')

In [ ]:
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,usa,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
22,25.0,4,104.0,95.0,2375,17.5,70,europe,saab 99e
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
24,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
30,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
31,25.0,4,113.0,95.0,2228,14.0,71,japan,toyota corona
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
33,19.0,6,232.0,100.0,2634,13.0,71,usa,amc gremlin
34,16.0,6,225.0,105.0,3439,15.5,71,usa,plymouth satellite custom
35,17.0,6,250.0,100.0,3329,15.5,71,usa,chevrolet chevelle malibu
36,19.0,6,250.0,88.0,3302,15.5,71,usa,ford torino 500
37,18.0,6,232.0,100.0,3288,15.5,71,usa,amc matador
38,14.0,8,350.0,165.0,4209,12.0,71,usa,chevrolet impala
39,14.0,8,400.0,175.0,4464,11.5,71,usa,pontiac catalina brougham
40,14.0,8,351.0,153.0,4154,13.5,71,usa,ford galaxie 500
41,14.0,8,318.0,150.0,4096,13.0,71,usa,plymouth fury iii
42,12.0,8,383.0,180.0,4955,11.5,71,usa,dodge monaco (sw)
43,13.0,8,400.0,170.0,4746,12.0,71,usa,ford country squire (sw)
44,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw)
45,18.0,6,258.0,110.0,2962,13.5,71,usa,amc hornet sportabout (sw)
46,22.0,4,140.0,72.0,2408,19.0,71,usa,chevrolet vega (sw)
47,19.0,6,250.0,100.0,3282,15.0,71,usa,pontiac firebird
48,18.0,6,250.0,88.0,3139,14.5,71,usa,ford mustang
49,23.0,4,122.0,86.0,2220,14.0,71,usa,mercury capri 2000
50,28.0,4,116.0,90.0,2123,14.0,71,europe,opel 1900
51,30.0,4,79.0,70.0,2074,19.5,71,europe,peugeot 304
52,30.0,4,88.0,76.0,2065,14.5,71,europe,fiat 124b
53,31.0,4,71.0,65.0,1773,19.0,71,japan,toyota corolla 1200
54,35.0,4,72.0,69.0,1613,18.0,71,japan,datsun 1200
55,27.0,4,97.0,60.0,1834,19.0,71,europe,volkswagen model 111
56,26.0,4,91.0,70.0,1955,20.5,71,usa,plymouth cricket
57,24.0,4,113.0,95.0,2278,15.5,72,japan,toyota corona hardtop
58,25.0,4,97.5,80.0,2126,17.0,72,usa,dodge colt hardtop
59,23.0,4,97.0,54.0,2254,23.5,72,europe,volkswagen type 3
60,20.0,4,140.0,90.0,2408,19.5,72,usa,chevrolet vega
61,21.0,4,122.0,86.0,2226,16.5,72,usa,ford pinto runabout
62,13.0,8,350.0,165.0,4274,12.0,72,usa,chevrolet impala
63,14.0,8,400.0,175.0,4385,12.0,72,usa,pontiac catalina
64,15.0,8,318.0,150.0,4135,13.5,72,usa,plymouth fury iii
65,14.0,8,351.0,153.0,4129,13.0,72,usa,ford galaxie 500
66,17.0,8,304.0,150.0,3672,11.5,72,usa,amc ambassador sst
67,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
68,13.0,8,350.0,155.0,4502,13.5,72,usa,buick lesabre custom
69,12.0,8,350.0,160.0,4456,13.5,72,usa,oldsmobile delta 88 royale
70,13.0,8,400.0,190.0,4422,12.5,72,usa,chrysler newport royal
71,19.0,3,70.0,97.0,2330,13.5,72,japan,mazda rx2 coupe
72,15.0,8,304.0,150.0,3892,12.5,72,usa,amc matador (sw)
73,13.0,8,307.0,130.0,4098,14.0,72,usa,chevrolet chevelle concours (sw)
74,13.0,8,302.0,140.0,4294,16.0,72,usa,ford gran torino (sw)
75,14.0,8,318.0,150.0,4077,14.0,72,usa,plymouth satellite custom (sw)
76,18.0,4,121.0,112.0,2933,14.5,72,europe,volvo 145e (sw)
77,22.0,4,121.0,76.0,2511,18.0,72,europe,volkswagen 411 (sw)
78,21.0,4,120.0,87.0,2979,19.5,72,europe,peugeot 504 (sw)
79,26.0,4,96.0,69.0,2189,18.0,72,europe,renault 12 (sw)
80,22.0,4,122.0,86.0,2395,16.0,72,usa,ford pinto (sw)
81,28.0,4,97.0,92.0,2288,17.0,72,japan,datsun 510 (sw)
82,23.0,4,120.0,97.0,2506,14.5,72,japan,toyouta corona mark ii (sw)
83,28.0,4,98.0,80.0,2164,15.0,72,usa,dodge colt (sw)
84,27.0,4,97.0,88.0,2100,16.5,72,japan,toyota corolla 1600 (sw)
85,13.0,8,350.0,175.0,4100,13.0,73,usa,buick century 350
86,14.0,8,304.0,150.0,3672,11.5,73,usa,amc matador
87,13.0,8,350.0,145.0,3988,13.0,73,usa,chevrolet malibu
88,14.0,8,302.0,137.0,4042,14.5,73,usa,ford gran torino
89,15.0,8,318.0,150.0,3777,12.5,73,usa,dodge coronet custom
90,12.0,8,429.0,198.0,4952,11.5,73,usa,mercury marquis brougham
91,13.0,8,400.0,150.0,4464,12.0,73,usa,chevrolet caprice classic
92,13.0,8,351.0,158.0,4363,13.0,73,usa,ford ltd
93,14.0,8,318.0,150.0,4237,14.5,73,usa,plymouth fury gran sedan
94,13.0,8,440.0,215.0,4735,11.0,73,usa,chrysler new yorker brougham
95,12.0,8,455.0,225.0,4951,11.0,73,usa,buick electra 225 custom
96,13.0,8,360.0,175.0,3821,11.0,73,usa,amc ambassador brougham
97,18.0,6,225.0,105.0,3121,16.5,73,usa,plymouth valiant
98,16.0,6,250.0,100.0,3278,18.0,73,usa,chevrolet nova custom
99,18.0,6,232.0,100.0,2945,16.0,73,usa,amc hornet
100,18.0,6,250.0,88.0,3021,16.5,73,usa,ford maverick
101,23.0,6,198.0,95.0,2904,16.0,73,usa,plymouth duster
102,26.0,4,97.0,46.0,1950,21.0,73,europe,volkswagen super beetle
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
104,12.0,8,400.0,167.0,4906,12.5,73,usa,ford country
105,13.0,8,360.0,170.0,4654,13.0,73,usa,plymouth custom suburb
106,12.0,8,350.0,180.0,4499,12.5,73,usa,oldsmobile vista cruiser
107,18.0,6,232.0,100.0,2789,15.0,73,usa,amc gremlin
108,20.0,4,97.0,88.0,2279,19.0,73,japan,toyota carina
109,21.0,4,140.0,72.0,2401,19.5,73,usa,chevrolet vega
110,22.0,4,108.0,94.0,2379,16.5,73,japan,datsun 610
111,18.0,3,70.0,90.0,2124,13.5,73,japan,maxda rx3
112,19.0,4,122.0,85.0,2310,18.5,73,usa,ford pinto
113,21.0,6,155.0,107.0,2472,14.0,73,usa,mercury capri v6
114,26.0,4,98.0,90.0,2265,15.5,73,europe,fiat 124 sport coupe
115,15.0,8,350.0,145.0,4082,13.0,73,usa,chevrolet monte carlo s
116,16.0,8,400.0,230.0,4278,9.5,73,usa,pontiac grand prix
117,29.0,4,68.0,49.0,1867,19.5,73,europe,fiat 128
118,24.0,4,116.0,75.0,2158,15.5,73,europe,opel manta
119,20.0,4,114.0,91.0,2582,14.0,73,europe,audi 100ls
120,19.0,4,121.0,112.0,2868,15.5,73,europe,volvo 144ea
121,15.0,8,318.0,150.0,3399,11.0,73,usa,dodge dart custom
122,24.0,4,121.0,110.0,2660,14.0,73,europe,saab 99le
123,20.0,6,156.0,122.0,2807,13.5,73,japan,toyota mark ii
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega
125,20.0,6,198.0,95.0,3102,16.5,74,usa,plymouth duster
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
127,19.0,6,232.0,100.0,2901,16.0,74,usa,amc hornet
128,15.0,6,250.0,100.0,3336,17.0,74,usa,chevrolet nova
129,31.0,4,79.0,67.0,1950,19.0,74,japan,datsun b210
130,26.0,4,122.0,80.0,2451,16.5,74,usa,ford pinto
131,32.0,4,71.0,65.0,1836,21.0,74,japan,toyota corolla 1200
132,25.0,4,140.0,75.0,2542,17.0,74,usa,chevrolet vega
133,16.0,6,250.0,100.0,3781,17.0,74,usa,chevrolet chevelle malibu classic
134,16.0,6,258.0,110.0,3632,18.0,74,usa,amc matador
135,18.0,6,225.0,105.0,3613,16.5,74,usa,plymouth satellite sebring
136,16.0,8,302.0,140.0,4141,14.0,74,usa,ford gran torino
137,13.0,8,350.0,150.0,4699,14.5,74,usa,buick century luxus (sw)
138,14.0,8,318.0,150.0,4457,13.5,74,usa,dodge coronet custom (sw)
139,14.0,8,302.0,140.0,4638,16.0,74,usa,ford gran torino (sw)
140,14.0,8,304.0,150.0,4257,15.5,74,usa,amc matador (sw)
141,29.0,4,98.0,83.0,2219,16.5,74,europe,audi fox
142,26.0,4,79.0,67.0,1963,15.5,74,europe,volkswagen dasher
143,26.0,4,97.0,78.0,2300,14.5,74,europe,opel manta
144,31.0,4,76.0,52.0,1649,16.5,74,japan,toyota corona
145,32.0,4,83.0,61.0,2003,19.0,74,japan,datsun 710
146,28.0,4,90.0,75.0,2125,14.5,74,usa,dodge colt
147,24.0,4,90.0,75.0,2108,15.5,74,europe,fiat 128
148,26.0,4,116.0,75.0,2246,14.0,74,europe,fiat 124 tc
149,24.0,4,120.0,97.0,2489,15.0,74,japan,honda civic
150,26.0,4,108.0,93.0,2391,15.5,74,japan,subaru
151,31.0,4,79.0,67.0,2000,16.0,74,europe,fiat x1.9
152,19.0,6,225.0,95.0,3264,16.0,75,usa,plymouth valiant custom
153,18.0,6,250.0,105.0,3459,16.0,75,usa,chevrolet nova
154,15.0,6,250.0,72.0,3432,21.0,75,usa,mercury monarch
155,15.0,6,250.0,72.0,3158,19.5,75,usa,ford maverick
156,16.0,8,400.0,170.0,4668,11.5,75,usa,pontiac catalina
157,15.0,8,350.0,145.0,4440,14.0,75,usa,chevrolet bel air
158,16.0,8,318.0,150.0,4498,14.5,75,usa,plymouth grand fury
159,14.0,8,351.0,148.0,4657,13.5,75,usa,ford ltd
160,17.0,6,231.0,110.0,3907,21.0,75,usa,buick century
161,16.0,6,250.0,105.0,3897,18.5,75,usa,chevroelt chevelle malibu
162,15.0,6,258.0,110.0,3730,19.0,75,usa,amc matador
163,18.0,6,225.0,95.0,3785,19.0,75,usa,plymouth fury
164,21.0,6,231.0,110.0,3039,15.0,75,usa,buick skyhawk
165,20.0,8,262.0,110.0,3221,13.5,75,usa,chevrolet monza 2+2
166,13.0,8,302.0,129.0,3169,12.0,75,usa,ford mustang ii
167,29.0,4,97.0,75.0,2171,16.0,75,japan,toyota corolla
168,23.0,4,140.0,83.0,2639,17.0,75,usa,ford pinto
169,20.0,6,232.0,100.0,2914,16.0,75,usa,amc gremlin
170,23.0,4,140.0,78.0,2592,18.5,75,usa,pontiac astro
171,24.0,4,134.0,96.0,2702,13.5,75,japan,toyota corona
172,25.0,4,90.0,71.0,2223,16.5,75,europe,volkswagen dasher
173,24.0,4,119.0,97.0,2545,17.0,75,japan,datsun 710
174,18.0,6,171.0,97.0,2984,14.5,75,usa,ford pinto
175,29.0,4,90.0,70.0,1937,14.0,75,europe,volkswagen rabbit
176,19.0,6,232.0,90.0,3211,17.0,75,usa,amc pacer
177,23.0,4,115.0,95.0,2694,15.0,75,europe,audi 100ls
178,23.0,4,120.0,88.0,2957,17.0,75,europe,peugeot 504
179,22.0,4,121.0,98.0,2945,14.5,75,europe,volvo 244dl
180,25.0,4,121.0,115.0,2671,13.5,75,europe,saab 99le
181,33.0,4,91.0,53.0,1795,17.5,75,japan,honda civic cvcc
182,28.0,4,107.0,86.0,2464,15.5,76,europe,fiat 131
183,25.0,4,116.0,81.0,2220,16.9,76,europe,opel 1900
184,25.0,4,140.0,92.0,2572,14.9,76,usa,capri ii
185,26.0,4,98.0,79.0,2255,17.7,76,usa,dodge colt
186,27.0,4,101.0,83.0,2202,15.3,76,europe,renault 12tl
187,17.5,8,305.0,140.0,4215,13.0,76,usa,chevrolet chevelle malibu classic
188,16.0,8,318.0,150.0,4190,13.0,76,usa,dodge coronet brougham
189,15.5,8,304.0,120.0,3962,13.9,76,usa,amc matador
190,14.5,8,351.0,152.0,4215,12.8,76,usa,ford gran torino
191,22.0,6,225.0,100.0,3233,15.4,76,usa,plymouth valiant
192,22.0,6,250.0,105.0,3353,14.5,76,usa,chevrolet nova
193,24.0,6,200.0,81.0,3012,17.6,76,usa,ford maverick
194,22.5,6,232.0,90.0,3085,17.6,76,usa,amc hornet
195,29.0,4,85.0,52.0,2035,22.2,76,usa,chevrolet chevette
196,24.5,4,98.0,60.0,2164,22.1,76,usa,chevrolet woody
197,29.0,4,90.0,70.0,1937,14.2,76,europe,vw rabbit
198,33.0,4,91.0,53.0,1795,17.4,76,japan,honda civic
199,20.0,6,225.0,100.0,3651,17.7,76,usa,dodge aspen se
200,18.0,6,250.0,78.0,3574,21.0,76,usa,ford granada ghia
201,18.5,6,250.0,110.0,3645,16.2,76,usa,pontiac ventura sj
202,17.5,6,258.0,95.0,3193,17.8,76,usa,amc pacer d/l
203,29.5,4,97.0,71.0,1825,12.2,76,europe,volkswagen rabbit
204,32.0,4,85.0,70.0,1990,17.0,76,japan,datsun b-210
205,28.0,4,97.0,75.0,2155,16.4,76,japan,toyota corolla
206,26.5,4,140.0,72.0,2565,13.6,76,usa,ford pinto
207,20.0,4,130.0,102.0,3150,15.7,76,europe,volvo 245
208,13.0,8,318.0,150.0,3940,13.2,76,usa,plymouth volare premier v8
209,19.0,4,120.0,88.0,3270,21.9,76,europe,peugeot 504
210,19.0,6,156.0,108.0,2930,15.5,76,japan,toyota mark ii
211,16.5,6,168.0,120.0,3820,16.7,76,europe,mercedes-benz 280s
212,16.5,8,350.0,180.0,4380,12.1,76,usa,cadillac seville
213,13.0,8,350.0,145.0,4055,12.0,76,usa,chevy c10
214,13.0,8,302.0,130.0,3870,15.0,76,usa,ford f108
215,13.0,8,318.0,150.0,3755,14.0,76,usa,dodge d100
216,31.5,4,98.0,68.0,2045,18.5,77,japan,honda accord cvcc
217,30.0,4,111.0,80.0,2155,14.8,77,usa,buick opel isuzu deluxe
218,36.0,4,79.0,58.0,1825,18.6,77,europe,renault 5 gtl
219,25.5,4,122.0,96.0,2300,15.5,77,usa,plymouth arrow gs
220,33.5,4,85.0,70.0,1945,16.8,77,japan,datsun f-10 hatchback
221,17.5,8,305.0,145.0,3880,12.5,77,usa,chevrolet caprice classic
222,17.0,8,260.0,110.0,4060,19.0,77,usa,oldsmobile cutlass supreme
223,15.5,8,318.0,145.0,4140,13.7,77,usa,dodge monaco brougham
224,15.0,8,302.0,130.0,4295,14.9,77,usa,mercury cougar brougham
225,17.5,6,250.0,110.0,3520,16.4,77,usa,chevrolet concours
226,20.5,6,231.0,105.0,3425,16.9,77,usa,buick skylark
227,19.0,6,225.0,100.0,3630,17.7,77,usa,plymouth volare custom
228,18.5,6,250.0,98.0,3525,19.0,77,usa,ford granada
229,16.0,8,400.0,180.0,4220,11.1,77,usa,pontiac grand prix lj
230,15.5,8,350.0,170.0,4165,11.4,77,usa,chevrolet monte carlo landau
231,15.5,8,400.0,190.0,4325,12.2,77,usa,chrysler cordoba
232,16.0,8,351.0,149.0,4335,14.5,77,usa,ford thunderbird
233,29.0,4,97.0,78.0,1940,14.5,77,europe,volkswagen rabbit custom
234,24.5,4,151.0,88.0,2740,16.0,77,usa,pontiac sunbird coupe
235,26.0,4,97.0,75.0,2265,18.2,77,japan,toyota corolla liftback
236,25.5,4,140.0,89.0,2755,15.8,77,usa,ford mustang ii 2+2
237,30.5,4,98.0,63.0,2051,17.0,77,usa,chevrolet chevette
238,33.5,4,98.0,83.0,2075,15.9,77,usa,dodge colt m/m
239,30.0,4,97.0,67.0,1985,16.4,77,japan,subaru dl
240,30.5,4,97.0,78.0,2190,14.1,77,europe,volkswagen dasher
241,22.0,6,146.0,97.0,2815,14.5,77,japan,datsun 810
242,21.5,4,121.0,110.0,2600,12.8,77,europe,bmw 320i
243,21.5,3,80.0,110.0,2720,13.5,77,japan,mazda rx-4
244,43.1,4,90.0,48.0,1985,21.5,78,europe,volkswagen rabbit custom diesel
245,36.1,4,98.0,66.0,1800,14.4,78,usa,ford fiesta
246,32.8,4,78.0,52.0,1985,19.4,78,japan,mazda glc deluxe
247,39.4,4,85.0,70.0,2070,18.6,78,japan,datsun b210 gx
248,36.1,4,91.0,60.0,1800,16.4,78,japan,honda civic cvcc
249,19.9,8,260.0,110.0,3365,15.5,78,usa,oldsmobile cutlass salon brougham
250,19.4,8,318.0,140.0,3735,13.2,78,usa,dodge diplomat
251,20.2,8,302.0,139.0,3570,12.8,78,usa,mercury monarch ghia
252,19.2,6,231.0,105.0,3535,19.2,78,usa,pontiac phoenix lj
253,20.5,6,200.0,95.0,3155,18.2,78,usa,chevrolet malibu
254,20.2,6,200.0,85.0,2965,15.8,78,usa,ford fairmont (auto)
255,25.1,4,140.0,88.0,2720,15.4,78,usa,ford fairmont (man)
256,20.5,6,225.0,100.0,3430,17.2,78,usa,plymouth volare
257,19.4,6,232.0,90.0,3210,17.2,78,usa,amc concord
258,20.6,6,231.0,105.0,3380,15.8,78,usa,buick century special
259,20.8,6,200.0,85.0,3070,16.7,78,usa,mercury zephyr
260,18.6,6,225.0,110.0,3620,18.7,78,usa,dodge aspen
261,18.1,6,258.0,120.0,3410,15.1,78,usa,amc concord d/l
262,19.2,8,305.0,145.0,3425,13.2,78,usa,chevrolet monte carlo landau
263,17.7,6,231.0,165.0,3445,13.4,78,usa,buick regal sport coupe (turbo)
264,18.1,8,302.0,139.0,3205,11.2,78,usa,ford futura
265,17.5,8,318.0,140.0,4080,13.7,78,usa,dodge magnum xe
266,30.0,4,98.0,68.0,2155,16.5,78,usa,chevrolet chevette
267,27.5,4,134.0,95.0,2560,14.2,78,japan,toyota corona
268,27.2,4,119.0,97.0,2300,14.7,78,japan,datsun 510
269,30.9,4,105.0,75.0,2230,14.5,78,usa,dodge omni
270,21.1,4,134.0,95.0,2515,14.8,78,japan,toyota celica gt liftback
271,23.2,4,156.0,105.0,2745,16.7,78,usa,plymouth sapporo
272,23.8,4,151.0,85.0,2855,17.6,78,usa,oldsmobile starfire sx
273,23.9,4,119.0,97.0,2405,14.9,78,japan,datsun 200-sx
274,20.3,5,131.0,103.0,2830,15.9,78,europe,audi 5000
275,17.0,6,163.0,125.0,3140,13.6,78,europe,volvo 264gl
276,21.6,4,121.0,115.0,2795,15.7,78,europe,saab 99gle
277,16.2,6,163.0,133.0,3410,15.8,78,europe,peugeot 604sl
278,31.5,4,89.0,71.0,1990,14.9,78,europe,volkswagen scirocco
279,29.5,4,98.0,68.0,2135,16.6,78,japan,honda accord lx
280,21.5,6,231.0,115.0,3245,15.4,79,usa,pontiac lemans v6
281,19.8,6,200.0,85.0,2990,18.2,79,usa,mercury zephyr 6
282,22.3,4,140.0,88.0,2890,17.3,79,usa,ford fairmont 4
283,20.2,6,232.0,90.0,3265,18.2,79,usa,amc concord dl 6
284,20.6,6,225.0,110.0,3360,16.6,79,usa,dodge aspen 6
285,17.0,8,305.0,130.0,3840,15.4,79,usa,chevrolet caprice classic
286,17.6,8,302.0,129.0,3725,13.4,79,usa,ford ltd landau
287,16.5,8,351.0,138.0,3955,13.2,79,usa,mercury grand marquis
288,18.2,8,318.0,135.0,3830,15.2,79,usa,dodge st. regis
289,16.9,8,350.0,155.0,4360,14.9,79,usa,buick estate wagon (sw)
290,15.5,8,351.0,142.0,4054,14.3,79,usa,ford country squire (sw)
291,19.2,8,267.0,125.0,3605,15.0,79,usa,chevrolet malibu classic (sw)
292,18.5,8,360.0,150.0,3940,13.0,79,usa,chrysler lebaron town @ country (sw)
293,31.9,4,89.0,71.0,1925,14.0,79,europe,vw rabbit custom
294,34.1,4,86.0,65.0,1975,15.2,79,japan,maxda glc deluxe
295,35.7,4,98.0,80.0,1915,14.4,79,usa,dodge colt hatchback custom
296,27.4,4,121.0,80.0,2670,15.0,79,usa,amc spirit dl
297,25.4,5,183.0,77.0,3530,20.1,79,europe,mercedes benz 300d
298,23.0,8,350.0,125.0,3900,17.4,79,usa,cadillac eldorado
299,27.2,4,141.0,71.0,3190,24.8,79,europe,peugeot 504
300,23.9,8,260.0,90.0,3420,22.2,79,usa,oldsmobile cutlass salon brougham
301,34.2,4,105.0,70.0,2200,13.2,79,usa,plymouth horizon
302,34.5,4,105.0,70.0,2150,14.9,79,usa,plymouth horizon tc3
303,31.8,4,85.0,65.0,2020,19.2,79,japan,datsun 210
304,37.3,4,91.0,69.0,2130,14.7,79,europe,fiat strada custom
305,28.4,4,151.0,90.0,2670,16.0,79,usa,buick skylark limited
306,28.8,6,173.0,115.0,2595,11.3,79,usa,chevrolet citation
307,26.8,6,173.0,115.0,2700,12.9,79,usa,oldsmobile omega brougham
308,33.5,4,151.0,90.0,2556,13.2,79,usa,pontiac phoenix
309,41.5,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
310,38.1,4,89.0,60.0,1968,18.8,80,japan,toyota corolla tercel
311,32.1,4,98.0,70.0,2120,15.5,80,usa,chevrolet chevette
312,37.2,4,86.0,65.0,2019,16.4,80,japan,datsun 310
313,28.0,4,151.0,90.0,2678,16.5,80,usa,chevrolet citation
314,26.4,4,140.0,88.0,2870,18.1,80,usa,ford fairmont
315,24.3,4,151.0,90.0,3003,20.1,80,usa,amc concord
316,19.1,6,225.0,90.0,3381,18.7,80,usa,dodge aspen
317,34.3,4,97.0,78.0,2188,15.8,80,europe,audi 4000
318,29.8,4,134.0,90.0,2711,15.5,80,japan,toyota corona liftback
319,31.3,4,120.0,75.0,2542,17.5,80,japan,mazda 626
320,37.0,4,119.0,92.0,2434,15.0,80,japan,datsun 510 hatchback
321,32.2,4,108.0,75.0,2265,15.2,80,japan,toyota corolla
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc
323,27.9,4,156.0,105.0,2800,14.4,80,usa,dodge colt
324,40.8,4,85.0,65.0,2110,19.2,80,japan,datsun 210
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
327,36.4,5,121.0,67.0,2950,19.9,80,europe,audi 5000s (diesel)
328,30.0,4,146.0,67.0,3250,21.8,80,europe,mercedes-benz 240d
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
331,33.8,4,97.0,67.0,2145,18.0,80,japan,subaru dl
332,29.8,4,89.0,62.0,1845,15.3,80,europe,vokswagen rabbit
333,32.7,6,168.0,132.0,2910,11.4,80,japan,datsun 280-zx
334,23.7,3,70.0,100.0,2420,12.5,80,japan,mazda rx-7 gs
335,35.0,4,122.0,88.0,2500,15.1,80,europe,triumph tr7 coupe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
337,32.4,4,107.0,72.0,2290,17.0,80,japan,honda accord
338,27.2,4,135.0,84.0,2490,15.7,81,usa,plymouth reliant
339,26.6,4,151.0,84.0,2635,16.4,81,usa,buick skylark
340,25.8,4,156.0,92.0,2620,14.4,81,usa,dodge aries wagon (sw)
341,23.5,6,173.0,110.0,2725,12.6,81,usa,chevrolet citation
342,30.0,4,135.0,84.0,2385,12.9,81,usa,plymouth reliant
343,39.1,4,79.0,58.0,1755,16.9,81,japan,toyota starlet
344,39.0,4,86.0,64.0,1875,16.4,81,usa,plymouth champ
345,35.1,4,81.0,60.0,1760,16.1,81,japan,honda civic 1300
346,32.3,4,97.0,67.0,2065,17.8,81,japan,subaru
347,37.0,4,85.0,65.0,1975,19.4,81,japan,datsun 210 mpg
348,37.7,4,89.0,62.0,2050,17.3,81,japan,toyota tercel
349,34.1,4,91.0,68.0,1985,16.0,81,japan,mazda glc 4

In [ ]:
car = mpg.copy()

In [ ]:
mpg = mpg.drop('cylinders', axis = 1)

In [ ]:
mpg.columns

Index(['mpg', 'displacement', 'horsepower', 'weight', 'acceleration',
       'model_year', 'origin', 'name'],
      dtype='object')

In [ ]:
car.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [ ]:
car.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [ ]:
car [['cylinders','origin']].value_counts()

cylinders  origin
8          usa       103
6          usa        74
4          usa        72
           japan      69
           europe     63
6          japan       6
3          japan       4
6          europe      4
5          europe      3
dtype: int64

In [ ]:
car[['origin']].value_counts()

origin
usa       249
japan      79
europe     70
dtype: int64

In [ ]:
car['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [ ]:
car['origin'].nunique()

3

In [ ]:
car.sort_values('displacement')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
117,29.0,4,68.0,49.0,1867,19.5,73,europe,fiat 128
71,19.0,3,70.0,97.0,2330,13.5,72,japan,mazda rx2 coupe
111,18.0,3,70.0,90.0,2124,13.5,73,japan,maxda rx3
334,23.7,3,70.0,100.0,2420,12.5,80,japan,mazda rx-7 gs
131,32.0,4,71.0,65.0,1836,21.0,74,japan,toyota corolla 1200
53,31.0,4,71.0,65.0,1773,19.0,71,japan,toyota corolla 1200
54,35.0,4,72.0,69.0,1613,18.0,71,japan,datsun 1200
144,31.0,4,76.0,52.0,1649,16.5,74,japan,toyota corona
246,32.8,4,78.0,52.0,1985,19.4,78,japan,mazda glc deluxe
142,26.0,4,79.0,67.0,1963,15.5,74,europe,volkswagen dasher
343,39.1,4,79.0,58.0,1755,16.9,81,japan,toyota starlet
51,30.0,4,79.0,70.0,2074,19.5,71,europe,peugeot 304
218,36.0,4,79.0,58.0,1825,18.6,77,europe,renault 5 gtl
151,31.0,4,79.0,67.0,2000,16.0,74,europe,fiat x1.9
129,31.0,4,79.0,67.0,1950,19.0,74,japan,datsun b210
243,21.5,3,80.0,110.0,2720,13.5,77,japan,mazda rx-4
345,35.1,4,81.0,60.0,1760,16.1,81,japan,honda civic 1300
145,32.0,4,83.0,61.0,2003,19.0,74,japan,datsun 710
195,29.0,4,85.0,52.0,2035,22.2,76,usa,chevrolet chevette
347,37.0,4,85.0,65.0,1975,19.4,81,japan,datsun 210 mpg
324,40.8,4,85.0,65.0,2110,19.2,80,japan,datsun 210
303,31.8,4,85.0,65.0,2020,19.2,79,japan,datsun 210
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
220,33.5,4,85.0,70.0,1945,16.8,77,japan,datsun f-10 hatchback
204,32.0,4,85.0,70.0,1990,17.0,76,japan,datsun b-210
247,39.4,4,85.0,70.0,2070,18.6,78,japan,datsun b210 gx
294,34.1,4,86.0,65.0,1975,15.2,79,japan,maxda glc deluxe
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc
312,37.2,4,86.0,65.0,2019,16.4,80,japan,datsun 310
344,39.0,4,86.0,64.0,1875,16.4,81,usa,plymouth champ
52,30.0,4,88.0,76.0,2065,14.5,71,europe,fiat 124b
332,29.8,4,89.0,62.0,1845,15.3,80,europe,vokswagen rabbit
348,37.7,4,89.0,62.0,2050,17.3,81,japan,toyota tercel
278,31.5,4,89.0,71.0,1990,14.9,78,europe,volkswagen scirocco
310,38.1,4,89.0,60.0,1968,18.8,80,japan,toyota corolla tercel
293,31.9,4,89.0,71.0,1925,14.0,79,europe,vw rabbit custom
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
244,43.1,4,90.0,48.0,1985,21.5,78,europe,volkswagen rabbit custom diesel
197,29.0,4,90.0,70.0,1937,14.2,76,europe,vw rabbit
175,29.0,4,90.0,70.0,1937,14.0,75,europe,volkswagen rabbit
172,25.0,4,90.0,71.0,2223,16.5,75,europe,volkswagen dasher
147,24.0,4,90.0,75.0,2108,15.5,74,europe,fiat 128
146,28.0,4,90.0,75.0,2125,14.5,74,usa,dodge colt
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
304,37.3,4,91.0,69.0,2130,14.7,79,europe,fiat strada custom
248,36.1,4,91.0,60.0,1800,16.4,78,japan,honda civic cvcc
181,33.0,4,91.0,53.0,1795,17.5,75,japan,honda civic cvcc
56,26.0,4,91.0,70.0,1955,20.5,71,usa,plymouth cricket
198,33.0,4,91.0,53.0,1795,17.4,76,japan,honda civic
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
349,34.1,4,91.0,68.0,1985,16.0,81,japan,mazda glc 4
384,32.0,4,91.0,67.0,1965,15.7,82,japan,honda civic (auto)
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
377,31.0,4,91.0,68.0,1970,17.6,82,japan,mazda glc custom
376,37.0,4,91.0,68.0,2025,18.2,82,japan,mazda glc custom l
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
79,26.0,4,96.0,69.0,2189,18.0,72,europe,renault 12 (sw)
84,27.0,4,97.0,88.0,2100,16.5,72,japan,toyota corolla 1600 (sw)
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
240,30.5,4,97.0,78.0,2190,14.1,77,europe,volkswagen dasher
235,26.0,4,97.0,75.0,2265,18.2,77,japan,toyota corolla liftback
233,29.0,4,97.0,78.0,1940,14.5,77,europe,volkswagen rabbit custom
331,33.8,4,97.0,67.0,2145,18.0,80,japan,subaru dl
102,26.0,4,97.0,46.0,1950,21.0,73,europe,volkswagen super beetle
81,28.0,4,97.0,92.0,2288,17.0,72,japan,datsun 510 (sw)
108,20.0,4,97.0,88.0,2279,19.0,73,japan,toyota carina
167,29.0,4,97.0,75.0,2171,16.0,75,japan,toyota corolla
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
143,26.0,4,97.0,78.0,2300,14.5,74,europe,opel manta
205,28.0,4,97.0,75.0,2155,16.4,76,japan,toyota corolla
203,29.5,4,97.0,71.0,1825,12.2,76,europe,volkswagen rabbit
239,30.0,4,97.0,67.0,1985,16.4,77,japan,subaru dl
59,23.0,4,97.0,54.0,2254,23.5,72,europe,volkswagen type 3
346,32.3,4,97.0,67.0,2065,17.8,81,japan,subaru
55,27.0,4,97.0,60.0,1834,19.0,71,europe,volkswagen model 111
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
317,34.3,4,97.0,78.0,2188,15.8,80,europe,audi 4000
58,25.0,4,97.5,80.0,2126,17.0,72,usa,dodge colt hardtop
237,30.5,4,98.0,63.0,2051,17.0,77,usa,chevrolet chevette
238,33.5,4,98.0,83.0,2075,15.9,77,usa,dodge colt m/m
309,41.5,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
351,34.4,4,98.0,65.0,2045,16.2,81,usa,ford escort 4w
352,29.9,4,98.0,65.0,2380,20.7,81,usa,ford escort 2h
245,36.1,4,98.0,66.0,1800,14.4,78,usa,ford fiesta
295,35.7,4,98.0,80.0,1915,14.4,79,usa,dodge colt hatchback custom
141,29.0,4,98.0,83.0,2219,16.5,74,europe,audi fox
311,32.1,4,98.0,70.0,2120,15.5,80,usa,chevrolet chevette
83,28.0,4,98.0,80.0,2164,15.0,72,usa,dodge colt (sw)
266,30.0,4,98.0,68.0,2155,16.5,78,usa,chevrolet chevette
185,26.0,4,98.0,79.0,2255,17.7,76,usa,dodge colt
114,26.0,4,98.0,90.0,2265,15.5,73,europe,fiat 124 sport coupe
379,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
279,29.5,4,98.0,68.0,2135,16.6,78,japan,honda accord lx
196,24.5,4,98.0,60.0,2164,22.1,76,usa,chevrolet woody
216,31.5,4,98.0,68.0,2045,18.5,77,japan,honda accord cvcc
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
186,27.0,4,101.0,83.0,2202,15.3,76,europe,renault 12tl
22,25.0,4,104.0,95.0,2375,17.5,70,europe,saab 99e
301,34.2,4,105.0,70.0,2200,13.2,79,usa,plymouth horizon
378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
269,30.9,4,105.0,75.0,2230,14.5,78,usa,dodge omni
302,34.5,4,105.0,70.0,2150,14.9,79,usa,plymouth horizon tc3
375,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l
353,33.0,4,105.0,74.0,2190,14.2,81,europe,volkswagen jetta
350,34.7,4,105.0,63.0,2215,14.9,81,usa,plymouth horizon 4
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
355,33.7,4,107.0,75.0,2210,14.4,81,japan,honda prelude
337,32.4,4,107.0,72.0,2290,17.0,80,japan,honda accord
381,36.0,4,107.0,75.0,2205,14.5,82,japan,honda accord
182,28.0,4,107.0,86.0,2464,15.5,76,europe,fiat 131
150,26.0,4,108.0,93.0,2391,15.5,74,japan,subaru
382,34.0,4,108.0,70.0,2245,16.9,82,japan,toyota corolla
356,32.4,4,108.0,75.0,2350,16.8,81,japan,toyota corolla
321,32.2,4,108.0,75.0,2265,15.2,80,japan,toyota corolla
110,22.0,4,108.0,94.0,2379,16.5,73,japan,datsun 610
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
217,30.0,4,111.0,80.0,2155,14.8,77,usa,buick opel isuzu deluxe
369,34.0,4,112.0,88.0,2395,18.0,82,usa,chevrolet cavalier 2-door
368,27.0,4,112.0,88.0,2640,18.6,82,usa,chevrolet cavalier wagon
370,31.0,4,112.0,85.0,2575,16.2,82,usa,pontiac j2000 se hatchback
367,28.0,4,112.0,88.0,2605,19.6,82,usa,chevrolet cavalier
57,24.0,4,113.0,95.0,2278,15.5,72,japan,toyota corona hardtop
31,25.0,4,113.0,95.0,2228,14.0,71,japan,toyota corona
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
119,20.0,4,114.0,91.0,2582,14.0,73,europe,audi 100ls
177,23.0,4,115.0,95.0,2694,15.0,75,europe,audi 100ls
148,26.0,4,116.0,75.0,2246,14.0,74,europe,fiat 124 tc
118,24.0,4,116.0,75.0,2158,15.5,73,europe,opel manta
50,28.0,4,116.0,90.0,2123,14.0,71,europe,opel 1900
183,25.0,4,116.0,81.0,2220,16.9,76,europe,opel 1900
268,27.2,4,119.0,97.0,2300,14.7,78,japan,datsun 510
273,23.9,4,119.0,97.0,2405,14.9,78,japan,datsun 200-sx
320,37.0,4,119.0,92.0,2434,15.0,80,japan,datsun 510 hatchback
357,32.9,4,119.0,100.0,2615,14.8,81,japan,datsun 200sx
173,24.0,4,119.0,97.0,2545,17.0,75,japan,datsun 710
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10
209,19.0,4,120.0,88.0,3270,21.9,76,europe,peugeot 504
82,23.0,4,120.0,97.0,2506,14.5,72,japan,toyouta corona mark ii (sw)
78,21.0,4,120.0,87.0,2979,19.5,72,europe,peugeot 504 (sw)
380,36.0,4,120.0,88.0,2160,14.5,82,japan,nissan stanza xe
149,24.0,4,120.0,97.0,2489,15.0,74,japan,honda civic
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
358,31.6,4,120.0,74.0,2635,18.3,81,japan,mazda 626
178,23.0,4,120.0,88.0,2957,17.0,75,europe,peugeot 504
319,31.3,4,120.0,75.0,2542,17.5,80,japan,mazda 626
76,18.0,4,121.0,112.0,2933,14.5,72,europe,volvo 145e (sw)
180,25.0,4,121.0,115.0,2671,13.5,75,europe,saab 99le
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
179,22.0,4,121.0,98.0,2945,14.5,75,europe,volvo 244dl
327,36.4,5,121.0,67.0,2950,19.9,80,europe,audi 5000s (diesel)
77,22.0,4,121.0,76.0,2511,18.0,72,europe,volkswagen 411 (sw)
122,24.0,4,121.0,110.0,2660,14.0,73,europe,saab 99le
120,19.0,4,121.0,112.0,2868,15.5,73,europe,volvo 144ea
242,21.5,4,121.0,110.0,2600,12.8,77,europe,bmw 320i
296,27.4,4,121.0,80.0,2670,15.0,79,usa,amc spirit dl
276,21.6,4,121.0,115.0,2795,15.7,78,europe,saab 99gle
49,23.0,4,122.0,86.0,2220,14.0,71,usa,mercury capri 2000
112,19.0,4,122.0,85.0,2310,18.5,73,usa,ford pinto
80,22.0,4,122.0,86.0,2395,16.0,72,usa,ford pinto (sw)
219,25.5,4,122.0,96.0,2300,15.5,77,usa,plymouth arrow gs
130,26.0,4,122.0,80.0,2451,16.5,74,usa,ford pinto
335,35.0,4,122.0,88.0,2500,15.1,80,europe,triumph tr7 coupe
61,21.0,4,122.0,86.0,2226,16.5,72,usa,ford pinto runabout
207,20.0,4,130.0,102.0,3150,15.7,76,europe,volvo 245
274,20.3,5,131.0,103.0,2830,15.9,78,europe,audi 5000
270,21.1,4,134.0,95.0,2515,14.8,78,japan,toyota celica gt liftback
318,29.8,4,134.0,90.0,2711,15.5,80,japan,toyota corona liftback
171,24.0,4,134.0,96.0,2702,13.5,75,japan,toyota corona
267,27.5,4,134.0,95.0,2560,14.2,78,japan,toyota corona
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
342,30.0,4,135.0,84.0,2385,12.9,81,usa,plymouth reliant
371,29.0,4,135.0,84.0,2525,16.0,82,usa,dodge aries se
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
338,27.2,4,135.0,84.0,2490,15.7,81,usa,plymouth reliant
30,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
170,23.0,4,140.0,78.0,2592,18.5,75,usa,pontiac astro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
236,25.5,4,140.0,89.0,2755,15.8,77,usa,ford mustang ii 2+2
60,20.0,4,140.0,90.0,2408,19.5,72,usa,chevrolet vega
132,25.0,4,140.0,75.0,2542,17.0,74,usa,chevrolet vega
282,22.3,4,140.0,88.0,2890,17.3,79,usa,ford fairmont 4
206,26.5,4,140.0,72.0,2565,13.6,76,usa,ford pinto
373,24.0,4,140.0,92.0,2865,16.4,82,usa,ford fairmont futura
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
255,25.1,4,140.0,88.0,2720,15.4,78,usa,ford fairmont (man)
168,23.0,4,140.0,83.0,2639,17.0,75,usa,ford pinto
109,21.0,4,140.0,72.0,2401,19.5,73,usa,chevrolet vega
184,25.0,4,140.0,92.0,2572,14.9,76,usa,capri ii
46,22.0,4,140.0,72.0,2408,19.0,71,usa,chevrolet vega (sw)
314,26.4,4,140.0,88.0,2870,18.1,80,usa,ford fairmont
299,27.2,4,141.0,71.0,3190,24.8,79,europe,peugeot 504
359,28.1,4,141.0,80.0,3230,20.4,81,europe,peugeot 505s turbo diesel
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
360,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel
241,22.0,6,146.0,97.0,2815,14.5,77,japan,datsun 810
362,24.2,6,146.0,120.0,2930,13.8,81,japan,datsun 810 maxima
328,30.0,4,146.0,67.0,3250,21.8,80,europe,mercedes-benz 240d
313,28.0,4,151.0,90.0,2678,16.5,80,usa,chevrolet citation
372,27.0,4,151.0,90.0,2735,18.0,82,usa,pontiac phoenix
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
234,24.5,4,151.0,88.0,2740,16.0,77,usa,pontiac sunbird coupe
315,24.3,4,151.0,90.0,3003,20.1,80,usa,amc concord
308,33.5,4,151.0,90.0,2556,13.2,79,usa,pontiac phoenix
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl
339,26.6,4,151.0,84.0,2635,16.4,81,usa,buick skylark
272,23.8,4,151.0,85.0,2855,17.6,78,usa,oldsmobile starfire sx
305,28.4,4,151.0,90.0,2670,16.0,79,usa,buick skylark limited
113,21.0,6,155.0,107.0,2472,14.0,73,usa,mercury capri v6
123,20.0,6,156.0,122.0,2807,13.5,73,japan,toyota mark ii
271,23.2,4,156.0,105.0,2745,16.7,78,usa,plymouth sapporo
323,27.9,4,156.0,105.0,2800,14.4,80,usa,dodge colt
340,25.8,4,156.0,92.0,2620,14.4,81,usa,dodge aries wagon (sw)
210,19.0,6,156.0,108.0,2930,15.5,76,japan,toyota mark ii
388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
275,17.0,6,163.0,125.0,3140,13.6,78,europe,volvo 264gl
277,16.2,6,163.0,133.0,3410,15.8,78,europe,peugeot 604sl
211,16.5,6,168.0,120.0,3820,16.7,76,europe,mercedes-benz 280s
361,25.4,6,168.0,116.0,2900,12.6,81,japan,toyota cressida
333,32.7,6,168.0,132.0,2910,11.4,80,japan,datsun 280-zx
174,18.0,6,171.0,97.0,2984,14.5,75,usa,ford pinto
341,23.5,6,173.0,110.0,2725,12.6,81,usa,chevrolet citation
306,28.8,6,173.0,115.0,2595,11.3,79,usa,chevrolet citation
307,26.8,6,173.0,115.0,2700,12.9,79,usa,oldsmobile omega brougham
386,25.0,6,181.0,110.0,2945,16.4,82,usa,buick century limited
297,25.4,5,183.0,77.0,3530,20.1,79,europe,mercedes benz 300d
125,20.0,6,198.0,95.0,3102,16.5,74,usa,plymouth duster
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
101,23.0,6,198.0,95.0,2904,16.0,73,usa,plymouth duster
24,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
365,20.2,6,200.0,88.0,3060,17.1,81,usa,ford granada gl
253,20.5,6,200.0,95.0,3155,18.2,78,usa,chevrolet malibu
259,20.8,6,200.0,85.0,3070,16.7,78,usa,mercury zephyr
193,24.0,6,200.0,81.0,3012,17.6,76,usa,ford maverick
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
281,19.8,6,200.0,85.0,2990,18.2,79,usa,mercury zephyr 6
254,20.2,6,200.0,85.0,2965,15.8,78,usa,ford fairmont (auto)
284,20.6,6,225.0,110.0,3360,16.6,79,usa,dodge aspen 6
316,19.1,6,225.0,90.0,3381,18.7,80,usa,dodge aspen
256,20.5,6,225.0,100.0,3430,17.2,78,usa,plymouth volare
34,16.0,6,225.0,105.0,3439,15.5,71,usa,plymouth satellite custom
227,19.0,6,225.0,100.0,3630,17.7,77,usa,plymouth volare custom
260,18.6,6,225.0,110.0,3620,18.7,78,usa,dodge aspen
199,20.0,6,225.0,100.0,3651,17.7,76,usa,dodge aspen se
152,19.0,6,225.0,95.0,3264,16.0,75,usa,plymouth valiant custom
366,17.6,6,225.0,85.0,3465,16.6,81,usa,chrysler lebaron salon
135,18.0,6,225.0,105.0,3613,16.5,74,usa,plymouth satellite sebring
163,18.0,6,225.0,95.0,3785,19.0,75,usa,plymouth fury
97,18.0,6,225.0,105.0,3121,16.5,73,usa,plymouth valiant
191,22.0,6,225.0,100.0,3233,15.4,76,usa,plymouth valiant
280,21.5,6,231.0,115.0,3245,15.4,79,usa,pontiac lemans v6
258,20.6,6,231.0,105.0,3380,15.8,78,usa,buick century special
263,17.7,6,231.0,165.0,3445,13.4,78,usa,buick regal sport coupe (turbo)
363,22.4,6,231.0,110.0,3415,15.8,81,usa,buick century
160,17.0,6,231.0,110.0,3907,21.0,75,usa,buick century
164,21.0,6,231.0,110.0,3039,15.0,75,usa,buick skyhawk
252,19.2,6,231.0,105.0,3535,19.2,78,usa,pontiac phoenix lj
226,20.5,6,231.0,105.0,3425,16.9,77,usa,buick skylark
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
176,19.0,6,232.0,90.0,3211,17.0,75,usa,amc pacer
194,22.5,6,232.0,90.0,3085,17.6,76,usa,amc hornet
107,18.0,6,232.0,100.0,2789,15.0,73,usa,amc gremlin
99,18.0,6,232.0,100.0,2945,16.0,73,usa,amc hornet
283,20.2,6,232.0,90.0,3265,18.2,79,usa,amc concord dl 6
37,18.0,6,232.0,100.0,3288,15.5,71,usa,amc matador
127,19.0,6,232.0,100.0,2901,16.0,74,usa,amc hornet
257,19.4,6,232.0,90.0,3210,17.2,78,usa,amc concord
169,20.0,6,232.0,100.0,2914,16.0,75,usa,amc gremlin
33,19.0,6,232.0,100.0,2634,13.0,71,usa,amc gremlin
48,18.0,6,250.0,88.0,3139,14.5,71,usa,ford mustang
47,19.0,6,250.0,100.0,3282,15.0,71,usa,pontiac firebird
192,22.0,6,250.0,105.0,3353,14.5,76,usa,chevrolet nova
161,16.0,6,250.0,105.0,3897,18.5,75,usa,chevroelt chevelle malibu
200,18.0,6,250.0,78.0,3574,21.0,76,usa,ford granada ghia
201,18.5,6,250.0,110.0,3645,16.2,76,usa,pontiac ventura sj
100,18.0,6,250.0,88.0,3021,16.5,73,usa,ford maverick
35,17.0,6,250.0,100.0,3329,15.5,71,usa,chevrolet chevelle malibu
98,16.0,6,250.0,100.0,3278,18.0,73,usa,chevrolet nova custom
133,16.0,6,250.0,100.0,3781,17.0,74,usa,chevrolet chevelle malibu classic
154,15.0,6,250.0,72.0,3432,21.0,75,usa,mercury monarch
155,15.0,6,250.0,72.0,3158,19.5,75,usa,ford maverick
228,18.5,6,250.0,98.0,3525,19.0,77,usa,ford granada
153,18.0,6,250.0,105.0,3459,16.0,75,usa,chevrolet nova
225,17.5,6,250.0,110.0,3520,16.4,77,usa,chevrolet concours
128,15.0,6,250.0,100.0,3336,17.0,74,usa,chevrolet nova
36,19.0,6,250.0,88.0,3302,15.5,71,usa,ford torino 500
45,18.0,6,258.0,110.0,2962,13.5,71,usa,amc hornet sportabout (sw)
261,18.1,6,258.0,120.0,3410,15.1,78,usa,amc concord d/l
202,17.5,6,258.0,95.0,3193,17.8,76,usa,amc pacer d/l
162,15.0,6,258.0,110.0,3730,19.0,75,usa,amc matador
134,16.0,6,258.0,110.0,3632,18.0,74,usa,amc matador
249,19.9,8,260.0,110.0,3365,15.5,78,usa,oldsmobile cutlass salon brougham
300,23.9,8,260.0,90.0,3420,22.2,79,usa,oldsmobile cutlass salon brougham
222,17.0,8,260.0,110.0,4060,19.0,77,usa,oldsmobile cutlass supreme
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
165,20.0,8,262.0,110.0,3221,13.5,75,usa,chevrolet monza 2+2
291,19.2,8,267.0,125.0,3605,15.0,79,usa,chevrolet malibu classic (sw)
74,13.0,8,302.0,140.0,4294,16.0,72,usa,ford gran torino (sw)
139,14.0,8,302.0,140.0,4638,16.0,74,usa,ford gran torino (sw)
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
136,16.0,8,302.0,140.0,4141,14.0,74,usa,ford gran torino
214,13.0,8,302.0,130.0,3870,15.0,76,usa,ford f108
224,15.0,8,302.0,130.0,4295,14.9,77,usa,mercury cougar brougham
251,20.2,8,302.0,139.0,3570,12.8,78,usa,mercury monarch ghia
264,18.1,8,302.0,139.0,3205,11.2,78,usa,ford futura
166,13.0,8,302.0,129.0,3169,12.0,75,usa,ford mustang ii
88,14.0,8,302.0,137.0,4042,14.5,73,usa,ford gran torino
286,17.6,8,302.0,129.0,3725,13.4,79,usa,ford ltd landau
72,15.0,8,304.0,150.0,3892,12.5,72,usa,amc matador (sw)
140,14.0,8,304.0,150.0,4257,15.5,74,usa,amc matador (sw)
66,17.0,8,304.0,150.0,3672,11.5,72,usa,amc ambassador sst
189,15.5,8,304.0,120.0,3962,13.9,76,usa,amc matador
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
86,14.0,8,304.0,150.0,3672,11.5,73,usa,amc matador
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
285,17.0,8,305.0,130.0,3840,15.4,79,usa,chevrolet caprice classic
187,17.5,8,305.0,140.0,4215,13.0,76,usa,chevrolet chevelle malibu classic
262,19.2,8,305.0,145.0,3425,13.2,78,usa,chevrolet monte carlo landau
221,17.5,8,305.0,145.0,3880,12.5,77,usa,chevrolet caprice classic
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
73,13.0,8,307.0,130.0,4098,14.0,72,usa,chevrolet chevelle concours (sw)
75,14.0,8,318.0,150.0,4077,14.0,72,usa,plymouth satellite custom (sw)
89,15.0,8,318.0,150.0,3777,12.5,73,usa,dodge coronet custom
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
288,18.2,8,318.0,135.0,3830,15.2,79,usa,dodge st. regis
188,16.0,8,318.0,150.0,4190,13.0,76,usa,dodge coronet brougham
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
121,15.0,8,318.0,150.0,3399,11.0,73,usa,dodge dart custom
93,14.0,8,318.0,150.0,4237,14.5,73,usa,plymouth fury gran sedan
265,17.5,8,318.0,140.0,4080,13.7,78,usa,dodge magnum xe
138,14.0,8,318.0,150.0,4457,13.5,74,usa,dodge coronet custom (sw)
158,16.0,8,318.0,150.0,4498,14.5,75,usa,plymouth grand fury
208,13.0,8,318.0,150.0,3940,13.2,76,usa,plymouth volare premier v8
223,15.5,8,318.0,145.0,4140,13.7,77,usa,dodge monaco brougham
215,13.0,8,318.0,150.0,3755,14.0,76,usa,dodge d100
64,15.0,8,318.0,150.0,4135,13.5,72,usa,plymouth fury iii
41,14.0,8,318.0,150.0,4096,13.0,71,usa,plymouth fury iii
250,19.4,8,318.0,140.0,3735,13.2,78,usa,dodge diplomat
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
106,12.0,8,350.0,180.0,4499,12.5,73,usa,oldsmobile vista cruiser
62,13.0,8,350.0,165.0,4274,12.0,72,usa,chevrolet impala
230,15.5,8,350.0,170.0,4165,11.4,77,usa,chevrolet monte carlo landau
364,26.6,8,350.0,105.0,3725,19.0,81,usa,oldsmobile cutlass ls
87,13.0,8,350.0,145.0,3988,13.0,73,usa,chevrolet malibu
85,13.0,8,350.0,175.0,4100,13.0,73,usa,buick century 350
137,13.0,8,350.0,150.0,4699,14.5,74,usa,buick century luxus (sw)
38,14.0,8,350.0,165.0,4209,12.0,71,usa,chevrolet impala

In [ ]:
car.sort_values('displacement', ascending = False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
95,12.0,8,455.0,225.0,4951,11.0,73,usa,buick electra 225 custom
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
94,13.0,8,440.0,215.0,4735,11.0,73,usa,chrysler new yorker brougham
90,12.0,8,429.0,198.0,4952,11.5,73,usa,mercury marquis brougham
67,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
39,14.0,8,400.0,175.0,4464,11.5,71,usa,pontiac catalina brougham
44,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw)
116,16.0,8,400.0,230.0,4278,9.5,73,usa,pontiac grand prix
63,14.0,8,400.0,175.0,4385,12.0,72,usa,pontiac catalina
70,13.0,8,400.0,190.0,4422,12.5,72,usa,chrysler newport royal
229,16.0,8,400.0,180.0,4220,11.1,77,usa,pontiac grand prix lj
43,13.0,8,400.0,170.0,4746,12.0,71,usa,ford country squire (sw)
156,16.0,8,400.0,170.0,4668,11.5,75,usa,pontiac catalina
91,13.0,8,400.0,150.0,4464,12.0,73,usa,chevrolet caprice classic
231,15.5,8,400.0,190.0,4325,12.2,77,usa,chrysler cordoba
104,12.0,8,400.0,167.0,4906,12.5,73,usa,ford country
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
12,15.0,8,400.0,150.0,3761,9.5,70,usa,chevrolet monte carlo
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
42,12.0,8,383.0,180.0,4955,11.5,71,usa,dodge monaco (sw)
292,18.5,8,360.0,150.0,3940,13.0,79,usa,chrysler lebaron town @ country (sw)
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
105,13.0,8,360.0,170.0,4654,13.0,73,usa,plymouth custom suburb
96,13.0,8,360.0,175.0,3821,11.0,73,usa,amc ambassador brougham
92,13.0,8,351.0,158.0,4363,13.0,73,usa,ford ltd
40,14.0,8,351.0,153.0,4154,13.5,71,usa,ford galaxie 500
232,16.0,8,351.0,149.0,4335,14.5,77,usa,ford thunderbird
65,14.0,8,351.0,153.0,4129,13.0,72,usa,ford galaxie 500
190,14.5,8,351.0,152.0,4215,12.8,76,usa,ford gran torino
159,14.0,8,351.0,148.0,4657,13.5,75,usa,ford ltd
290,15.5,8,351.0,142.0,4054,14.3,79,usa,ford country squire (sw)
287,16.5,8,351.0,138.0,3955,13.2,79,usa,mercury grand marquis
115,15.0,8,350.0,145.0,4082,13.0,73,usa,chevrolet monte carlo s
69,12.0,8,350.0,160.0,4456,13.5,72,usa,oldsmobile delta 88 royale
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega
213,13.0,8,350.0,145.0,4055,12.0,76,usa,chevy c10
68,13.0,8,350.0,155.0,4502,13.5,72,usa,buick lesabre custom
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
212,16.5,8,350.0,180.0,4380,12.1,76,usa,cadillac seville
62,13.0,8,350.0,165.0,4274,12.0,72,usa,chevrolet impala
230,15.5,8,350.0,170.0,4165,11.4,77,usa,chevrolet monte carlo landau
298,23.0,8,350.0,125.0,3900,17.4,79,usa,cadillac eldorado
137,13.0,8,350.0,150.0,4699,14.5,74,usa,buick century luxus (sw)
157,15.0,8,350.0,145.0,4440,14.0,75,usa,chevrolet bel air
106,12.0,8,350.0,180.0,4499,12.5,73,usa,oldsmobile vista cruiser
85,13.0,8,350.0,175.0,4100,13.0,73,usa,buick century 350
87,13.0,8,350.0,145.0,3988,13.0,73,usa,chevrolet malibu
38,14.0,8,350.0,165.0,4209,12.0,71,usa,chevrolet impala
289,16.9,8,350.0,155.0,4360,14.9,79,usa,buick estate wagon (sw)
364,26.6,8,350.0,105.0,3725,19.0,81,usa,oldsmobile cutlass ls
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
64,15.0,8,318.0,150.0,4135,13.5,72,usa,plymouth fury iii
89,15.0,8,318.0,150.0,3777,12.5,73,usa,dodge coronet custom
93,14.0,8,318.0,150.0,4237,14.5,73,usa,plymouth fury gran sedan
215,13.0,8,318.0,150.0,3755,14.0,76,usa,dodge d100
250,19.4,8,318.0,140.0,3735,13.2,78,usa,dodge diplomat
75,14.0,8,318.0,150.0,4077,14.0,72,usa,plymouth satellite custom (sw)
265,17.5,8,318.0,140.0,4080,13.7,78,usa,dodge magnum xe
223,15.5,8,318.0,145.0,4140,13.7,77,usa,dodge monaco brougham
41,14.0,8,318.0,150.0,4096,13.0,71,usa,plymouth fury iii
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
121,15.0,8,318.0,150.0,3399,11.0,73,usa,dodge dart custom
158,16.0,8,318.0,150.0,4498,14.5,75,usa,plymouth grand fury
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
288,18.2,8,318.0,135.0,3830,15.2,79,usa,dodge st. regis
208,13.0,8,318.0,150.0,3940,13.2,76,usa,plymouth volare premier v8
188,16.0,8,318.0,150.0,4190,13.0,76,usa,dodge coronet brougham
138,14.0,8,318.0,150.0,4457,13.5,74,usa,dodge coronet custom (sw)
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
73,13.0,8,307.0,130.0,4098,14.0,72,usa,chevrolet chevelle concours (sw)
285,17.0,8,305.0,130.0,3840,15.4,79,usa,chevrolet caprice classic
221,17.5,8,305.0,145.0,3880,12.5,77,usa,chevrolet caprice classic
187,17.5,8,305.0,140.0,4215,13.0,76,usa,chevrolet chevelle malibu classic
262,19.2,8,305.0,145.0,3425,13.2,78,usa,chevrolet monte carlo landau
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
66,17.0,8,304.0,150.0,3672,11.5,72,usa,amc ambassador sst
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
72,15.0,8,304.0,150.0,3892,12.5,72,usa,amc matador (sw)
140,14.0,8,304.0,150.0,4257,15.5,74,usa,amc matador (sw)
86,14.0,8,304.0,150.0,3672,11.5,73,usa,amc matador
189,15.5,8,304.0,120.0,3962,13.9,76,usa,amc matador
264,18.1,8,302.0,139.0,3205,11.2,78,usa,ford futura
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
224,15.0,8,302.0,130.0,4295,14.9,77,usa,mercury cougar brougham
136,16.0,8,302.0,140.0,4141,14.0,74,usa,ford gran torino
166,13.0,8,302.0,129.0,3169,12.0,75,usa,ford mustang ii
88,14.0,8,302.0,137.0,4042,14.5,73,usa,ford gran torino
286,17.6,8,302.0,129.0,3725,13.4,79,usa,ford ltd landau
74,13.0,8,302.0,140.0,4294,16.0,72,usa,ford gran torino (sw)
139,14.0,8,302.0,140.0,4638,16.0,74,usa,ford gran torino (sw)
214,13.0,8,302.0,130.0,3870,15.0,76,usa,ford f108
251,20.2,8,302.0,139.0,3570,12.8,78,usa,mercury monarch ghia
291,19.2,8,267.0,125.0,3605,15.0,79,usa,chevrolet malibu classic (sw)
165,20.0,8,262.0,110.0,3221,13.5,75,usa,chevrolet monza 2+2
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
222,17.0,8,260.0,110.0,4060,19.0,77,usa,oldsmobile cutlass supreme
249,19.9,8,260.0,110.0,3365,15.5,78,usa,oldsmobile cutlass salon brougham
300,23.9,8,260.0,90.0,3420,22.2,79,usa,oldsmobile cutlass salon brougham
261,18.1,6,258.0,120.0,3410,15.1,78,usa,amc concord d/l
162,15.0,6,258.0,110.0,3730,19.0,75,usa,amc matador
45,18.0,6,258.0,110.0,2962,13.5,71,usa,amc hornet sportabout (sw)
134,16.0,6,258.0,110.0,3632,18.0,74,usa,amc matador
202,17.5,6,258.0,95.0,3193,17.8,76,usa,amc pacer d/l
100,18.0,6,250.0,88.0,3021,16.5,73,usa,ford maverick
155,15.0,6,250.0,72.0,3158,19.5,75,usa,ford maverick
161,16.0,6,250.0,105.0,3897,18.5,75,usa,chevroelt chevelle malibu
35,17.0,6,250.0,100.0,3329,15.5,71,usa,chevrolet chevelle malibu
36,19.0,6,250.0,88.0,3302,15.5,71,usa,ford torino 500
133,16.0,6,250.0,100.0,3781,17.0,74,usa,chevrolet chevelle malibu classic
47,19.0,6,250.0,100.0,3282,15.0,71,usa,pontiac firebird
48,18.0,6,250.0,88.0,3139,14.5,71,usa,ford mustang
192,22.0,6,250.0,105.0,3353,14.5,76,usa,chevrolet nova
128,15.0,6,250.0,100.0,3336,17.0,74,usa,chevrolet nova
153,18.0,6,250.0,105.0,3459,16.0,75,usa,chevrolet nova
228,18.5,6,250.0,98.0,3525,19.0,77,usa,ford granada
98,16.0,6,250.0,100.0,3278,18.0,73,usa,chevrolet nova custom
225,17.5,6,250.0,110.0,3520,16.4,77,usa,chevrolet concours
154,15.0,6,250.0,72.0,3432,21.0,75,usa,mercury monarch
201,18.5,6,250.0,110.0,3645,16.2,76,usa,pontiac ventura sj
200,18.0,6,250.0,78.0,3574,21.0,76,usa,ford granada ghia
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
33,19.0,6,232.0,100.0,2634,13.0,71,usa,amc gremlin
283,20.2,6,232.0,90.0,3265,18.2,79,usa,amc concord dl 6
127,19.0,6,232.0,100.0,2901,16.0,74,usa,amc hornet
99,18.0,6,232.0,100.0,2945,16.0,73,usa,amc hornet
257,19.4,6,232.0,90.0,3210,17.2,78,usa,amc concord
176,19.0,6,232.0,90.0,3211,17.0,75,usa,amc pacer
169,20.0,6,232.0,100.0,2914,16.0,75,usa,amc gremlin
107,18.0,6,232.0,100.0,2789,15.0,73,usa,amc gremlin
194,22.5,6,232.0,90.0,3085,17.6,76,usa,amc hornet
37,18.0,6,232.0,100.0,3288,15.5,71,usa,amc matador
363,22.4,6,231.0,110.0,3415,15.8,81,usa,buick century
164,21.0,6,231.0,110.0,3039,15.0,75,usa,buick skyhawk
226,20.5,6,231.0,105.0,3425,16.9,77,usa,buick skylark
263,17.7,6,231.0,165.0,3445,13.4,78,usa,buick regal sport coupe (turbo)
280,21.5,6,231.0,115.0,3245,15.4,79,usa,pontiac lemans v6
252,19.2,6,231.0,105.0,3535,19.2,78,usa,pontiac phoenix lj
258,20.6,6,231.0,105.0,3380,15.8,78,usa,buick century special
160,17.0,6,231.0,110.0,3907,21.0,75,usa,buick century
366,17.6,6,225.0,85.0,3465,16.6,81,usa,chrysler lebaron salon
316,19.1,6,225.0,90.0,3381,18.7,80,usa,dodge aspen
191,22.0,6,225.0,100.0,3233,15.4,76,usa,plymouth valiant
163,18.0,6,225.0,95.0,3785,19.0,75,usa,plymouth fury
227,19.0,6,225.0,100.0,3630,17.7,77,usa,plymouth volare custom
284,20.6,6,225.0,110.0,3360,16.6,79,usa,dodge aspen 6
256,20.5,6,225.0,100.0,3430,17.2,78,usa,plymouth volare
260,18.6,6,225.0,110.0,3620,18.7,78,usa,dodge aspen
199,20.0,6,225.0,100.0,3651,17.7,76,usa,dodge aspen se
152,19.0,6,225.0,95.0,3264,16.0,75,usa,plymouth valiant custom
135,18.0,6,225.0,105.0,3613,16.5,74,usa,plymouth satellite sebring
34,16.0,6,225.0,105.0,3439,15.5,71,usa,plymouth satellite custom
97,18.0,6,225.0,105.0,3121,16.5,73,usa,plymouth valiant
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
365,20.2,6,200.0,88.0,3060,17.1,81,usa,ford granada gl
281,19.8,6,200.0,85.0,2990,18.2,79,usa,mercury zephyr 6
193,24.0,6,200.0,81.0,3012,17.6,76,usa,ford maverick
254,20.2,6,200.0,85.0,2965,15.8,78,usa,ford fairmont (auto)
253,20.5,6,200.0,95.0,3155,18.2,78,usa,chevrolet malibu
259,20.8,6,200.0,85.0,3070,16.7,78,usa,mercury zephyr
24,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
125,20.0,6,198.0,95.0,3102,16.5,74,usa,plymouth duster
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
101,23.0,6,198.0,95.0,2904,16.0,73,usa,plymouth duster
297,25.4,5,183.0,77.0,3530,20.1,79,europe,mercedes benz 300d
386,25.0,6,181.0,110.0,2945,16.4,82,usa,buick century limited
307,26.8,6,173.0,115.0,2700,12.9,79,usa,oldsmobile omega brougham
306,28.8,6,173.0,115.0,2595,11.3,79,usa,chevrolet citation
341,23.5,6,173.0,110.0,2725,12.6,81,usa,chevrolet citation
174,18.0,6,171.0,97.0,2984,14.5,75,usa,ford pinto
333,32.7,6,168.0,132.0,2910,11.4,80,japan,datsun 280-zx
211,16.5,6,168.0,120.0,3820,16.7,76,europe,mercedes-benz 280s
361,25.4,6,168.0,116.0,2900,12.6,81,japan,toyota cressida
277,16.2,6,163.0,133.0,3410,15.8,78,europe,peugeot 604sl
275,17.0,6,163.0,125.0,3140,13.6,78,europe,volvo 264gl
210,19.0,6,156.0,108.0,2930,15.5,76,japan,toyota mark ii
340,25.8,4,156.0,92.0,2620,14.4,81,usa,dodge aries wagon (sw)
388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
123,20.0,6,156.0,122.0,2807,13.5,73,japan,toyota mark ii
323,27.9,4,156.0,105.0,2800,14.4,80,usa,dodge colt
271,23.2,4,156.0,105.0,2745,16.7,78,usa,plymouth sapporo
113,21.0,6,155.0,107.0,2472,14.0,73,usa,mercury capri v6
234,24.5,4,151.0,88.0,2740,16.0,77,usa,pontiac sunbird coupe
305,28.4,4,151.0,90.0,2670,16.0,79,usa,buick skylark limited
272,23.8,4,151.0,85.0,2855,17.6,78,usa,oldsmobile starfire sx
308,33.5,4,151.0,90.0,2556,13.2,79,usa,pontiac phoenix
313,28.0,4,151.0,90.0,2678,16.5,80,usa,chevrolet citation
315,24.3,4,151.0,90.0,3003,20.1,80,usa,amc concord
339,26.6,4,151.0,84.0,2635,16.4,81,usa,buick skylark
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl
372,27.0,4,151.0,90.0,2735,18.0,82,usa,pontiac phoenix
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
328,30.0,4,146.0,67.0,3250,21.8,80,europe,mercedes-benz 240d
241,22.0,6,146.0,97.0,2815,14.5,77,japan,datsun 810
362,24.2,6,146.0,120.0,2930,13.8,81,japan,datsun 810 maxima
360,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
299,27.2,4,141.0,71.0,3190,24.8,79,europe,peugeot 504
359,28.1,4,141.0,80.0,3230,20.4,81,europe,peugeot 505s turbo diesel
30,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
184,25.0,4,140.0,92.0,2572,14.9,76,usa,capri ii
60,20.0,4,140.0,90.0,2408,19.5,72,usa,chevrolet vega
373,24.0,4,140.0,92.0,2865,16.4,82,usa,ford fairmont futura
168,23.0,4,140.0,83.0,2639,17.0,75,usa,ford pinto
282,22.3,4,140.0,88.0,2890,17.3,79,usa,ford fairmont 4
132,25.0,4,140.0,75.0,2542,17.0,74,usa,chevrolet vega
170,23.0,4,140.0,78.0,2592,18.5,75,usa,pontiac astro
46,22.0,4,140.0,72.0,2408,19.0,71,usa,chevrolet vega (sw)
236,25.5,4,140.0,89.0,2755,15.8,77,usa,ford mustang ii 2+2
255,25.1,4,140.0,88.0,2720,15.4,78,usa,ford fairmont (man)
314,26.4,4,140.0,88.0,2870,18.1,80,usa,ford fairmont
109,21.0,4,140.0,72.0,2401,19.5,73,usa,chevrolet vega
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
206,26.5,4,140.0,72.0,2565,13.6,76,usa,ford pinto
371,29.0,4,135.0,84.0,2525,16.0,82,usa,dodge aries se
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
342,30.0,4,135.0,84.0,2385,12.9,81,usa,plymouth reliant
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
338,27.2,4,135.0,84.0,2490,15.7,81,usa,plymouth reliant
171,24.0,4,134.0,96.0,2702,13.5,75,japan,toyota corona
270,21.1,4,134.0,95.0,2515,14.8,78,japan,toyota celica gt liftback
267,27.5,4,134.0,95.0,2560,14.2,78,japan,toyota corona
318,29.8,4,134.0,90.0,2711,15.5,80,japan,toyota corona liftback
274,20.3,5,131.0,103.0,2830,15.9,78,europe,audi 5000
207,20.0,4,130.0,102.0,3150,15.7,76,europe,volvo 245
219,25.5,4,122.0,96.0,2300,15.5,77,usa,plymouth arrow gs
80,22.0,4,122.0,86.0,2395,16.0,72,usa,ford pinto (sw)
49,23.0,4,122.0,86.0,2220,14.0,71,usa,mercury capri 2000
112,19.0,4,122.0,85.0,2310,18.5,73,usa,ford pinto
130,26.0,4,122.0,80.0,2451,16.5,74,usa,ford pinto
335,35.0,4,122.0,88.0,2500,15.1,80,europe,triumph tr7 coupe
61,21.0,4,122.0,86.0,2226,16.5,72,usa,ford pinto runabout
327,36.4,5,121.0,67.0,2950,19.9,80,europe,audi 5000s (diesel)
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
296,27.4,4,121.0,80.0,2670,15.0,79,usa,amc spirit dl
76,18.0,4,121.0,112.0,2933,14.5,72,europe,volvo 145e (sw)
276,21.6,4,121.0,115.0,2795,15.7,78,europe,saab 99gle
179,22.0,4,121.0,98.0,2945,14.5,75,europe,volvo 244dl
180,25.0,4,121.0,115.0,2671,13.5,75,europe,saab 99le
122,24.0,4,121.0,110.0,2660,14.0,73,europe,saab 99le
77,22.0,4,121.0,76.0,2511,18.0,72,europe,volkswagen 411 (sw)
120,19.0,4,121.0,112.0,2868,15.5,73,europe,volvo 144ea
242,21.5,4,121.0,110.0,2600,12.8,77,europe,bmw 320i
178,23.0,4,120.0,88.0,2957,17.0,75,europe,peugeot 504
78,21.0,4,120.0,87.0,2979,19.5,72,europe,peugeot 504 (sw)
358,31.6,4,120.0,74.0,2635,18.3,81,japan,mazda 626
319,31.3,4,120.0,75.0,2542,17.5,80,japan,mazda 626
82,23.0,4,120.0,97.0,2506,14.5,72,japan,toyouta corona mark ii (sw)
149,24.0,4,120.0,97.0,2489,15.0,74,japan,honda civic
209,19.0,4,120.0,88.0,3270,21.9,76,europe,peugeot 504
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
380,36.0,4,120.0,88.0,2160,14.5,82,japan,nissan stanza xe
320,37.0,4,119.0,92.0,2434,15.0,80,japan,datsun 510 hatchback
273,23.9,4,119.0,97.0,2405,14.9,78,japan,datsun 200-sx
268,27.2,4,119.0,97.0,2300,14.7,78,japan,datsun 510
357,32.9,4,119.0,100.0,2615,14.8,81,japan,datsun 200sx
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10
173,24.0,4,119.0,97.0,2545,17.0,75,japan,datsun 710
118,24.0,4,116.0,75.0,2158,15.5,73,europe,opel manta
50,28.0,4,116.0,90.0,2123,14.0,71,europe,opel 1900
183,25.0,4,116.0,81.0,2220,16.9,76,europe,opel 1900
148,26.0,4,116.0,75.0,2246,14.0,74,europe,fiat 124 tc
177,23.0,4,115.0,95.0,2694,15.0,75,europe,audi 100ls
119,20.0,4,114.0,91.0,2582,14.0,73,europe,audi 100ls
31,25.0,4,113.0,95.0,2228,14.0,71,japan,toyota corona
57,24.0,4,113.0,95.0,2278,15.5,72,japan,toyota corona hardtop
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
367,28.0,4,112.0,88.0,2605,19.6,82,usa,chevrolet cavalier
368,27.0,4,112.0,88.0,2640,18.6,82,usa,chevrolet cavalier wagon
369,34.0,4,112.0,88.0,2395,18.0,82,usa,chevrolet cavalier 2-door
370,31.0,4,112.0,85.0,2575,16.2,82,usa,pontiac j2000 se hatchback
217,30.0,4,111.0,80.0,2155,14.8,77,usa,buick opel isuzu deluxe
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
356,32.4,4,108.0,75.0,2350,16.8,81,japan,toyota corolla
150,26.0,4,108.0,93.0,2391,15.5,74,japan,subaru
110,22.0,4,108.0,94.0,2379,16.5,73,japan,datsun 610
382,34.0,4,108.0,70.0,2245,16.9,82,japan,toyota corolla
321,32.2,4,108.0,75.0,2265,15.2,80,japan,toyota corolla
381,36.0,4,107.0,75.0,2205,14.5,82,japan,honda accord
337,32.4,4,107.0,72.0,2290,17.0,80,japan,honda accord
182,28.0,4,107.0,86.0,2464,15.5,76,europe,fiat 131
355,33.7,4,107.0,75.0,2210,14.4,81,japan,honda prelude
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
302,34.5,4,105.0,70.0,2150,14.9,79,usa,plymouth horizon tc3
353,33.0,4,105.0,74.0,2190,14.2,81,europe,volkswagen jetta
378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
375,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l
301,34.2,4,105.0,70.0,2200,13.2,79,usa,plymouth horizon
269,30.9,4,105.0,75.0,2230,14.5,78,usa,dodge omni
350,34.7,4,105.0,63.0,2215,14.9,81,usa,plymouth horizon 4
22,25.0,4,104.0,95.0,2375,17.5,70,europe,saab 99e
186,27.0,4,101.0,83.0,2202,15.3,76,europe,renault 12tl
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
351,34.4,4,98.0,65.0,2045,16.2,81,usa,ford escort 4w
185,26.0,4,98.0,79.0,2255,17.7,76,usa,dodge colt
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
352,29.9,4,98.0,65.0,2380,20.7,81,usa,ford escort 2h
279,29.5,4,98.0,68.0,2135,16.6,78,japan,honda accord lx
266,30.0,4,98.0,68.0,2155,16.5,78,usa,chevrolet chevette
237,30.5,4,98.0,63.0,2051,17.0,77,usa,chevrolet chevette
238,33.5,4,98.0,83.0,2075,15.9,77,usa,dodge colt m/m
141,29.0,4,98.0,83.0,2219,16.5,74,europe,audi fox
379,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
196,24.5,4,98.0,60.0,2164,22.1,76,usa,chevrolet woody
245,36.1,4,98.0,66.0,1800,14.4,78,usa,ford fiesta
83,28.0,4,98.0,80.0,2164,15.0,72,usa,dodge colt (sw)
114,26.0,4,98.0,90.0,2265,15.5,73,europe,fiat 124 sport coupe
311,32.1,4,98.0,70.0,2120,15.5,80,usa,chevrolet chevette
295,35.7,4,98.0,80.0,1915,14.4,79,usa,dodge colt hatchback custom
309,41.5,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
216,31.5,4,98.0,68.0,2045,18.5,77,japan,honda accord cvcc
58,25.0,4,97.5,80.0,2126,17.0,72,usa,dodge colt hardtop
102,26.0,4,97.0,46.0,1950,21.0,73,europe,volkswagen super beetle
55,27.0,4,97.0,60.0,1834,19.0,71,europe,volkswagen model 111
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
167,29.0,4,97.0,75.0,2171,16.0,75,japan,toyota corolla
235,26.0,4,97.0,75.0,2265,18.2,77,japan,toyota corolla liftback
346,32.3,4,97.0,67.0,2065,17.8,81,japan,subaru
84,27.0,4,97.0,88.0,2100,16.5,72,japan,toyota corolla 1600 (sw)
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
233,29.0,4,97.0,78.0,1940,14.5,77,europe,volkswagen rabbit custom
59,23.0,4,97.0,54.0,2254,23.5,72,europe,volkswagen type 3
203,29.5,4,97.0,71.0,1825,12.2,76,europe,volkswagen rabbit
331,33.8,4,97.0,67.0,2145,18.0,80,japan,subaru dl
205,28.0,4,97.0,75.0,2155,16.4,76,japan,toyota corolla
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
108,20.0,4,97.0,88.0,2279,19.0,73,japan,toyota carina
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
239,30.0,4,97.0,67.0,1985,16.4,77,japan,subaru dl
240,30.5,4,97.0,78.0,2190,14.1,77,europe,volkswagen dasher
317,34.3,4,97.0,78.0,2188,15.8,80,europe,audi 4000
143,26.0,4,97.0,78.0,2300,14.5,74,europe,opel manta
81,28.0,4,97.0,92.0,2288,17.0,72,japan,datsun 510 (sw)
79,26.0,4,96.0,69.0,2189,18.0,72,europe,renault 12 (sw)
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
248,36.1,4,91.0,60.0,1800,16.4,78,japan,honda civic cvcc
56,26.0,4,91.0,70.0,1955,20.5,71,usa,plymouth cricket
384,32.0,4,91.0,67.0,1965,15.7,82,japan,honda civic (auto)
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
377,31.0,4,91.0,68.0,1970,17.6,82,japan,mazda glc custom

In [ ]:
car.sort_values(['displacement','weight'], ascending = False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
95,12.0,8,455.0,225.0,4951,11.0,73,usa,buick electra 225 custom
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
94,13.0,8,440.0,215.0,4735,11.0,73,usa,chrysler new yorker brougham
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
90,12.0,8,429.0,198.0,4952,11.5,73,usa,mercury marquis brougham
67,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
44,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw)
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
104,12.0,8,400.0,167.0,4906,12.5,73,usa,ford country
43,13.0,8,400.0,170.0,4746,12.0,71,usa,ford country squire (sw)
156,16.0,8,400.0,170.0,4668,11.5,75,usa,pontiac catalina
39,14.0,8,400.0,175.0,4464,11.5,71,usa,pontiac catalina brougham
91,13.0,8,400.0,150.0,4464,12.0,73,usa,chevrolet caprice classic
70,13.0,8,400.0,190.0,4422,12.5,72,usa,chrysler newport royal
63,14.0,8,400.0,175.0,4385,12.0,72,usa,pontiac catalina
231,15.5,8,400.0,190.0,4325,12.2,77,usa,chrysler cordoba
116,16.0,8,400.0,230.0,4278,9.5,73,usa,pontiac grand prix
229,16.0,8,400.0,180.0,4220,11.1,77,usa,pontiac grand prix lj
12,15.0,8,400.0,150.0,3761,9.5,70,usa,chevrolet monte carlo
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
42,12.0,8,383.0,180.0,4955,11.5,71,usa,dodge monaco (sw)
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
105,13.0,8,360.0,170.0,4654,13.0,73,usa,plymouth custom suburb
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
292,18.5,8,360.0,150.0,3940,13.0,79,usa,chrysler lebaron town @ country (sw)
96,13.0,8,360.0,175.0,3821,11.0,73,usa,amc ambassador brougham
159,14.0,8,351.0,148.0,4657,13.5,75,usa,ford ltd
92,13.0,8,351.0,158.0,4363,13.0,73,usa,ford ltd
232,16.0,8,351.0,149.0,4335,14.5,77,usa,ford thunderbird
190,14.5,8,351.0,152.0,4215,12.8,76,usa,ford gran torino
40,14.0,8,351.0,153.0,4154,13.5,71,usa,ford galaxie 500
65,14.0,8,351.0,153.0,4129,13.0,72,usa,ford galaxie 500
290,15.5,8,351.0,142.0,4054,14.3,79,usa,ford country squire (sw)
287,16.5,8,351.0,138.0,3955,13.2,79,usa,mercury grand marquis
137,13.0,8,350.0,150.0,4699,14.5,74,usa,buick century luxus (sw)
68,13.0,8,350.0,155.0,4502,13.5,72,usa,buick lesabre custom
106,12.0,8,350.0,180.0,4499,12.5,73,usa,oldsmobile vista cruiser
69,12.0,8,350.0,160.0,4456,13.5,72,usa,oldsmobile delta 88 royale
157,15.0,8,350.0,145.0,4440,14.0,75,usa,chevrolet bel air
212,16.5,8,350.0,180.0,4380,12.1,76,usa,cadillac seville
289,16.9,8,350.0,155.0,4360,14.9,79,usa,buick estate wagon (sw)
62,13.0,8,350.0,165.0,4274,12.0,72,usa,chevrolet impala
38,14.0,8,350.0,165.0,4209,12.0,71,usa,chevrolet impala
230,15.5,8,350.0,170.0,4165,11.4,77,usa,chevrolet monte carlo landau
85,13.0,8,350.0,175.0,4100,13.0,73,usa,buick century 350
115,15.0,8,350.0,145.0,4082,13.0,73,usa,chevrolet monte carlo s
213,13.0,8,350.0,145.0,4055,12.0,76,usa,chevy c10
87,13.0,8,350.0,145.0,3988,13.0,73,usa,chevrolet malibu
298,23.0,8,350.0,125.0,3900,17.4,79,usa,cadillac eldorado
364,26.6,8,350.0,105.0,3725,19.0,81,usa,oldsmobile cutlass ls
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
158,16.0,8,318.0,150.0,4498,14.5,75,usa,plymouth grand fury
138,14.0,8,318.0,150.0,4457,13.5,74,usa,dodge coronet custom (sw)
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
93,14.0,8,318.0,150.0,4237,14.5,73,usa,plymouth fury gran sedan
188,16.0,8,318.0,150.0,4190,13.0,76,usa,dodge coronet brougham
223,15.5,8,318.0,145.0,4140,13.7,77,usa,dodge monaco brougham
64,15.0,8,318.0,150.0,4135,13.5,72,usa,plymouth fury iii
41,14.0,8,318.0,150.0,4096,13.0,71,usa,plymouth fury iii
265,17.5,8,318.0,140.0,4080,13.7,78,usa,dodge magnum xe
75,14.0,8,318.0,150.0,4077,14.0,72,usa,plymouth satellite custom (sw)
208,13.0,8,318.0,150.0,3940,13.2,76,usa,plymouth volare premier v8
288,18.2,8,318.0,135.0,3830,15.2,79,usa,dodge st. regis
89,15.0,8,318.0,150.0,3777,12.5,73,usa,dodge coronet custom
215,13.0,8,318.0,150.0,3755,14.0,76,usa,dodge d100
250,19.4,8,318.0,140.0,3735,13.2,78,usa,dodge diplomat
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
121,15.0,8,318.0,150.0,3399,11.0,73,usa,dodge dart custom
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
73,13.0,8,307.0,130.0,4098,14.0,72,usa,chevrolet chevelle concours (sw)
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
187,17.5,8,305.0,140.0,4215,13.0,76,usa,chevrolet chevelle malibu classic
221,17.5,8,305.0,145.0,3880,12.5,77,usa,chevrolet caprice classic
285,17.0,8,305.0,130.0,3840,15.4,79,usa,chevrolet caprice classic
262,19.2,8,305.0,145.0,3425,13.2,78,usa,chevrolet monte carlo landau
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
140,14.0,8,304.0,150.0,4257,15.5,74,usa,amc matador (sw)
189,15.5,8,304.0,120.0,3962,13.9,76,usa,amc matador
72,15.0,8,304.0,150.0,3892,12.5,72,usa,amc matador (sw)
66,17.0,8,304.0,150.0,3672,11.5,72,usa,amc ambassador sst
86,14.0,8,304.0,150.0,3672,11.5,73,usa,amc matador
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
139,14.0,8,302.0,140.0,4638,16.0,74,usa,ford gran torino (sw)
224,15.0,8,302.0,130.0,4295,14.9,77,usa,mercury cougar brougham
74,13.0,8,302.0,140.0,4294,16.0,72,usa,ford gran torino (sw)
136,16.0,8,302.0,140.0,4141,14.0,74,usa,ford gran torino
88,14.0,8,302.0,137.0,4042,14.5,73,usa,ford gran torino
214,13.0,8,302.0,130.0,3870,15.0,76,usa,ford f108
286,17.6,8,302.0,129.0,3725,13.4,79,usa,ford ltd landau
251,20.2,8,302.0,139.0,3570,12.8,78,usa,mercury monarch ghia
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
264,18.1,8,302.0,139.0,3205,11.2,78,usa,ford futura
166,13.0,8,302.0,129.0,3169,12.0,75,usa,ford mustang ii
291,19.2,8,267.0,125.0,3605,15.0,79,usa,chevrolet malibu classic (sw)
165,20.0,8,262.0,110.0,3221,13.5,75,usa,chevrolet monza 2+2
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
222,17.0,8,260.0,110.0,4060,19.0,77,usa,oldsmobile cutlass supreme
300,23.9,8,260.0,90.0,3420,22.2,79,usa,oldsmobile cutlass salon brougham
249,19.9,8,260.0,110.0,3365,15.5,78,usa,oldsmobile cutlass salon brougham
162,15.0,6,258.0,110.0,3730,19.0,75,usa,amc matador
134,16.0,6,258.0,110.0,3632,18.0,74,usa,amc matador
261,18.1,6,258.0,120.0,3410,15.1,78,usa,amc concord d/l
202,17.5,6,258.0,95.0,3193,17.8,76,usa,amc pacer d/l
45,18.0,6,258.0,110.0,2962,13.5,71,usa,amc hornet sportabout (sw)
161,16.0,6,250.0,105.0,3897,18.5,75,usa,chevroelt chevelle malibu
133,16.0,6,250.0,100.0,3781,17.0,74,usa,chevrolet chevelle malibu classic
201,18.5,6,250.0,110.0,3645,16.2,76,usa,pontiac ventura sj
200,18.0,6,250.0,78.0,3574,21.0,76,usa,ford granada ghia
228,18.5,6,250.0,98.0,3525,19.0,77,usa,ford granada
225,17.5,6,250.0,110.0,3520,16.4,77,usa,chevrolet concours
153,18.0,6,250.0,105.0,3459,16.0,75,usa,chevrolet nova
154,15.0,6,250.0,72.0,3432,21.0,75,usa,mercury monarch
192,22.0,6,250.0,105.0,3353,14.5,76,usa,chevrolet nova
128,15.0,6,250.0,100.0,3336,17.0,74,usa,chevrolet nova
35,17.0,6,250.0,100.0,3329,15.5,71,usa,chevrolet chevelle malibu
36,19.0,6,250.0,88.0,3302,15.5,71,usa,ford torino 500
47,19.0,6,250.0,100.0,3282,15.0,71,usa,pontiac firebird
98,16.0,6,250.0,100.0,3278,18.0,73,usa,chevrolet nova custom
155,15.0,6,250.0,72.0,3158,19.5,75,usa,ford maverick
48,18.0,6,250.0,88.0,3139,14.5,71,usa,ford mustang
100,18.0,6,250.0,88.0,3021,16.5,73,usa,ford maverick
37,18.0,6,232.0,100.0,3288,15.5,71,usa,amc matador
283,20.2,6,232.0,90.0,3265,18.2,79,usa,amc concord dl 6
176,19.0,6,232.0,90.0,3211,17.0,75,usa,amc pacer
257,19.4,6,232.0,90.0,3210,17.2,78,usa,amc concord
194,22.5,6,232.0,90.0,3085,17.6,76,usa,amc hornet
99,18.0,6,232.0,100.0,2945,16.0,73,usa,amc hornet
169,20.0,6,232.0,100.0,2914,16.0,75,usa,amc gremlin
127,19.0,6,232.0,100.0,2901,16.0,74,usa,amc hornet
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
107,18.0,6,232.0,100.0,2789,15.0,73,usa,amc gremlin
33,19.0,6,232.0,100.0,2634,13.0,71,usa,amc gremlin
160,17.0,6,231.0,110.0,3907,21.0,75,usa,buick century
252,19.2,6,231.0,105.0,3535,19.2,78,usa,pontiac phoenix lj
263,17.7,6,231.0,165.0,3445,13.4,78,usa,buick regal sport coupe (turbo)
226,20.5,6,231.0,105.0,3425,16.9,77,usa,buick skylark
363,22.4,6,231.0,110.0,3415,15.8,81,usa,buick century
258,20.6,6,231.0,105.0,3380,15.8,78,usa,buick century special
280,21.5,6,231.0,115.0,3245,15.4,79,usa,pontiac lemans v6
164,21.0,6,231.0,110.0,3039,15.0,75,usa,buick skyhawk
163,18.0,6,225.0,95.0,3785,19.0,75,usa,plymouth fury
199,20.0,6,225.0,100.0,3651,17.7,76,usa,dodge aspen se
227,19.0,6,225.0,100.0,3630,17.7,77,usa,plymouth volare custom
260,18.6,6,225.0,110.0,3620,18.7,78,usa,dodge aspen
135,18.0,6,225.0,105.0,3613,16.5,74,usa,plymouth satellite sebring
366,17.6,6,225.0,85.0,3465,16.6,81,usa,chrysler lebaron salon
34,16.0,6,225.0,105.0,3439,15.5,71,usa,plymouth satellite custom
256,20.5,6,225.0,100.0,3430,17.2,78,usa,plymouth volare
316,19.1,6,225.0,90.0,3381,18.7,80,usa,dodge aspen
284,20.6,6,225.0,110.0,3360,16.6,79,usa,dodge aspen 6
152,19.0,6,225.0,95.0,3264,16.0,75,usa,plymouth valiant custom
191,22.0,6,225.0,100.0,3233,15.4,76,usa,plymouth valiant
97,18.0,6,225.0,105.0,3121,16.5,73,usa,plymouth valiant
253,20.5,6,200.0,95.0,3155,18.2,78,usa,chevrolet malibu
259,20.8,6,200.0,85.0,3070,16.7,78,usa,mercury zephyr
365,20.2,6,200.0,88.0,3060,17.1,81,usa,ford granada gl
193,24.0,6,200.0,81.0,3012,17.6,76,usa,ford maverick
281,19.8,6,200.0,85.0,2990,18.2,79,usa,mercury zephyr 6
254,20.2,6,200.0,85.0,2965,15.8,78,usa,ford fairmont (auto)
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
24,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
125,20.0,6,198.0,95.0,3102,16.5,74,usa,plymouth duster
101,23.0,6,198.0,95.0,2904,16.0,73,usa,plymouth duster
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
297,25.4,5,183.0,77.0,3530,20.1,79,europe,mercedes benz 300d
386,25.0,6,181.0,110.0,2945,16.4,82,usa,buick century limited
341,23.5,6,173.0,110.0,2725,12.6,81,usa,chevrolet citation
307,26.8,6,173.0,115.0,2700,12.9,79,usa,oldsmobile omega brougham
306,28.8,6,173.0,115.0,2595,11.3,79,usa,chevrolet citation
174,18.0,6,171.0,97.0,2984,14.5,75,usa,ford pinto
211,16.5,6,168.0,120.0,3820,16.7,76,europe,mercedes-benz 280s
333,32.7,6,168.0,132.0,2910,11.4,80,japan,datsun 280-zx
361,25.4,6,168.0,116.0,2900,12.6,81,japan,toyota cressida
277,16.2,6,163.0,133.0,3410,15.8,78,europe,peugeot 604sl
275,17.0,6,163.0,125.0,3140,13.6,78,europe,volvo 264gl
210,19.0,6,156.0,108.0,2930,15.5,76,japan,toyota mark ii
123,20.0,6,156.0,122.0,2807,13.5,73,japan,toyota mark ii
323,27.9,4,156.0,105.0,2800,14.4,80,usa,dodge colt
271,23.2,4,156.0,105.0,2745,16.7,78,usa,plymouth sapporo
340,25.8,4,156.0,92.0,2620,14.4,81,usa,dodge aries wagon (sw)
388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
113,21.0,6,155.0,107.0,2472,14.0,73,usa,mercury capri v6
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl
315,24.3,4,151.0,90.0,3003,20.1,80,usa,amc concord
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
272,23.8,4,151.0,85.0,2855,17.6,78,usa,oldsmobile starfire sx
234,24.5,4,151.0,88.0,2740,16.0,77,usa,pontiac sunbird coupe
372,27.0,4,151.0,90.0,2735,18.0,82,usa,pontiac phoenix
313,28.0,4,151.0,90.0,2678,16.5,80,usa,chevrolet citation
305,28.4,4,151.0,90.0,2670,16.0,79,usa,buick skylark limited
339,26.6,4,151.0,84.0,2635,16.4,81,usa,buick skylark
308,33.5,4,151.0,90.0,2556,13.2,79,usa,pontiac phoenix
328,30.0,4,146.0,67.0,3250,21.8,80,europe,mercedes-benz 240d
362,24.2,6,146.0,120.0,2930,13.8,81,japan,datsun 810 maxima
241,22.0,6,146.0,97.0,2815,14.5,77,japan,datsun 810
360,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
359,28.1,4,141.0,80.0,3230,20.4,81,europe,peugeot 505s turbo diesel
299,27.2,4,141.0,71.0,3190,24.8,79,europe,peugeot 504
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
282,22.3,4,140.0,88.0,2890,17.3,79,usa,ford fairmont 4
314,26.4,4,140.0,88.0,2870,18.1,80,usa,ford fairmont
373,24.0,4,140.0,92.0,2865,16.4,82,usa,ford fairmont futura
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
236,25.5,4,140.0,89.0,2755,15.8,77,usa,ford mustang ii 2+2
255,25.1,4,140.0,88.0,2720,15.4,78,usa,ford fairmont (man)
168,23.0,4,140.0,83.0,2639,17.0,75,usa,ford pinto
170,23.0,4,140.0,78.0,2592,18.5,75,usa,pontiac astro
184,25.0,4,140.0,92.0,2572,14.9,76,usa,capri ii
206,26.5,4,140.0,72.0,2565,13.6,76,usa,ford pinto
132,25.0,4,140.0,75.0,2542,17.0,74,usa,chevrolet vega
46,22.0,4,140.0,72.0,2408,19.0,71,usa,chevrolet vega (sw)
60,20.0,4,140.0,90.0,2408,19.5,72,usa,chevrolet vega
109,21.0,4,140.0,72.0,2401,19.5,73,usa,chevrolet vega
30,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
371,29.0,4,135.0,84.0,2525,16.0,82,usa,dodge aries se
338,27.2,4,135.0,84.0,2490,15.7,81,usa,plymouth reliant
342,30.0,4,135.0,84.0,2385,12.9,81,usa,plymouth reliant
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
318,29.8,4,134.0,90.0,2711,15.5,80,japan,toyota corona liftback
171,24.0,4,134.0,96.0,2702,13.5,75,japan,toyota corona
267,27.5,4,134.0,95.0,2560,14.2,78,japan,toyota corona
270,21.1,4,134.0,95.0,2515,14.8,78,japan,toyota celica gt liftback
274,20.3,5,131.0,103.0,2830,15.9,78,europe,audi 5000
207,20.0,4,130.0,102.0,3150,15.7,76,europe,volvo 245
335,35.0,4,122.0,88.0,2500,15.1,80,europe,triumph tr7 coupe
130,26.0,4,122.0,80.0,2451,16.5,74,usa,ford pinto
80,22.0,4,122.0,86.0,2395,16.0,72,usa,ford pinto (sw)
112,19.0,4,122.0,85.0,2310,18.5,73,usa,ford pinto
219,25.5,4,122.0,96.0,2300,15.5,77,usa,plymouth arrow gs
61,21.0,4,122.0,86.0,2226,16.5,72,usa,ford pinto runabout
49,23.0,4,122.0,86.0,2220,14.0,71,usa,mercury capri 2000
327,36.4,5,121.0,67.0,2950,19.9,80,europe,audi 5000s (diesel)
179,22.0,4,121.0,98.0,2945,14.5,75,europe,volvo 244dl
76,18.0,4,121.0,112.0,2933,14.5,72,europe,volvo 145e (sw)
120,19.0,4,121.0,112.0,2868,15.5,73,europe,volvo 144ea
276,21.6,4,121.0,115.0,2795,15.7,78,europe,saab 99gle
180,25.0,4,121.0,115.0,2671,13.5,75,europe,saab 99le
296,27.4,4,121.0,80.0,2670,15.0,79,usa,amc spirit dl
122,24.0,4,121.0,110.0,2660,14.0,73,europe,saab 99le
242,21.5,4,121.0,110.0,2600,12.8,77,europe,bmw 320i
77,22.0,4,121.0,76.0,2511,18.0,72,europe,volkswagen 411 (sw)
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
209,19.0,4,120.0,88.0,3270,21.9,76,europe,peugeot 504
78,21.0,4,120.0,87.0,2979,19.5,72,europe,peugeot 504 (sw)
178,23.0,4,120.0,88.0,2957,17.0,75,europe,peugeot 504
358,31.6,4,120.0,74.0,2635,18.3,81,japan,mazda 626
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
319,31.3,4,120.0,75.0,2542,17.5,80,japan,mazda 626
82,23.0,4,120.0,97.0,2506,14.5,72,japan,toyouta corona mark ii (sw)
149,24.0,4,120.0,97.0,2489,15.0,74,japan,honda civic
380,36.0,4,120.0,88.0,2160,14.5,82,japan,nissan stanza xe
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10
357,32.9,4,119.0,100.0,2615,14.8,81,japan,datsun 200sx
173,24.0,4,119.0,97.0,2545,17.0,75,japan,datsun 710
320,37.0,4,119.0,92.0,2434,15.0,80,japan,datsun 510 hatchback
273,23.9,4,119.0,97.0,2405,14.9,78,japan,datsun 200-sx
268,27.2,4,119.0,97.0,2300,14.7,78,japan,datsun 510
148,26.0,4,116.0,75.0,2246,14.0,74,europe,fiat 124 tc
183,25.0,4,116.0,81.0,2220,16.9,76,europe,opel 1900
118,24.0,4,116.0,75.0,2158,15.5,73,europe,opel manta
50,28.0,4,116.0,90.0,2123,14.0,71,europe,opel 1900
177,23.0,4,115.0,95.0,2694,15.0,75,europe,audi 100ls
119,20.0,4,114.0,91.0,2582,14.0,73,europe,audi 100ls
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
57,24.0,4,113.0,95.0,2278,15.5,72,japan,toyota corona hardtop
31,25.0,4,113.0,95.0,2228,14.0,71,japan,toyota corona
368,27.0,4,112.0,88.0,2640,18.6,82,usa,chevrolet cavalier wagon
367,28.0,4,112.0,88.0,2605,19.6,82,usa,chevrolet cavalier
370,31.0,4,112.0,85.0,2575,16.2,82,usa,pontiac j2000 se hatchback
369,34.0,4,112.0,88.0,2395,18.0,82,usa,chevrolet cavalier 2-door
217,30.0,4,111.0,80.0,2155,14.8,77,usa,buick opel isuzu deluxe
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
150,26.0,4,108.0,93.0,2391,15.5,74,japan,subaru
110,22.0,4,108.0,94.0,2379,16.5,73,japan,datsun 610
356,32.4,4,108.0,75.0,2350,16.8,81,japan,toyota corolla
321,32.2,4,108.0,75.0,2265,15.2,80,japan,toyota corolla
382,34.0,4,108.0,70.0,2245,16.9,82,japan,toyota corolla
182,28.0,4,107.0,86.0,2464,15.5,76,europe,fiat 131
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
337,32.4,4,107.0,72.0,2290,17.0,80,japan,honda accord
355,33.7,4,107.0,75.0,2210,14.4,81,japan,honda prelude
381,36.0,4,107.0,75.0,2205,14.5,82,japan,honda accord
269,30.9,4,105.0,75.0,2230,14.5,78,usa,dodge omni
350,34.7,4,105.0,63.0,2215,14.9,81,usa,plymouth horizon 4
301,34.2,4,105.0,70.0,2200,13.2,79,usa,plymouth horizon
353,33.0,4,105.0,74.0,2190,14.2,81,europe,volkswagen jetta
302,34.5,4,105.0,70.0,2150,14.9,79,usa,plymouth horizon tc3
378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
375,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l
22,25.0,4,104.0,95.0,2375,17.5,70,europe,saab 99e
186,27.0,4,101.0,83.0,2202,15.3,76,europe,renault 12tl
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
352,29.9,4,98.0,65.0,2380,20.7,81,usa,ford escort 2h
114,26.0,4,98.0,90.0,2265,15.5,73,europe,fiat 124 sport coupe
185,26.0,4,98.0,79.0,2255,17.7,76,usa,dodge colt
141,29.0,4,98.0,83.0,2219,16.5,74,europe,audi fox
83,28.0,4,98.0,80.0,2164,15.0,72,usa,dodge colt (sw)
196,24.5,4,98.0,60.0,2164,22.1,76,usa,chevrolet woody
266,30.0,4,98.0,68.0,2155,16.5,78,usa,chevrolet chevette
309,41.5,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
279,29.5,4,98.0,68.0,2135,16.6,78,japan,honda accord lx
379,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
311,32.1,4,98.0,70.0,2120,15.5,80,usa,chevrolet chevette
238,33.5,4,98.0,83.0,2075,15.9,77,usa,dodge colt m/m
237,30.5,4,98.0,63.0,2051,17.0,77,usa,chevrolet chevette
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
216,31.5,4,98.0,68.0,2045,18.5,77,japan,honda accord cvcc
351,34.4,4,98.0,65.0,2045,16.2,81,usa,ford escort 4w
295,35.7,4,98.0,80.0,1915,14.4,79,usa,dodge colt hatchback custom
245,36.1,4,98.0,66.0,1800,14.4,78,usa,ford fiesta
58,25.0,4,97.5,80.0,2126,17.0,72,usa,dodge colt hardtop
143,26.0,4,97.0,78.0,2300,14.5,74,europe,opel manta
81,28.0,4,97.0,92.0,2288,17.0,72,japan,datsun 510 (sw)
108,20.0,4,97.0,88.0,2279,19.0,73,japan,toyota carina
235,26.0,4,97.0,75.0,2265,18.2,77,japan,toyota corolla liftback
59,23.0,4,97.0,54.0,2254,23.5,72,europe,volkswagen type 3
240,30.5,4,97.0,78.0,2190,14.1,77,europe,volkswagen dasher
317,34.3,4,97.0,78.0,2188,15.8,80,europe,audi 4000
167,29.0,4,97.0,75.0,2171,16.0,75,japan,toyota corolla
205,28.0,4,97.0,75.0,2155,16.4,76,japan,toyota corolla
331,33.8,4,97.0,67.0,2145,18.0,80,japan,subaru dl
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
84,27.0,4,97.0,88.0,2100,16.5,72,japan,toyota corolla 1600 (sw)
346,32.3,4,97.0,67.0,2065,17.8,81,japan,subaru
239,30.0,4,97.0,67.0,1985,16.4,77,japan,subaru dl
102,26.0,4,97.0,46.0,1950,21.0,73,europe,volkswagen super beetle
233,29.0,4,97.0,78.0,1940,14.5,77,europe,volkswagen rabbit custom
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
55,27.0,4,97.0,60.0,1834,19.0,71,europe,volkswagen model 111
203,29.5,4,97.0,71.0,1825,12.2,76,europe,volkswagen rabbit
79,26.0,4,96.0,69.0,2189,18.0,72,europe,renault 12 (sw)
304,37.3,4,91.0,69.0,2130,14.7,79,europe,fiat strada custom
376,37.0,4,91.0,68.0,2025,18.2,82,japan,mazda glc custom l
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
349,34.1,4,91.0,68.0,1985,16.0,81,japan,mazda glc 4
377,31.0,4,91.0,68.0,1970,17.6,82,japan,mazda glc custom
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic

In [ ]:
car.describe(include = 'all')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398,398
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,305
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,usa,ford pinto
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249,6
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,NaN,NaN
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,NaN,NaN
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,NaN,NaN
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,NaN,NaN
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,NaN,NaN
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,NaN,NaN
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,NaN,NaN

In [ ]:
car.T

,0,1,2,3,4,5,6,7,8,9,...,388,389,390,391,392,393,394,395,396,397
mpg,18.0,15.0,18.0,16.0,17.0,15.0,14.0,14.0,14.0,15.0,...,26.0,22.0,32.0,36.0,27.0,27.0,44.0,32.0,28.0,31.0
cylinders,8,8,8,8,8,8,8,8,8,8,...,4,6,4,4,4,4,4,4,4,4
displacement,307.0,350.0,318.0,304.0,302.0,429.0,454.0,440.0,455.0,390.0,...,156.0,232.0,144.0,135.0,151.0,140.0,97.0,135.0,120.0,119.0
horsepower,130.0,165.0,150.0,150.0,140.0,198.0,220.0,215.0,225.0,190.0,...,92.0,112.0,96.0,84.0,90.0,86.0,52.0,84.0,79.0,82.0
weight,3504,3693,3436,3433,3449,4341,4354,4312,4425,3850,...,2585,2835,2665,2370,2950,2790,2130,2295,2625,2720
acceleration,12.0,11.5,11.0,12.0,10.5,10.0,9.0,8.5,10.0,8.5,...,14.5,14.7,13.9,13.0,17.3,15.6,24.6,11.6,18.6,19.4
model_year,70,70,70,70,70,70,70,70,70,70,...,82,82,82,82,82,82,82,82,82,82
origin,usa,usa,usa,usa,usa,usa,usa,usa,usa,usa,...,usa,usa,japan,usa,usa,usa,europe,usa,usa,usa
name,chevrolet chevelle malibu,buick skylark 320,plymouth satellite,amc rebel sst,ford torino,ford galaxie 500,chevrolet impala,plymouth fury iii,pontiac catalina,amc ambassador dpl,...,chrysler lebaron medallion,ford granada l,toyota celica gt,dodge charger 2.2,chevrolet camaro,ford mustang gl,vw pickup,dodge rampage,ford ranger,chevy s-10

**Indexing and Slicing**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Titanic.csv')

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [ ]:
titanic.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [ ]:
titanic.name

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object

In [ ]:
name = titanic['name']

In [ ]:
name

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object

In [ ]:
name.shape

(1309,)

In [ ]:
name = titanic[['name']]

In [ ]:
name

                                                 name
0                       Allen, Miss. Elisabeth Walton
1                      Allison, Master. Hudson Trevor
2                        Allison, Miss. Helen Loraine
3                Allison, Mr. Hudson Joshua Creighton
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...                                               ...
1304                             Zabour, Miss. Hileni
1305                            Zabour, Miss. Thamine
1306                        Zakarian, Mr. Mapriededer
1307                              Zakarian, Mr. Ortin
1308                               Zimmerman, Mr. Leo

[1309 rows x 1 columns]

In [ ]:
type(name)

pandas.core.frame.DataFrame

In [ ]:
name.shape

(1309, 1)

In [ ]:
titanic.iloc[100,:]

pclass                                                  1
survived                                                1
name         Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
sex                                                  male
age                                                  49.0
sibsp                                                   1
parch                                                   0
ticket                                           PC 17485
fare                                              56.9292
cabin                                                 A20
embarked                                                C
boat                                                    1
body                                                  NaN
home.dest                                  London / Paris
Name: 100, dtype: object

In [ ]:
titanic.loc[100,:]

pclass                                                  1
survived                                                1
name         Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
sex                                                  male
age                                                  49.0
sibsp                                                   1
parch                                                   0
ticket                                           PC 17485
fare                                              56.9292
cabin                                                 A20
embarked                                                C
boat                                                    1
body                                                  NaN
home.dest                                  London / Paris
Name: 100, dtype: object

In [ ]:
titanic.iloc[:,[2,8]]

                                                 name      fare
0                       Allen, Miss. Elisabeth Walton  211.3375
1                      Allison, Master. Hudson Trevor  151.5500
2                        Allison, Miss. Helen Loraine  151.5500
3                Allison, Mr. Hudson Joshua Creighton  151.5500
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  151.5500
...                                               ...       ...
1304                             Zabour, Miss. Hileni   14.4542
1305                            Zabour, Miss. Thamine   14.4542
1306                        Zakarian, Mr. Mapriededer    7.2250
1307                              Zakarian, Mr. Ortin    7.2250
1308                               Zimmerman, Mr. Leo    7.8750

[1309 rows x 2 columns]

In [ ]:
titanic.loc[:,['name','fare']]

                                                 name      fare
0                       Allen, Miss. Elisabeth Walton  211.3375
1                      Allison, Master. Hudson Trevor  151.5500
2                        Allison, Miss. Helen Loraine  151.5500
3                Allison, Mr. Hudson Joshua Creighton  151.5500
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  151.5500
...                                               ...       ...
1304                             Zabour, Miss. Hileni   14.4542
1305                            Zabour, Miss. Thamine   14.4542
1306                        Zakarian, Mr. Mapriededer    7.2250
1307                              Zakarian, Mr. Ortin    7.2250
1308                               Zimmerman, Mr. Leo    7.8750

[1309 rows x 2 columns]

In [ ]:
titanic.loc[[50,25,15],['pclass','fare','age']]

    pclass      fare   age
50       1  512.3292  58.0
25       1   26.0000  25.0
15       1   25.9250   NaN

In [ ]:
titanic.iloc[[50,25,15],[0,8,4]]

    pclass      fare   age
50       1  512.3292  58.0
25       1   26.0000  25.0
15       1   25.9250   NaN

In [ ]:
titanic.loc[10:25,['pclass','fare','age']]

    pclass      fare   age
10       1  227.5250  47.0
11       1  227.5250  18.0
12       1   69.3000  24.0
13       1   78.8500  26.0
14       1   30.0000  80.0
15       1   25.9250   NaN
16       1  247.5208  24.0
17       1  247.5208  50.0
18       1   76.2917  32.0
19       1   75.2417  36.0
20       1   52.5542  37.0
21       1   52.5542  47.0
22       1   30.0000  26.0
23       1  227.5250  42.0
24       1  221.7792  29.0
25       1   26.0000  25.0

In [ ]:
titanic.iloc[10:26,[0,8,4]]

    pclass      fare   age
10       1  227.5250  47.0
11       1  227.5250  18.0
12       1   69.3000  24.0
13       1   78.8500  26.0
14       1   30.0000  80.0
15       1   25.9250   NaN
16       1  247.5208  24.0
17       1  247.5208  50.0
18       1   76.2917  32.0
19       1   75.2417  36.0
20       1   52.5542  37.0
21       1   52.5542  47.0
22       1   30.0000  26.0
23       1  227.5250  42.0
24       1  221.7792  29.0
25       1   26.0000  25.0

In [ ]:
titanic.loc[10:15,'pclass':'age']

,pclass,survived,name,sex,age
10,1,0,"Astor, Col. John Jacob",male,47.0
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.0
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.0
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0
15,1,0,"Baumann, Mr. John D",male,NaN

In [ ]:
titanic.iloc[10:16,0:5]

,pclass,survived,name,sex,age
10,1,0,"Astor, Col. John Jacob",male,47.0
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.0
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.0
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0
15,1,0,"Baumann, Mr. John D",male,NaN

In [ ]:
titanic[titanic['age']>=35]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
5,1,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47.0,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
19,1,0,"Beattie, Mr. Thomson",male,36.0,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1,1,"Beckwith, Mr. Richard Leonard",male,37.0,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
23,1,1,"Bidois, Miss. Rosalie",female,42.0,0,0,PC 17757,227.5250,NaN,C,4,NaN,NaN
28,1,1,"Bissette, Miss. Amelia",female,35.0,0,0,PC 17760,135.6333,C99,S,8,NaN,NaN
30,1,0,"Blackwell, Mr. Stephen Weart",male,45.0,0,0,113784,35.5000,T,S,NaN,NaN,"Trenton, NJ"
31,1,1,"Blank, Mr. Henry",male,40.0,0,0,112277,31.0000,A31,C,7,NaN,"Glen Ridge, NJ"
33,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,8,NaN,"Birkdale, England Cleveland, Ohio"
34,1,0,"Borebank, Mr. John James",male,42.0,0,0,110489,26.5500,D22,S,NaN,NaN,"London / Winnipeg, MB"
35,1,1,"Bowen, Miss. Grace Scott",female,45.0,0,0,PC 17608,262.3750,NaN,C,4,NaN,"Cooperstown, NY"
38,1,0,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S,NaN,NaN,"Pomeroy, WA"
39,1,0,"Brandeis, Mr. Emil",male,48.0,0,0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE"
41,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0,0,0,PC 17610,27.7208,B4,C,6,NaN,"Denver, CO"
42,1,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.0,2,0,11769,51.4792,C101,S,D,NaN,"Belmont, MA"
43,1,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.0,0,0,11813,76.2917,D15,C,8,NaN,"Philadelphia, PA"
44,1,1,"Burns, Miss. Elizabeth Margaret",female,41.0,0,0,16966,134.5000,E40,C,3,NaN,NaN
45,1,0,"Butt, Major. Archibald Willingham",male,45.0,0,0,113050,26.5500,B38,S,NaN,NaN,"Washington, DC"
47,1,1,"Calderhead, Mr. Edward Pennington",male,42.0,0,0,PC 17476,26.2875,E24,S,5,NaN,"New York, NY"
48,1,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.0,0,0,PC 17606,27.4458,NaN,C,6,NaN,"Washington, DC"
49,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,3,NaN,"Austria-Hungary / Germantown, Philadelphia, PA"
50,1,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,0,1,PC 17755,512.3292,B51 B53 B55,C,3,NaN,"Germantown, Philadelphia, PA"
56,1,1,"Carter, Mr. William Ernest",male,36.0,1,2,113760,120.0000,B96 B98,S,C,NaN,"Bryn Mawr, PA"
57,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.0,1,2,113760,120.0000,B96 B98,S,4,NaN,"Bryn Mawr, PA"
58,1,0,"Case, Mr. Howard Brown",male,49.0,0,0,19924,26.0000,NaN,S,NaN,NaN,"Ascot, Berkshire / Rochester, NY"
60,1,0,"Cavendish, Mr. Tyrell William",male,36.0,1,0,19877,78.8500,C46,S,NaN,172.0,"Little Onn Hall, Staffs"
61,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,C46,S,6,NaN,"Little Onn Hall, Staffs"
62,1,0,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,E31,S,NaN,NaN,"Amenia, ND"
63,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S,4,NaN,"Amenia, ND"
66,1,1,"Chaudanson, Miss. Victorine",female,36.0,0,0,PC 17608,262.3750,B61,C,4,NaN,NaN
68,1,1,"Chevre, Mr. Paul Romaine",male,45.0,0,0,PC 17594,29.7000,A9,C,7,NaN,"Paris, France"
75,1,0,"Colley, Mr. Edward Pomeroy",male,47.0,0,0,5727,25.5875,E58,S,NaN,NaN,"Victoria, BC"
76,1,1,"Compton, Miss. Sara Rebecca",female,39.0,1,1,PC 17756,83.1583,E49,C,14,NaN,"Lakewood, NJ"
77,1,0,"Compton, Mr. Alexander Taylor Jr",male,37.0,1,1,PC 17756,83.1583,E52,C,NaN,NaN,"Lakewood, NJ"
78,1,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.0,0,2,PC 17756,83.1583,E45,C,14,NaN,"Lakewood, NJ"
79,1,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.0,2,0,11770,25.7000,C101,S,2,NaN,"New York, NY"
81,1,0,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S,NaN,269.0,"Milwaukee, WI"
82,1,1,"Crosby, Miss. Harriet R",female,36.0,0,2,WE/P 5735,71.0000,B22,S,7,NaN,"Milwaukee, WI"
83,1,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.0,1,1,112901,26.5500,B26,S,7,NaN,"Milwaukee, WI"
84,1,0,"Cumings, Mr. John Bradley",male,39.0,1,0,PC 17599,71.2833,C85,C,NaN,NaN,"New York, NY"
85,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,4,NaN,"New York, NY"
86,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S,5 9,NaN,"Lima, Peru"
93,1,1,"Dodge, Dr. Washington",male,53.0,1,1,33638,81.8583,A34,S,13,NaN,"San Francisco, CA"
95,1,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.0,1,1,33638,81.8583,A34,S,5,NaN,"San Francisco, CA"
96,1,0,"Douglas, Mr. Walter Donald",male,50.0,1,0,PC 17761,106.4250,C86,C,NaN,62.0,"Deephaven, MN / Cedar Rapids, IA"
98,1,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.0,1,0,PC 17761,106.4250,C86,C,2,NaN,"Deephaven, MN / Cedar Rapids, IA"
99,1,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",female,48.0,1,0,11755,39.6000,A16,C,1,NaN,London / Paris
100,1,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",male,49.0,1,0,PC 17485,56.9292,A20,C,1,NaN,London / Paris
101,1,0,"Dulles, Mr. William Crothers",male,39.0,0,0,PC 17580,29.7000,A18,C,NaN,133.0,"Philadelphia, PA"
103,1,1,"Endres, Miss. Caroline Louise",female,38.0,0,0,PC 17757,227.5250,C45,C,4,NaN,"New York, NY"
104,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.0,1,0,36947,78.2667,D20,C,4,NaN,"Brookline, MA"
105,1,0,"Evans, Miss. Edith Corse",female,36.0,0,0,PC 17531,31.6792,A29,C,NaN,NaN,"New York, NY"
109,1,1,"Flynn, Mr. John Irwin (""Irving"")",male,36.0,0,0,PC 17474,26.3875,E25,S,5,NaN,"Brooklyn, NY"
115,1,0,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,NaN,NaN,"Winnipeg, MB"
116,1,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.0,1,4,19950,263.0000,C23 C25 C27,S,10,NaN,"Winnipeg, MB"
119,1,1,"Frauenthal, Dr. Henry William",male,50.0,2,0,PC 17611,133.6500,NaN,S,5,NaN,"New York, NY"
120,1,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C,5,NaN,"New York, NY"
123,1,1,"Frolicher-Stehli, Mr. Maxmillian",male,60.0,1,1,13567,79.2000,B41,C,5,NaN,"Zurich, Switzerland"
124,1,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C,5,NaN,"Zurich, Switzerland"
126,1,0,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.1000,C123,S,NaN,NaN,"Scituate, MA"
127,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,D,NaN,"Scituate, MA"
128,1,0,"Gee, Mr. Arthur H",male,47.0,0,0,111320,38.5000,E63,S,NaN,275.0,"St Anne's-on-Sea, Lancashire"
129,1,1,"Geiger, Miss. Amalie",female,35.0,0,0,113503,211.5000,C130,C,4,NaN,NaN
131,1,1,"Gibson, Mrs. Leonard (Pauline C Boeson)",female,45.0,0,1,112378,59.4000,NaN,C,7,NaN,"New York, NY"
133,1,1,"Goldenberg, Mr. Samuel L",male,49.0,1,0,17453,89.1042,C92,C,5,NaN,"Paris, France / New York, NY"
135,1,0,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C,NaN,NaN,"New York, NY"
136,1,1,"Gracie, Col. Archibald IV",male,53.0,0,0,113780,28.5000,C51,C,B,NaN,"Washington, DC"
138,1,0,"Graham, Mr. George Edward",male,38.0,0,1,PC 17582,153.4625,C91,S,NaN,147.0,"Winnipeg, MB"
139,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0,0,1,PC 17582,153.4625,C125,S,3,NaN,"Greenwich, CT"
141,1,1,"Greenfield, Mrs. Leo David (Blanche Strouse)",female,45.0,0,1,PC 17759,63.3583,D10 D12,C,7,NaN,"New York, NY"
142,1,0,"Guggenheim, Mr. Benjamin",male,46.0,0,0,PC 17593,79.2000,B82 B84,C,NaN,NaN,"New York, NY"
145,1,1,"Harper, Mr. Henry Sleeper",male,48.0,1,0,PC 17572,76.7292,D33,C,3,NaN,"New York, NY"
146,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C,3,NaN,"New York, NY"
148,1,0,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.4750,C83,S,NaN,NaN,"New York, NY"
149,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0,1,0,36973,83.4750,C83,S,D,NaN,"New York, NY"
150,1,0,"Harrison, Mr. William",male,40.0,0,0,112059,0.0000,B94,S,NaN,110.0,NaN
154,1,0,"Hays, Mr. Charles Melville",male,55.0,1,1,12749,93.5000,B69,S,NaN,307.0,"Montreal, PQ"
155,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.5000,B69,S,3,NaN,"Montreal, PQ"
156,1,0,"Head, Mr. Christopher",male,42.0,0,0,113038,42.5000,B11,S,NaN,NaN,London / Middlesex
158,1,0,"Hipkins, Mr. William Edward",male,55.0,0,0,680,50.0000,C39,S,NaN,NaN,London / Birmingham
160,1,1,"Hippach, Mrs. Louis Albert (Ida Sophia Fischer)",female,44.0,0,1,111361,57.9792,B18,C,4,NaN,"Chicago, IL"
161,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S,10,NaN,"Hudson, NY"
162,1,0,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S,NaN,38.0,"New York, NY"
163,1,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",female,35.0,1,0,113789,52.0000,NaN,S,8,NaN,"New York, NY"
164,1,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.0,0,0,111426,26.5500,NaN,C,15,NaN,"Indianapolis, IN"
165,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.0,1,0,19943,90.0000,C93,S,D,NaN,"New York, NY / Stamford CT"
167,1,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,35.0,1,0,19943,90.0000,C93,S,D,NaN,"New York, NY / Stamford CT"
168,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0000,B28,NaN,6,NaN,NaN
169,1,0,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C,NaN,NaN,"Paris, France New York, NY"
170,1,1,"Ismay, Mr. Joseph Bruce",male,49.0,0,0,112058,0.0000,B52 B54 B56,S,C,NaN,Liverpool
171,1,0,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S,NaN,80.0,"Bennington, VT"
172,1,0,"Julian, Mr. Henry Forbes",male,50.0,0,0,113044,26.0000,E60,S,NaN,NaN,London
174,1,0,"Kent, Mr. Edward Austin",male,58.0,0,0,11771,29.7000,B37,C,NaN,258.0,"Buffalo, NY"
175,1,0,"Kenyon, Mr. Frederick R",male,41.0,1,0,17464,51.8625,D21,S,NaN,NaN,"Southington / Noank, CT"
177,1,1,"Kimball, Mr. Edwin Nelson Jr",male,42.0,1,0,11753,52.5542,D19,S,5,NaN,"Boston, MA"
178,1,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45.0,1,0,11753,52.5542,D19,S,5,NaN,"Boston, MA"
180,1,1,"Kreuchen, Miss. Emilie",female,39.0,0,0,24160,211.3375,NaN,S,2,NaN,NaN
181,1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S,8,NaN,"New York, NY"
183,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,3,NaN,NaN
185,1,0,"Lindeberg-Lind, Mr. Erik Gustaf (""Mr Edward Li...",male,42.0,0,0,17475,26.5500,NaN,S,NaN,NaN,"Stockholm, Sweden"
186,1,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.0,0,0,112377,27.7208,NaN,C,6,NaN,"Stockholm, Sweden"
188,1,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S,9,NaN,"Paris, France"
192,1,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.5208,B80,C,NaN,NaN,NaN
200,1,0,"McCaffry, Mr. Thomas Francis",male,46.0,0,0,13050,75.2417,C6,C,NaN,292.0,"Vancouver, BC"
201,1,0,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,NaN,175.0,"Dorchester, MA"
202,1,1,"McGough, Mr. James Robert",male,36.0,0,0,PC 17473,26.2875,E25,S,7,NaN,"Philadelphia, PA"
205,1,0,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,E38,S,NaN,249.0,"East Bridgewater, MA"
206,1,0,"Minahan, Dr. William Edward",male,44.0,2,0,19928,90.0000,C78,Q,NaN,230.0,"Fond du Lac, WI"
208,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,14,NaN,"Fond du Lac, WI"
210,1,0,"Molson, Mr. Harry Markland",male,55.0,0,0,113787,30.5000,C30,S,NaN,NaN,"Montreal, PQ"
211,1,0,"Moore, Mr. Clarence Bloomfield",male,47.0,0,0,113796,42.4000,NaN,S,NaN,NaN,"Washington, DC"
212,1,0,"Natsch, Mr. Charles H",male,37.0,0,1,PC 17596,29.7000,C118,C,NaN,NaN,"Brooklyn, NY"
215,1,0,"Newell, Mr. Arthur Webster",male,58.0,0,2,35273,113.2750,D48,C,NaN,122.0,"Lexington, MA"
217,1,0,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.0000,NaN,S,NaN,263.0,"Isle of Wight, England"
218,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,8,NaN,NaN
221,1,0,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C,NaN,234.0,"Providence, RI"
224,1,0,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,C124,S,NaN,166.0,"Surbiton Hill, Surrey"
231,1,1,"Peuchen, Major. Arthur Godfrey",male,52.0,0,0,113786,30.5000,C104,S,6,NaN,"Toronto, ON"
232,1,0,"Porter, Mr. Walter Chamberlain",male,47.0,0,0,110465,52.0000,C110,S,NaN,207.0,"Worcester, MA"
233,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,7,NaN,"Mt Airy, Philadelphia, PA"
234,1,0,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0000,NaN,S,NaN,NaN,"Rotterdam, Netherlands"
238,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0,0,1,24160,211.3375,B3,S,2,NaN,"St Louis, MO"
240,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.0,0,0,111428,26.5500,NaN,S,9,NaN,"New York, NY"
243,1,0,"Rosenshine, Mr. George (""Mr George Thorne"")",male,46.0,0,0,PC 17585,79.2000,NaN,C,NaN,16.0,"New York, NY"
244,1,0,"Ross, Mr. John Hugo",male,36.0,0,0,13049,40.1250,A10,C,NaN,NaN,"Winnipeg, MB"
246,1,0,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C,NaN,NaN,"New York, NY"
247,1,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",female,54.0,1,0,PC 17603,59.4000,NaN,C,6,NaN,"New York, NY"
252,1,0,"Ryerson, Mr. Arthur Larned",male,61.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,NaN,NaN,"Haverford, PA / Cooperstown, NY"
253,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,4,NaN,"Haverford, PA / Cooperstown, NY"
257,1,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.0,1,0,13236,57.7500,C28,C,11,NaN,"New York, NY"
260,1,1,"Shutes, Miss. Elizabeth W",female,40.0,0,0,PC 17582,153.4625,C125,S,3,NaN,"New York, NY / Greenwich CT"
261,1,1,"Silverthorne, Mr. Spencer Victor",male,35.0,0,0,PC 17475,26.2875,E24,S,5,NaN,"St Louis, MO"
262,1,0,"Silvey, Mr. William Baird",male,50.0,1,0,13507,55.9000,E44,S,NaN,NaN,"Duluth, MN"
263,1,1,"Silvey, Mrs. William Baird (Alice Munger)",female,39.0,1,0,13507,55.9000,E44,S,11,NaN,"Duluth, MN"
264,1,1,"Simonius-Blumer, Col. Oberst Alfons",male,56.0,0,0,13213,35.5000,A26,C,3,NaN,"Basel, Switzerland"
266,1,0,"Smart, Mr. John Montgomery",male,56.0,0,0,113792,26.5500,NaN,S,NaN,NaN,"New York, NY"
267,1,0,"Smith, Mr. James Clinch",male,56.0,0,0,17764,30.6958,A7,C,NaN,NaN,"St James, Long Island, NY"
274,1,1,"Spedden, Mr. Frederic Oakley",male,45.0,1,1,16966,134.5000,E34,C,3,NaN,"Tuxedo Park, NY"
275,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.0,1,1,16966,134.5000,E34,C,3,NaN,"Tuxedo Park, NY"
276,1,0,"Spencer, Mr. William Augustus",male,57.0,1,0,PC 17569,146.5208,B78,C,NaN,NaN,"Paris, France"
279,1,0,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.5500,C87,S,NaN,NaN,"Wimbledon Park, London / Hayling Island, Hants"
280,1,1,"Stengel, Mr. Charles Emil Henry",male,54.0,1,0,11778,55.4417,C116,C,1,NaN,"Newark, NJ"
281,1,1,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",female,43.0,1,0,11778,55.4417,C116,C,5,NaN,"Newark, NJ"
282,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.0,1,0,36947,78.2667,D20,C,4,NaN,"Haverford, PA"
284,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN,6,NaN,"Cincinatti, OH"
285,1,0,"Straus, Mr. Isidor",male,67.0,1,0,PC 17483,221.7792,C55 C57,S,NaN,96.0,"New York, NY"
286,1,0,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.0,1,0,PC 17483,221.7792,C55 C57,S,NaN,NaN,"New York, NY"
287,1,0,"Sutton, Mr. Frederick",male,61.0,0,0,36963,32.3208,D50,S,NaN,46.0,"Haddenfield, NJ"
288,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,8,NaN,"Brooklyn, NY"
290,1,0,"Taussig, Mr. Emil",male,52.0,1,1,110413,79.6500,E67,S,NaN,NaN,"New York, NY"
291,1,1,"Taussig, Mrs. Emil (Tillie Mandelbaum)",female,39.0,1,1,110413,79.6500,E67,S,8,NaN,"New York, NY"
292,1,1,"Taylor, Mr. Elmer Zebley",male,48.0,1,0,19996,52.0000,C126,S,5 7,NaN,"London / East Orange, NJ"
294,1,0,"Thayer, Mr. John Borland",male,49.0,1,1,17421,110.8833,C68,C,NaN,NaN,"Haverford, PA"
296,1,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",female,39.0,1,1,17421,110.8833,C68,C,4,NaN,"Haverford, PA"
299,1,0,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C,NaN,NaN,"Mexico City, Mexico"
300,1,0,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S,NaN,245.0,"Brooklyn, NY"
301,1,0,"Walker, Mr. William Anderson",male,47.0,0,0,36967,34.0208,D46,S,NaN,NaN,"East Orange, NJ"
302,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,3,NaN,NaN
303,1,0,"Warren, Mr. Frank Manley",male,64.0,1,0,110813,75.2500,D37,C,NaN,NaN,"Portland, OR"
304,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.0,1,0,110813,75.2500,D37,C,5,NaN,"Portland, OR"
305,1,0,"Weir, Col. John",male,60.0,0,0,113800,26.5500,NaN,S,NaN,NaN,"England Salt Lake City, Utah"
306,1,0,"White, Mr. Percival Wayland",male,54.0,0,1,35281,77.2875,D26,S,NaN,NaN,"Brunswick, ME"
308,1,1,"White, Mrs. John Stuart (Ella Holmes)",female,55.0,0,0,PC 17760,135.6333,C32,C,8,NaN,"New York, NY / Briarcliff Manor NY"
310,1,0,"Wick, Mr. George Dennick",male,57.0,1,1,36928,164.8667,NaN,S,NaN,NaN,"Youngstown, OH"
311,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,8,NaN,"Youngstown, OH"
312,1,0,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,NaN,NaN,"Elkins Park, PA"
314,1,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.0,1,1,113503,211.5000,C80,C,4,NaN,"Elkins Park, PA"
316,1,0,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C,NaN,NaN,"Geneva, Switzerland / Radnor, PA"
321,1,0,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S,NaN,NaN,"Halifax, NS"
322,1,1,"Young, Miss. Marie Grice",female,36.0,0,0,PC 17760,135.6333,C32,C,8,NaN,"New York, NY / Washington, DC"
329,2,1,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",female,36.0,1,0,226875,26.0000,NaN,S,11,NaN,"Warwick, England"
330,2,0,"Ashby, Mr. John",male,57.0,0,0,244346,13.0000,NaN,S,NaN,NaN,"West Hoboken, NJ"
333,2,1,"Ball, Mrs. (Ada E Hall)",female,36.0,0,0,28551,13.0000,D,S,10,NaN,"Bristol, Avon / Jacksonville, FL"
335,2,0,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.5250,NaN,S,NaN,174.0,"Jacksonville, FL"
342,2,1,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.0,0,3,230136,39.0000,F4,S,11,NaN,"Guntur, India / Benton Harbour, MI"
347,2,0,"Bowenur, Mr. Solomon",male,42.0,0,0,211535,13.0000,NaN,S,NaN,NaN,London
351,2,0,"Brown, Mr. Thomas William Solomon",male,60.0,1,1,29750,39.0000,NaN,S,NaN,NaN,"Cape Town, South Africa / Seattle, WA"
352,2,1,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",female,40.0,1,1,29750,39.0000,NaN,S,14,NaN,"Cape Town, South Africa / Seattle, WA"
355,2,1,"Buss, Miss. Kate",female,36.0,0,0,27849,13.0000,NaN,S,9,NaN,"Sittingbourne, England / San Diego, CA"
357,2,0,"Byles, Rev. Thomas Roussel Davids",male,42.0,0,0,244310,13.0000,NaN,S,NaN,NaN,London
358,2,1,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,NaN,NaN,"New York, NY"
362,2,1,"Cameron, Miss. Clear Annie",female,35.0,0,0,F.C.C. 13528,21.0000,NaN,S,14,NaN,"Mamaroneck, NY"
365,2,0,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S,NaN,NaN,London

In [ ]:
titanic.loc[(titanic['age']>=35),'pclass':'age']

,pclass,survived,name,sex,age
5,1,1,"Anderson, Mr. Harry",male,48.0
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0
7,1,0,"Andrews, Mr. Thomas Jr",male,39.0
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0
10,1,0,"Astor, Col. John Jacob",male,47.0
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0
19,1,0,"Beattie, Mr. Thomson",male,36.0
20,1,1,"Beckwith, Mr. Richard Leonard",male,37.0
21,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0
23,1,1,"Bidois, Miss. Rosalie",female,42.0
28,1,1,"Bissette, Miss. Amelia",female,35.0
30,1,0,"Blackwell, Mr. Stephen Weart",male,45.0
31,1,1,"Blank, Mr. Henry",male,40.0
33,1,1,"Bonnell, Miss. Elizabeth",female,58.0
34,1,0,"Borebank, Mr. John James",male,42.0
35,1,1,"Bowen, Miss. Grace Scott",female,45.0
38,1,0,"Brady, Mr. John Bertram",male,41.0
39,1,0,"Brandeis, Mr. Emil",male,48.0
41,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0
42,1,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.0
43,1,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.0
44,1,1,"Burns, Miss. Elizabeth Margaret",female,41.0
45,1,0,"Butt, Major. Archibald Willingham",male,45.0
47,1,1,"Calderhead, Mr. Edward Pennington",male,42.0
48,1,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.0
49,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0
50,1,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0
56,1,1,"Carter, Mr. William Ernest",male,36.0
57,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.0
58,1,0,"Case, Mr. Howard Brown",male,49.0
60,1,0,"Cavendish, Mr. Tyrell William",male,36.0
61,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0
62,1,0,"Chaffee, Mr. Herbert Fuller",male,46.0
63,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0
66,1,1,"Chaudanson, Miss. Victorine",female,36.0
68,1,1,"Chevre, Mr. Paul Romaine",male,45.0
75,1,0,"Colley, Mr. Edward Pomeroy",male,47.0
76,1,1,"Compton, Miss. Sara Rebecca",female,39.0
77,1,0,"Compton, Mr. Alexander Taylor Jr",male,37.0
78,1,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.0
79,1,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.0
81,1,0,"Crosby, Capt. Edward Gifford",male,70.0
82,1,1,"Crosby, Miss. Harriet R",female,36.0
83,1,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.0
84,1,0,"Cumings, Mr. John Bradley",male,39.0
85,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0
86,1,1,"Daly, Mr. Peter Denis",male,51.0
93,1,1,"Dodge, Dr. Washington",male,53.0
95,1,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.0
96,1,0,"Douglas, Mr. Walter Donald",male,50.0
98,1,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.0
99,1,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",female,48.0
100,1,1,"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")",male,49.0
101,1,0,"Dulles, Mr. William Crothers",male,39.0
103,1,1,"Endres, Miss. Caroline Louise",female,38.0
104,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.0
105,1,0,"Evans, Miss. Edith Corse",female,36.0
109,1,1,"Flynn, Mr. John Irwin (""Irving"")",male,36.0
115,1,0,"Fortune, Mr. Mark",male,64.0
116,1,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.0
119,1,1,"Frauenthal, Dr. Henry William",male,50.0
120,1,1,"Frauenthal, Mr. Isaac Gerald",male,43.0
123,1,1,"Frolicher-Stehli, Mr. Maxmillian",male,60.0
124,1,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0
126,1,0,"Futrelle, Mr. Jacques Heath",male,37.0
127,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0
128,1,0,"Gee, Mr. Arthur H",male,47.0
129,1,1,"Geiger, Miss. Amalie",female,35.0
131,1,1,"Gibson, Mrs. Leonard (Pauline C Boeson)",female,45.0
133,1,1,"Goldenberg, Mr. Samuel L",male,49.0
135,1,0,"Goldschmidt, Mr. George B",male,71.0
136,1,1,"Gracie, Col. Archibald IV",male,53.0
138,1,0,"Graham, Mr. George Edward",male,38.0
139,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0
141,1,1,"Greenfield, Mrs. Leo David (Blanche Strouse)",female,45.0
142,1,0,"Guggenheim, Mr. Benjamin",male,46.0
145,1,1,"Harper, Mr. Henry Sleeper",male,48.0
146,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0
148,1,0,"Harris, Mr. Henry Birkhardt",male,45.0
149,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0
150,1,0,"Harrison, Mr. William",male,40.0
154,1,0,"Hays, Mr. Charles Melville",male,55.0
155,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0
156,1,0,"Head, Mr. Christopher",male,42.0
158,1,0,"Hipkins, Mr. William Edward",male,55.0
160,1,1,"Hippach, Mrs. Louis Albert (Ida Sophia Fischer)",female,44.0
161,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0
162,1,0,"Holverson, Mr. Alexander Oskar",male,42.0
163,1,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",female,35.0
164,1,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.0
165,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.0
167,1,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,35.0
168,1,1,"Icard, Miss. Amelie",female,38.0
169,1,0,"Isham, Miss. Ann Elizabeth",female,50.0
170,1,1,"Ismay, Mr. Joseph Bruce",male,49.0
171,1,0,"Jones, Mr. Charles Cresson",male,46.0
172,1,0,"Julian, Mr. Henry Forbes",male,50.0
174,1,0,"Kent, Mr. Edward Austin",male,58.0
175,1,0,"Kenyon, Mr. Frederick R",male,41.0
177,1,1,"Kimball, Mr. Edwin Nelson Jr",male,42.0
178,1,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45.0
180,1,1,"Kreuchen, Miss. Emilie",female,39.0
181,1,1,"Leader, Dr. Alice (Farnham)",female,49.0
183,1,1,"Lesurer, Mr. Gustave J",male,35.0
185,1,0,"Lindeberg-Lind, Mr. Erik Gustaf (""Mr Edward Li...",male,42.0
186,1,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.0
188,1,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0
192,1,1,"Lurette, Miss. Elise",female,58.0
200,1,0,"McCaffry, Mr. Thomas Francis",male,46.0
201,1,0,"McCarthy, Mr. Timothy J",male,54.0
202,1,1,"McGough, Mr. James Robert",male,36.0
205,1,0,"Millet, Mr. Francis Davis",male,65.0
206,1,0,"Minahan, Dr. William Edward",male,44.0
208,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0
210,1,0,"Molson, Mr. Harry Markland",male,55.0
211,1,0,"Moore, Mr. Clarence Bloomfield",male,47.0
212,1,0,"Natsch, Mr. Charles H",male,37.0
215,1,0,"Newell, Mr. Arthur Webster",male,58.0
217,1,0,"Nicholson, Mr. Arthur Ernest",male,64.0
218,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0
221,1,0,"Ostby, Mr. Engelhart Cornelius",male,65.0
224,1,0,"Partner, Mr. Austen",male,45.5
231,1,1,"Peuchen, Major. Arthur Godfrey",male,52.0
232,1,0,"Porter, Mr. Walter Chamberlain",male,47.0
233,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0
234,1,0,"Reuchlin, Jonkheer. John George",male,38.0
238,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0
240,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.0
243,1,0,"Rosenshine, Mr. George (""Mr George Thorne"")",male,46.0
244,1,0,"Ross, Mr. John Hugo",male,36.0
246,1,0,"Rothschild, Mr. Martin",male,55.0
247,1,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",female,54.0
252,1,0,"Ryerson, Mr. Arthur Larned",male,61.0
253,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0
257,1,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.0
260,1,1,"Shutes, Miss. Elizabeth W",female,40.0
261,1,1,"Silverthorne, Mr. Spencer Victor",male,35.0
262,1,0,"Silvey, Mr. William Baird",male,50.0
263,1,1,"Silvey, Mrs. William Baird (Alice Munger)",female,39.0
264,1,1,"Simonius-Blumer, Col. Oberst Alfons",male,56.0
266,1,0,"Smart, Mr. John Montgomery",male,56.0
267,1,0,"Smith, Mr. James Clinch",male,56.0
274,1,1,"Spedden, Mr. Frederic Oakley",male,45.0
275,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.0
276,1,0,"Spencer, Mr. William Augustus",male,57.0
279,1,0,"Stead, Mr. William Thomas",male,62.0
280,1,1,"Stengel, Mr. Charles Emil Henry",male,54.0
281,1,1,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",female,43.0
282,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.0
284,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0
285,1,0,"Straus, Mr. Isidor",male,67.0
286,1,0,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.0
287,1,0,"Sutton, Mr. Frederick",male,61.0
288,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0
290,1,0,"Taussig, Mr. Emil",male,52.0
291,1,1,"Taussig, Mrs. Emil (Tillie Mandelbaum)",female,39.0
292,1,1,"Taylor, Mr. Elmer Zebley",male,48.0
294,1,0,"Thayer, Mr. John Borland",male,49.0
296,1,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",female,39.0
299,1,0,"Uruchurtu, Don. Manuel E",male,40.0
300,1,0,"Van der hoef, Mr. Wyckoff",male,61.0
301,1,0,"Walker, Mr. William Anderson",male,47.0
302,1,1,"Ward, Miss. Anna",female,35.0
303,1,0,"Warren, Mr. Frank Manley",male,64.0
304,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.0
305,1,0,"Weir, Col. John",male,60.0
306,1,0,"White, Mr. Percival Wayland",male,54.0
308,1,1,"White, Mrs. John Stuart (Ella Holmes)",female,55.0
310,1,0,"Wick, Mr. George Dennick",male,57.0
311,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0
312,1,0,"Widener, Mr. George Dunton",male,50.0
314,1,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.0
316,1,0,"Williams, Mr. Charles Duane",male,51.0
321,1,0,"Wright, Mr. George",male,62.0
322,1,1,"Young, Miss. Marie Grice",female,36.0
329,2,1,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",female,36.0
330,2,0,"Ashby, Mr. John",male,57.0
333,2,1,"Ball, Mrs. (Ada E Hall)",female,36.0
335,2,0,"Bateman, Rev. Robert James",male,51.0
342,2,1,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.0
347,2,0,"Bowenur, Mr. Solomon",male,42.0
351,2,0,"Brown, Mr. Thomas William Solomon",male,60.0
352,2,1,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",female,40.0
355,2,1,"Buss, Miss. Kate",female,36.0
357,2,0,"Byles, Rev. Thomas Roussel Davids",male,42.0
358,2,1,"Bystrom, Mrs. (Karolina)",female,42.0
362,2,1,"Cameron, Miss. Clear Annie",female,35.0
365,2,0,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0
366,2,0,"Carter, Rev. Ernest Courtenay",male,54.0
367,2,0,"Chapman, Mr. Charles Henry",male,52.0
368,2,0,"Chapman, Mr. John Henry",male,37.0
371,2,1,"Christy, Mrs. (Alice Frances)",female,45.0
387,2,1,"Davies, Mrs. John Morgan (Elizabeth Agnes Mary...",female,48.0
397,2,0,"Downton, Mr. William James",male,54.0
399,2,0,"Drew, Mr. James Vivian",male,42.0
406,2,0,"Faunthorpe, Mr. Harry",male,40.0
409,2,0,"Fox, Mr. Stanley Hubert",male,36.0
411,2,0,"Funk, Miss. Annie Clemmer",female,38.0
412,2,0,"Fynney, Mr. Joseph J",male,35.0
413,2,0,"Gale, Mr. Harry",male,38.0
418,2,0,"Gilbert, Mr. William",male,47.0
425,2,0,"Greenberg, Mr. Samuel",male,52.0
429,2,0,"Harbeck, Mr. William H",male,44.0
432,2,1,"Harris, Mr. George",male,62.0
435,2,0,"Hart, Mr. Benjamin",male,43.0
436,2,1,"Hart, Mrs. Benjamin (Esther Ada Bloomfield)",female,45.0
439,2,0,"Herman, Mr. Samuel",male,49.0
440,2,1,"Herman, Mrs. Samuel (Jane Laver)",female,48.0
441,2,1,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0
448,2,0,"Hocking, Mr. Samuel James Metcalfe",male,36.0
449,2,1,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,54.0
450,2,0,"Hodges, Mr. Henry Price",male,50.0
451,2,0,"Hold, Mr. Stephen",male,44.0
454,2,1,"Hosono, Mr. Masabumi",male,42.0
455,2,0,"Howard, Mr. Benjamin",male,63.0
456,2,0,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,60.0
459,2,0,"Jacobsohn, Mr. Sidney Samuel",male,42.0
461,2,0,"Jarvis, Mr. John Denzil",male,47.0
470,2,0,"Keane, Mr. Daniel",male,35.0
471,2,1,"Kelly, Mrs. Florence ""Fannie""",female,45.0
472,2,0,"Kirkland, Rev. Charles Leonard",male,57.0
485,2,0,"Levy, Mr. Rene Jacques",male,36.0
487,2,0,"Lingane, Mr. John",male,61.0
488,2,0,"Louch, Mr. Charles Alexander",male,50.0
489,2,1,"Louch, Mrs. Charles Alexander (Alice Adelaide ...",female,42.0
490,2,0,"Mack, Mrs. (Mary)",female,57.0
497,2,0,"Maybery, Mr. Frank Hubert",male,40.0
500,2,0,"McKane, Mr. Peter David",male,46.0
502,2,1,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41.0
504,2,0,"Meyer, Mr. August",male,39.0
505,2,0,"Milling, Mr. Jacob Christian",male,48.0
506,2,0,"Mitchell, Mr. Henry Michael",male,70.0
508,2,0,"Moraweck, Dr. Ernest",male,54.0
509,2,0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0
511,2,0,"Myles, Mr. Thomas Francis",male,62.0
516,2,0,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5
522,2,0,"Otter, Mr. Richard",male,39.0
529,2,1,"Parrish, Mrs. (Lutie Davis)",female,50.0
532,2,0,"Peruschitz, Rev. Joseph Maria",male,41.0
535,2,0,"Phillips, Mr. Escott Robert",male,43.0
543,2,0,"Reeves, Mr. David",male,36.0
551,2,1,"Ridsdale, Miss. Lucy",female,50.0
561,2,0,"Sjostedt, Mr. Ernst Adolf",male,59.0
563,2,0,"Slemen, Mr. Richard James",male,35.0
564,2,1,"Smith, Miss. Marion Elsie",female,40.0
566,2,0,"Stanton, Mr. Samuel Ward",male,41.0
570,2,1,"Toomey, Miss. Ellen",female,50.0
576,2,0,"Veal, Mr. James",male,40.0
583,2,1,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.0
592,2,0,"West, Mr. Edwy Arthur",male,36.0
594,2,0,"Wheadon, Mr. Edward H",male,66.0
600,3,0,"Abbing, Mr. Anthony",male,42.0
603,3,1,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0
610,3,0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0
618,3,0,"Allen, Mr. William Henry",male,35.0
626,3,0,"Andersson, Miss. Ida Augusta Margareta",female,38.0
629,3,0,"Andersson, Mr. Anders Johan",male,39.0
632,3,0,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",female,39.0
638,3,0,"Asim, Mr. Adola",male,35.0
644,3,0,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson",male,40.0
646,3,1,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0
647,3,1,"Assaf Khalil, Mrs. Mariana (""Miriam"")",female,45.0
662,3,0,"Badt, Mr. Mohamed",male,40.0
666,3,0,"Barbara, Mrs. (Catherine David)",female,45.0
683,3,0,"Bourke, Mr. John",male,40.0
691,3,0,"Brocklebank, Mr. William Alfred",male,35.0
699,3,0,"Cacic, Mr. Luka",male,38.0
710,3,0,"Carr, Miss. Jeannie",female,37.0
721,3,0,"Coleff, Mr. Peju",male,36.0
727,3,0,"Connors, Mr. Patrick",male,70.5
728,3,0,"Cook, Mr. Jacob",male,43.0
729,3,0,"Cor, Mr. Bartol",male,35.0
735,3,1,"Coutts, Mrs. William (Winnie ""Minnie"" Treanor)",female,36.0
736,3,0,"Coxon, Mr. Daniel",male,59.0
739,3,0,"Cribb, Mr. John Hatfield",male,44.0
742,3,1,"Dahl, Mr. Karl Edwart",male,45.0
758,3,1,"de Messemaeker, Mr. Guillaume Joseph",male,36.5
759,3,1,"de Messemaeker, Mrs. Guillaume Joseph (Emma)",female,36.0
770,3,0,"Dennis, Mr. William",male,36.0
773,3,0,"Dimic, Mr. Jovan",male,42.0
774,3,0,"Dintcheff, Mr. Valtcho",male,43.0
782,3,0,"Duane, Mr. Frank",male,65.0
788,3,0,"Ekstrom, Mr. Johan",male,45.0
790,3,0,"Elias, Mr. Joseph",male,39.0
793,3,0,"Elsbury, Mr. William James",male,47.0
796,3,0,"Everett, Mr. Thomas James",male,40.5
797,3,0,"Farrell, Mr. James",male,40.5
811,3,0,"Ford, Mrs. Edward (Margaret Ann Watson)",female,48.0
822,3,0,"Goldsmith, Mr. Nathan",male,41.0
824,3,0,"Goncalves, Mr. Manuel Estanslas",male,38.0
831,3,0,"Goodwin, Mr. Charles Frederick",male,40.0
832,3,0,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43.0
833,3,0,"Green, Mr. George Henry",male,51.0
837,3,0,"Gustafsson, Mr. Anders Vilhelm",male,37.0
848,3,0,"Hansen, Mr. Claus Peter",male,41.0
851,3,1,"Hansen, Mrs. Claus Peter (Jennie L Howard)",female,45.0
868,3,0,"Holm, Mr. John Fredrik Alexander",male,43.0
873,3,0,"Humblen, Mr. Adolf Mathias Nicolai Olsen",male,42.0
884,3,0,"Jensen, Mr. Niels Peder",male,48.0
896,3,0,"Johnson, Mr. Alfred",male,49.0
917,3,1,"Karun, Mr. Franz",male,39.0
925,3,0,"Kelly, Mr. James",male,44.0
939,3,0,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36.0
943,3,0,"Laitinen, Miss. Kristina Sofia",female,37.0
963,3,0,"Leonard, Mr. Lionel",male,36.0
964,3,0,"Lester, Mr. James",male,39.0
967,3,0,"Lindblom, Miss. Augusta Charlotta",female,45.0
968,3,0,"Lindell, Mr. Edvard Bengtsson",male,36.0
979,3,0,"Lundahl, Mr. Johan Svensson",male,51.0
995,3,0,"Markoff, Mr. Marin",male,35.0
1008,3,0,"McGowan, Miss. Katherine",female,35.0
1015,3,0,"Meo, Mr. Alfonzo",male,55.5
1063,3,0,"Nirva, Mr. Iisakki Antino Aijo",male,41.0
1064,3,1,"Niskanen, Mr. Juha",male,39.0
1068,3,0,"Nysveen, Mr. Johan Hansen",male,61.0
1084,3,0,"Olsen, Mr. Karl Siegwart Andreas",male,42.0
1106,3,0,"Panula, Mrs. Juha (Maria Emilia Ojala)",female,41.0
1139,3,0,"Rekic, Mr. Tido",male,38.0
1146,3,0,"Rice, Mrs. William (Margaret Norton)",female,39.0
1148,3,0,"Rintamaki, Mr. Matti",male,35.0
1152,3,0,"Robins, Mr. Alexander A",male,50.0
1153,3,0,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0
1158,3,0,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0
1160,3,0,"Rouse, Mr. Richard Henry",male,50.0
1169,3,0,"Saether, Mr. Simon Sivertsen",male,38.5
1183,3,0,"Salonen, Mr. Johan Werner",male,39.0
1203,3,0,"Sivic, Mr. Husein",male,40.0
1210,3,0,"Skoog, Mr. Wilhelm",male,40.0
1211,3,0,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0
1225,3,0,"Storey, Mr. Thomas",male,60.5
1233,3,1,"Sundman, Mr. Johan Julian",male,44.0
1235,3,0,"Svensson, Mr. Johan",male,74.0
1252,3,0,"Torber, Mr. Ernst William",male,44.0
1259,3,0,"Turcin, Mr. Stjepan",male,36.0
1261,3,1,"Turkula, Mrs. (Hedwig)",female,63.0
1264,3,0,"van Billiard, Mr. Austin Blyler",male,40.5
1266,3,0,"Van Impe, Mr. Jean Baptiste",male,36.0
1272,3,0,"Vander Cruyssen, Mr. Victor",male,47.0
1286,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0
1287,3,0,"Widegren, Mr. Carl/Charles Peter",male,51.0
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",female,47.0
1298,3,0,"Wittevrongel, Mr. Camille",male,36.0
1301,3,0,"Youseff, Mr. Gerious",male,45.5

In [ ]:
titanic.loc[(titanic['age']>=35)&(titanic['sex']=='female')]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
21,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
23,1,1,"Bidois, Miss. Rosalie",female,42.0,0,0,PC 17757,227.5250,NaN,C,4,NaN,NaN
28,1,1,"Bissette, Miss. Amelia",female,35.0,0,0,PC 17760,135.6333,C99,S,8,NaN,NaN
33,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,8,NaN,"Birkdale, England Cleveland, Ohio"
35,1,1,"Bowen, Miss. Grace Scott",female,45.0,0,0,PC 17608,262.3750,NaN,C,4,NaN,"Cooperstown, NY"
41,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0,0,0,PC 17610,27.7208,B4,C,6,NaN,"Denver, CO"
42,1,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.0,2,0,11769,51.4792,C101,S,D,NaN,"Belmont, MA"
43,1,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.0,0,0,11813,76.2917,D15,C,8,NaN,"Philadelphia, PA"
44,1,1,"Burns, Miss. Elizabeth Margaret",female,41.0,0,0,16966,134.5000,E40,C,3,NaN,NaN
48,1,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.0,0,0,PC 17606,27.4458,NaN,C,6,NaN,"Washington, DC"
50,1,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,0,1,PC 17755,512.3292,B51 B53 B55,C,3,NaN,"Germantown, Philadelphia, PA"
57,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.0,1,2,113760,120.0000,B96 B98,S,4,NaN,"Bryn Mawr, PA"
61,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,C46,S,6,NaN,"Little Onn Hall, Staffs"
63,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S,4,NaN,"Amenia, ND"
66,1,1,"Chaudanson, Miss. Victorine",female,36.0,0,0,PC 17608,262.3750,B61,C,4,NaN,NaN
76,1,1,"Compton, Miss. Sara Rebecca",female,39.0,1,1,PC 17756,83.1583,E49,C,14,NaN,"Lakewood, NJ"
78,1,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.0,0,2,PC 17756,83.1583,E45,C,14,NaN,"Lakewood, NJ"
79,1,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.0,2,0,11770,25.7000,C101,S,2,NaN,"New York, NY"
82,1,1,"Crosby, Miss. Harriet R",female,36.0,0,2,WE/P 5735,71.0000,B22,S,7,NaN,"Milwaukee, WI"
83,1,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.0,1,1,112901,26.5500,B26,S,7,NaN,"Milwaukee, WI"
85,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,4,NaN,"New York, NY"
95,1,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.0,1,1,33638,81.8583,A34,S,5,NaN,"San Francisco, CA"
98,1,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.0,1,0,PC 17761,106.4250,C86,C,2,NaN,"Deephaven, MN / Cedar Rapids, IA"
99,1,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",female,48.0,1,0,11755,39.6000,A16,C,1,NaN,London / Paris
103,1,1,"Endres, Miss. Caroline Louise",female,38.0,0,0,PC 17757,227.5250,C45,C,4,NaN,"New York, NY"
104,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.0,1,0,36947,78.2667,D20,C,4,NaN,"Brookline, MA"
105,1,0,"Evans, Miss. Edith Corse",female,36.0,0,0,PC 17531,31.6792,A29,C,NaN,NaN,"New York, NY"
116,1,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.0,1,4,19950,263.0000,C23 C25 C27,S,10,NaN,"Winnipeg, MB"
124,1,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C,5,NaN,"Zurich, Switzerland"
127,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,D,NaN,"Scituate, MA"
129,1,1,"Geiger, Miss. Amalie",female,35.0,0,0,113503,211.5000,C130,C,4,NaN,NaN
131,1,1,"Gibson, Mrs. Leonard (Pauline C Boeson)",female,45.0,0,1,112378,59.4000,NaN,C,7,NaN,"New York, NY"
139,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0,0,1,PC 17582,153.4625,C125,S,3,NaN,"Greenwich, CT"
141,1,1,"Greenfield, Mrs. Leo David (Blanche Strouse)",female,45.0,0,1,PC 17759,63.3583,D10 D12,C,7,NaN,"New York, NY"
146,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C,3,NaN,"New York, NY"
149,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0,1,0,36973,83.4750,C83,S,D,NaN,"New York, NY"
155,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.5000,B69,S,3,NaN,"Montreal, PQ"
160,1,1,"Hippach, Mrs. Louis Albert (Ida Sophia Fischer)",female,44.0,0,1,111361,57.9792,B18,C,4,NaN,"Chicago, IL"
161,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S,10,NaN,"Hudson, NY"
163,1,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",female,35.0,1,0,113789,52.0000,NaN,S,8,NaN,"New York, NY"
167,1,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,35.0,1,0,19943,90.0000,C93,S,D,NaN,"New York, NY / Stamford CT"
168,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0000,B28,NaN,6,NaN,NaN
169,1,0,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C,NaN,NaN,"Paris, France New York, NY"
178,1,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45.0,1,0,11753,52.5542,D19,S,5,NaN,"Boston, MA"
180,1,1,"Kreuchen, Miss. Emilie",female,39.0,0,0,24160,211.3375,NaN,S,2,NaN,NaN
181,1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S,8,NaN,"New York, NY"
186,1,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.0,0,0,112377,27.7208,NaN,C,6,NaN,"Stockholm, Sweden"
188,1,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S,9,NaN,"Paris, France"
192,1,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.5208,B80,C,NaN,NaN,NaN
208,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,14,NaN,"Fond du Lac, WI"
218,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,8,NaN,NaN
233,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,7,NaN,"Mt Airy, Philadelphia, PA"
238,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0,0,1,24160,211.3375,B3,S,2,NaN,"St Louis, MO"
247,1,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",female,54.0,1,0,PC 17603,59.4000,NaN,C,6,NaN,"New York, NY"
253,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,4,NaN,"Haverford, PA / Cooperstown, NY"
257,1,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.0,1,0,13236,57.7500,C28,C,11,NaN,"New York, NY"
260,1,1,"Shutes, Miss. Elizabeth W",female,40.0,0,0,PC 17582,153.4625,C125,S,3,NaN,"New York, NY / Greenwich CT"
263,1,1,"Silvey, Mrs. William Baird (Alice Munger)",female,39.0,1,0,13507,55.9000,E44,S,11,NaN,"Duluth, MN"
275,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.0,1,1,16966,134.5000,E34,C,3,NaN,"Tuxedo Park, NY"
281,1,1,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",female,43.0,1,0,11778,55.4417,C116,C,5,NaN,"Newark, NJ"
282,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.0,1,0,36947,78.2667,D20,C,4,NaN,"Haverford, PA"
284,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN,6,NaN,"Cincinatti, OH"
286,1,0,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.0,1,0,PC 17483,221.7792,C55 C57,S,NaN,NaN,"New York, NY"
288,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,8,NaN,"Brooklyn, NY"
291,1,1,"Taussig, Mrs. Emil (Tillie Mandelbaum)",female,39.0,1,1,110413,79.6500,E67,S,8,NaN,"New York, NY"
296,1,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",female,39.0,1,1,17421,110.8833,C68,C,4,NaN,"Haverford, PA"
302,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,3,NaN,NaN
304,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.0,1,0,110813,75.2500,D37,C,5,NaN,"Portland, OR"
308,1,1,"White, Mrs. John Stuart (Ella Holmes)",female,55.0,0,0,PC 17760,135.6333,C32,C,8,NaN,"New York, NY / Briarcliff Manor NY"
311,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,8,NaN,"Youngstown, OH"
314,1,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.0,1,1,113503,211.5000,C80,C,4,NaN,"Elkins Park, PA"
322,1,1,"Young, Miss. Marie Grice",female,36.0,0,0,PC 17760,135.6333,C32,C,8,NaN,"New York, NY / Washington, DC"
329,2,1,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",female,36.0,1,0,226875,26.0000,NaN,S,11,NaN,"Warwick, England"
333,2,1,"Ball, Mrs. (Ada E Hall)",female,36.0,0,0,28551,13.0000,D,S,10,NaN,"Bristol, Avon / Jacksonville, FL"
342,2,1,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.0,0,3,230136,39.0000,F4,S,11,NaN,"Guntur, India / Benton Harbour, MI"
352,2,1,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",female,40.0,1,1,29750,39.0000,NaN,S,14,NaN,"Cape Town, South Africa / Seattle, WA"
355,2,1,"Buss, Miss. Kate",female,36.0,0,0,27849,13.0000,NaN,S,9,NaN,"Sittingbourne, England / San Diego, CA"
358,2,1,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,NaN,NaN,"New York, NY"
362,2,1,"Cameron, Miss. Clear Annie",female,35.0,0,0,F.C.C. 13528,21.0000,NaN,S,14,NaN,"Mamaroneck, NY"
365,2,0,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S,NaN,NaN,London
371,2,1,"Christy, Mrs. (Alice Frances)",female,45.0,0,2,237789,30.0000,NaN,S,12,NaN,London
387,2,1,"Davies, Mrs. John Morgan (Elizabeth Agnes Mary...",female,48.0,0,2,C.A. 33112,36.7500,NaN,S,14,NaN,"St Ives, Cornwall / Hancock, MI"
411,2,0,"Funk, Miss. Annie Clemmer",female,38.0,0,0,237671,13.0000,NaN,S,NaN,NaN,"Janjgir, India / Pennsylvania"
436,2,1,"Hart, Mrs. Benjamin (Esther Ada Bloomfield)",female,45.0,1,1,F.C.C. 13529,26.2500,NaN,S,14,NaN,"Ilford, Essex / Winnipeg, MB"
440,2,1,"Herman, Mrs. Samuel (Jane Laver)",female,48.0,1,2,220845,65.0000,NaN,S,9,NaN,"Somerset / Bernardsville, NJ"
441,2,1,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,13,NaN,"India / Rapid City, SD"
449,2,1,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,54.0,1,3,29105,23.0000,NaN,S,4,NaN,"Cornwall / Akron, OH"
456,2,0,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,60.0,1,0,24065,26.0000,NaN,S,NaN,NaN,"Swindon, England"
471,2,1,"Kelly, Mrs. Florence ""Fannie""",female,45.0,0,0,223596,13.5000,NaN,S,9,NaN,"London / New York, NY"
489,2,1,"Louch, Mrs. Charles Alexander (Alice Adelaide ...",female,42.0,1,0,SC/AH 3085,26.0000,NaN,S,NaN,NaN,"Weston-Super-Mare, Somerset"
490,2,0,"Mack, Mrs. (Mary)",female,57.0,0,0,S.O./P.P. 3,10.5000,E77,S,NaN,52.0,"Southampton / New York, NY"
502,2,1,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41.0,0,1,250644,19.5000,NaN,S,14,NaN,"England / Bennington, VT"
529,2,1,"Parrish, Mrs. (Lutie Davis)",female,50.0,0,1,230433,26.0000,NaN,S,12,NaN,"Woodford County, KY"
551,2,1,"Ridsdale, Miss. Lucy",female,50.0,0,0,W./C. 14258,10.5000,NaN,S,13,NaN,"London, England / Marietta, Ohio and Milwaukee..."
564,2,1,"Smith, Miss. Marion Elsie",female,40.0,0,0,31418,13.0000,NaN,S,9,NaN,NaN
570,2,1,"Toomey, Miss. Ellen",female,50.0,0,0,F.C.C. 13531,10.5000,NaN,S,9,NaN,"Indianapolis, IN"
583,2,1,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.0,0,0,C.A. 33595,15.7500,NaN,S,9,NaN,"Aberdeen / Portland, OR"
603,3,1,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.2500,NaN,S,A,NaN,"East Providence, RI"
610,3,0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S,NaN,NaN,"Sweden Akeley, MN"
626,3,0,"Andersson, Miss. Ida Augusta Margareta",female,38.0,4,2,347091,7.7750,NaN,S,NaN,NaN,"Vadsbro, Sweden Ministee, MI"
632,3,0,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",female,39.0,1,5,347082,31.2750,NaN,S,NaN,NaN,"Sweden Winnipeg, MN"
646,3,1,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,15,NaN,"Sweden Worcester, MA"
647,3,1,"Assaf Khalil, Mrs. Mariana (""Miriam"")",female,45.0,0,0,2696,7.2250,NaN,C,C,NaN,"Ottawa, ON"
666,3,0,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C,NaN,NaN,"Syria Ottawa, ON"
710,3,0,"Carr, Miss. Jeannie",female,37.0,0,0,368364,7.7500,NaN,Q,NaN,NaN,"Co Sligo, Ireland Hartford, CT"
735,3,1,"Coutts, Mrs. William (Winnie ""Minnie"" Treanor)",female,36.0,0,2,C.A. 37671,15.9000,NaN,S,2,NaN,"England Brooklyn, NY"
759,3,1,"de Messemaeker, Mrs. Guillaume Joseph (Emma)",female,36.0,1,0,345572,17.4000,NaN,S,13,NaN,"Tampico, MT"
811,3,0,"Ford, Mrs. Edward (Margaret Ann Watson)",female,48.0,1,3,W./C. 6608,34.3750,NaN,S,NaN,NaN,"Rotherfield, Sussex, England Essex Co, MA"
832,3,0,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43.0,1,6,CA 2144,46.9000,NaN,S,NaN,NaN,"Wiltshire, England Niagara Falls, NY"
851,3,1,"Hansen, Mrs. Claus Peter (Jennie L Howard)",female,45.0,1,0,350026,14.1083,NaN,S,11,NaN,NaN
939,3,0,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36.0,0,2,350405,12.1833,NaN,S,NaN,NaN,NaN
943,3,0,"Laitinen, Miss. Kristina Sofia",female,37.0,0,0,4135,9.5875,NaN,S,NaN,NaN,NaN
967,3,0,"Lindblom, Miss. Augusta Charlotta",female,45.0,0,0,347073,7.7500,NaN,S,NaN,NaN,NaN
1008,3,0,"McGowan, Miss. Katherine",female,35.0,0,0,9232,7.7500,NaN,Q,NaN,NaN,NaN
1106,3,0,"Panula, Mrs. Juha (Maria Emilia Ojala)",female,41.0,0,5,3101295,39.6875,NaN,S,NaN,NaN,NaN
1146,3,0,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,NaN,327.0,NaN
1153,3,0,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,1,0,A/5. 3337,14.5000,NaN,S,NaN,7.0,NaN
1158,3,0,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0,2,370129,20.2125,NaN,S,NaN,NaN,NaN
1211,3,0,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.9000,NaN,S,NaN,NaN,NaN
1261,3,1,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S,15,NaN,NaN
1286,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0,0,0,2688,7.2292,NaN,C,C,NaN,NaN
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,NaN,NaN,NaN

**Calculated Columns**

In [ ]:
import pandas as pd

In [ ]:
tips = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Tips%20Payment%20Data.csv')

In [ ]:
tips.head()

,Total Bill,Tip,Gender,Smoker,Day,Time,Size,Bill Per Person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971320,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685990,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637220,Sun2251

In [ ]:
tips['Tip']/tips['Total Bill']*100

0       5.944673
1      16.054159
2      16.658734
3      13.978041
4      14.680765
5      18.623962
6      22.805017
7      11.607143
8      13.031915
9      21.853857
10     16.650438
11     14.180374
12     10.181582
13     16.277808
14     20.364127
15     18.164968
16     16.166505
17     22.774708
18     20.624632
19     16.222760
20     22.767857
21     13.553475
22     14.140774
23     19.228818
24     16.044400
25     13.138686
26     14.958863
27     15.760441
28     19.815668
29     15.267176
30     15.183246
31     13.623978
32     19.920319
33     11.841469
34     18.391451
35     14.962594
36     12.262416
37     18.133491
38     12.359551
39     15.989767
40     13.965087
41     14.547537
42     21.951220
43     13.636364
44     18.421053
45     16.402406
46     22.492128
47     18.518519
48      7.180385
49     16.629712
50     19.936204
51     25.267250
52     14.938236
53     15.694165
54     16.979656
55     18.009236
56      7.892660
57      5.679667
58     15.658363
59     13.942407
60     15.820601
61     14.482259
62     17.967332
63     20.557682
64     15.008528
65     15.687251
66     15.015198
67     32.573290
68      9.935739
69     13.924051
70     16.389351
71     17.574692
72     11.690246
73     19.778481
74     14.935506
75     11.893435
76     17.187500
77     14.705882
78     13.181019
79     15.673800
80     15.432099
81     20.408163
82     18.172790
83     15.299878
84     12.703379
85     14.843526
86     15.349194
87     21.881838
88     23.674626
89     14.177694
90     10.355540
91     15.562472
92     17.391304
93     26.348039
94     14.285714
95     11.774956
96     14.662757
97     12.468828
98     14.278915
99     12.038523
100    22.026432
101    19.505852
102     5.643341
103    15.521855
104    19.502868
105    10.677083
106    19.814544
107    17.017057
108    20.614035
109    27.952481
110    21.428571
111    13.793103
112    10.506961
113    10.647182
114    15.558149
115    20.219526
116    16.939526
117    14.084507
118    14.481094
119    12.126246
120    19.760479
121    12.518629
122    17.531557
123    12.539185
124    20.192308
125    14.093960
126    17.370892
127    13.774105
128    17.574692
129     9.553024
130     7.861635
131    13.961519
132    13.428827
133    16.313214
134    17.798467
135    14.688602
136    19.361084
137    14.134276
138    12.500000
139    20.896657
140    20.034345
141    19.533528
142    12.138869
143    18.484288
144    13.998783
145    17.964072
146     7.296137
147    13.732098
148    17.689162
149    26.631158
150    17.768301
151    15.232292
152    15.874855
153     8.146640
154    10.116338
155    17.219430
156    10.379905
157    15.000000
158    19.492158
159    12.128563
160    16.279070
161    19.747235
162    12.338063
163    14.482259
164    17.133067
165    14.192496
166    10.789981
167    14.191107
168    15.203022
169    18.814675
170    19.681165
171    19.987350
172    71.034483
173     9.984301
174    23.781213
175     9.452888
176    11.179430
177    13.812155
178    41.666667
179    10.251227
180    10.620491
181    24.217745
182     7.717751
183    28.053517
184     7.398274
185    24.166264
186    16.746411
187     6.565988
188    19.283747
189    17.316017
190     9.560229
191    21.150934
192     9.001406
193    13.049096
194    24.125452
195    19.047619
196    19.342360
197    11.598237
198    15.384615
199    14.803849
200    21.378942
201    15.777080
202    15.384615
203    15.243902
204    19.483682
205    19.611415
206    12.824370
207     7.745933
208     8.364236
209    17.476489
210     6.653360
211    19.930475
212    18.621974
213    18.839488
214    23.074192
215     8.527132
216    10.657194
217    12.942192
218    18.604651
219    10.252157
220    18.092105
221    25.931446
222    22.377622
223    18.773467
224    11.773472
225    15.365704
226    19.821606
227    14.669927
228    20.481928
229    13.019892
230     8.329863
231    19.120459
232    29.198966
233    13.649025
234    19.317450
235    12.413108
236     7.936508
237     3.563814
238    13.033771
239    20.392697
240     7.358352
241     8.822232
242     9.820426
243    15.974441
dtype: float64

In [ ]:
tip_percentage = tips['Tip']/tips['Total Bill']*100

In [ ]:
tip_percentage

0       5.944673
1      16.054159
2      16.658734
3      13.978041
4      14.680765
5      18.623962
6      22.805017
7      11.607143
8      13.031915
9      21.853857
10     16.650438
11     14.180374
12     10.181582
13     16.277808
14     20.364127
15     18.164968
16     16.166505
17     22.774708
18     20.624632
19     16.222760
20     22.767857
21     13.553475
22     14.140774
23     19.228818
24     16.044400
25     13.138686
26     14.958863
27     15.760441
28     19.815668
29     15.267176
30     15.183246
31     13.623978
32     19.920319
33     11.841469
34     18.391451
35     14.962594
36     12.262416
37     18.133491
38     12.359551
39     15.989767
40     13.965087
41     14.547537
42     21.951220
43     13.636364
44     18.421053
45     16.402406
46     22.492128
47     18.518519
48      7.180385
49     16.629712
50     19.936204
51     25.267250
52     14.938236
53     15.694165
54     16.979656
55     18.009236
56      7.892660
57      5.679667
58     15.658363
59     13.942407
60     15.820601
61     14.482259
62     17.967332
63     20.557682
64     15.008528
65     15.687251
66     15.015198
67     32.573290
68      9.935739
69     13.924051
70     16.389351
71     17.574692
72     11.690246
73     19.778481
74     14.935506
75     11.893435
76     17.187500
77     14.705882
78     13.181019
79     15.673800
80     15.432099
81     20.408163
82     18.172790
83     15.299878
84     12.703379
85     14.843526
86     15.349194
87     21.881838
88     23.674626
89     14.177694
90     10.355540
91     15.562472
92     17.391304
93     26.348039
94     14.285714
95     11.774956
96     14.662757
97     12.468828
98     14.278915
99     12.038523
100    22.026432
101    19.505852
102     5.643341
103    15.521855
104    19.502868
105    10.677083
106    19.814544
107    17.017057
108    20.614035
109    27.952481
110    21.428571
111    13.793103
112    10.506961
113    10.647182
114    15.558149
115    20.219526
116    16.939526
117    14.084507
118    14.481094
119    12.126246
120    19.760479
121    12.518629
122    17.531557
123    12.539185
124    20.192308
125    14.093960
126    17.370892
127    13.774105
128    17.574692
129     9.553024
130     7.861635
131    13.961519
132    13.428827
133    16.313214
134    17.798467
135    14.688602
136    19.361084
137    14.134276
138    12.500000
139    20.896657
140    20.034345
141    19.533528
142    12.138869
143    18.484288
144    13.998783
145    17.964072
146     7.296137
147    13.732098
148    17.689162
149    26.631158
150    17.768301
151    15.232292
152    15.874855
153     8.146640
154    10.116338
155    17.219430
156    10.379905
157    15.000000
158    19.492158
159    12.128563
160    16.279070
161    19.747235
162    12.338063
163    14.482259
164    17.133067
165    14.192496
166    10.789981
167    14.191107
168    15.203022
169    18.814675
170    19.681165
171    19.987350
172    71.034483
173     9.984301
174    23.781213
175     9.452888
176    11.179430
177    13.812155
178    41.666667
179    10.251227
180    10.620491
181    24.217745
182     7.717751
183    28.053517
184     7.398274
185    24.166264
186    16.746411
187     6.565988
188    19.283747
189    17.316017
190     9.560229
191    21.150934
192     9.001406
193    13.049096
194    24.125452
195    19.047619
196    19.342360
197    11.598237
198    15.384615
199    14.803849
200    21.378942
201    15.777080
202    15.384615
203    15.243902
204    19.483682
205    19.611415
206    12.824370
207     7.745933
208     8.364236
209    17.476489
210     6.653360
211    19.930475
212    18.621974
213    18.839488
214    23.074192
215     8.527132
216    10.657194
217    12.942192
218    18.604651
219    10.252157
220    18.092105
221    25.931446
222    22.377622
223    18.773467
224    11.773472
225    15.365704
226    19.821606
227    14.669927
228    20.481928
229    13.019892
230     8.329863
231    19.120459
232    29.198966
233    13.649025
234    19.317450
235    12.413108
236     7.936508
237     3.563814
238    13.033771
239    20.392697
240     7.358352
241     8.822232
242     9.820426
243    15.974441
dtype: float64

In [ ]:
tips['tip_percentage'] = tips['Tip']/tips['Total Bill']*100

In [ ]:
tips.head()

,Total Bill,Tip,Gender,Smoker,Day,Time,Size,Bill Per Person,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,5.944673
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971320,Sun4458,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685990,Sun5260,13.978041
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637220,Sun2251,14.680765

In [ ]:
tips['tip_percentage'] = tips['tip_percentage'].round(1)

In [ ]:
tips.head()

,Total Bill,Tip,Gender,Smoker,Day,Time,Size,Bill Per Person,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,5.9
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,16.1
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971320,Sun4458,16.7
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685990,Sun5260,14.0
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637220,Sun2251,14.7

In [ ]:
tips = tips.drop(['Payer Name'], axis = 1)

In [ ]:
tips.head()

,Total Bill,Tip,Gender,Smoker,Day,Time,Size,Bill Per Person,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,3560325168603410,Sun2959,5.9
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,4478071379779230,Sun4608,16.1
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,6011812112971320,Sun4458,16.7
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,4676137647685990,Sun5260,14.0
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,4832732618637220,Sun2251,14.7

In [ ]:
tips.set_index('Payment ID')

,Total Bill,Tip,Gender,Smoker,Day,Time,Size,Bill Per Person,CC Number,tip_percentage
Payment ID,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.49,3560325168603410,5.9
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,4478071379779230,16.1
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,6011812112971320,16.7
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,4676137647685990,14.0
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,4832732618637220,14.7
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,6.32,213140353657882,18.6
Sun5985,8.77,2.00,Male,No,Sun,Dinner,2,4.38,2223727524230340,22.8
Sun8157,26.88,3.12,Male,No,Sun,Dinner,4,6.72,3514785077705090,11.6
Sun6820,15.04,1.96,Male,No,Sun,Dinner,2,7.52,3522866365840370,13.0
Sun3775,14.78,3.23,Male,No,Sun,Dinner,2,7.39,3532124519049780,21.9
Sun2546,10.27,1.71,Male,No,Sun,Dinner,2,5.14,566287581219,16.7
Sun6686,35.26,5.00,Female,No,Sun,Dinner,4,8.82,4577817359320960,14.2
Sun1300,15.42,1.57,Male,No,Sun,Dinner,2,7.71,577040572932,10.2
Sun2971,18.43,3.00,Male,No,Sun,Dinner,4,4.61,6011163105616890,16.3
Sun3848,14.83,3.02,Female,No,Sun,Dinner,2,7.42,30016702287574,20.4
Sun1878,21.58,3.92,Male,No,Sun,Dinner,2,10.79,180073029785069,18.2
Sun9715,10.33,1.67,Female,No,Sun,Dinner,3,3.44,4240025044626030,16.2
Sun2998,16.29,3.71,Male,No,Sun,Dinner,3,5.43,6521340257218700,22.8
Sun2789,16.97,3.50,Female,No,Sun,Dinner,3,5.66,30422275171379,20.6
Sat9213,20.65,3.35,Male,No,Sat,Dinner,3,6.88,6568069240986480,16.2
Sat1709,17.92,4.08,Male,No,Sat,Dinner,2,8.96,4403296224639750,22.8
Sat9618,20.29,2.75,Female,No,Sat,Dinner,2,10.14,5448125351489740,13.6
Sat9786,15.77,2.23,Female,No,Sat,Dinner,2,7.88,3524119516293210,14.1
Sat239,39.42,7.58,Male,No,Sat,Dinner,4,9.86,3542584061609800,19.2
Sat6236,19.82,3.18,Male,No,Sat,Dinner,2,9.91,36739148167928,16.0
Sat907,17.81,2.34,Male,No,Sat,Dinner,4,4.45,30502930499388,13.1
Sat6651,13.37,2.00,Male,No,Sat,Dinner,2,6.68,6531339539615490,15.0
Sat394,12.69,2.00,Male,No,Sat,Dinner,2,6.34,30155551880343,15.8
Sat3697,21.70,4.30,Male,No,Sat,Dinner,2,10.85,5529694315416000,19.8
Sat2467,19.65,3.00,Female,No,Sat,Dinner,2,9.82,5489272944576050,15.3
Sat4099,9.55,1.45,Male,No,Sat,Dinner,2,4.78,30196517521548,15.2
Sat4947,18.35,2.50,Male,No,Sat,Dinner,4,4.59,630415546013,13.6
Sat1327,15.06,3.00,Female,No,Sat,Dinner,2,7.53,213186304291560,19.9
Sat6649,20.69,2.45,Female,No,Sat,Dinner,4,5.17,377742985258914,11.8
Sat8124,17.78,3.27,Male,No,Sat,Dinner,2,8.89,3551492000704800,18.4
Sat632,24.06,3.60,Male,No,Sat,Dinner,3,8.02,5519770449260290,15.0
Sat9139,16.31,2.00,Male,No,Sat,Dinner,3,5.44,3527691170179390,12.3
Sat6406,16.93,3.07,Female,No,Sat,Dinner,3,5.64,5161695527390780,18.1
Sat4056,18.69,2.31,Male,No,Sat,Dinner,3,6.23,4427601595688630,12.4
Sat6373,31.27,5.00,Male,No,Sat,Dinner,3,10.42,6011525851069850,16.0
Sat8549,16.04,2.24,Male,No,Sat,Dinner,3,5.35,3544447755679420,14.0
Sun9460,17.46,2.54,Male,No,Sun,Dinner,2,8.73,3536678244278140,14.5
Sun1699,13.94,3.06,Male,No,Sun,Dinner,2,6.97,36231182760859,22.0
Sun3279,9.68,1.32,Male,No,Sun,Dinner,2,4.84,4387671121369210,13.6
Sun2274,30.40,5.60,Male,No,Sun,Dinner,4,7.60,503846761263,18.4
Sun8643,18.29,3.00,Male,No,Sun,Dinner,2,9.14,375156610762053,16.4
Sun7097,22.23,5.00,Male,No,Sun,Dinner,2,11.12,4292072734899,22.5
Sun9677,32.40,6.00,Male,No,Sun,Dinner,4,8.10,3552002592874180,18.5
Sun4142,28.55,2.05,Male,No,Sun,Dinner,3,9.52,6011481668986580,7.2
Sun9774,18.04,3.00,Male,No,Sun,Dinner,2,9.02,6573923967142500,16.6
Sun2021,12.54,2.50,Male,No,Sun,Dinner,2,6.27,2225400829691410,19.9
Sun4474,10.29,2.60,Female,No,Sun,Dinner,2,5.14,4999759463713,25.3
Sun6165,34.81,5.20,Female,No,Sun,Dinner,4,8.70,4291280793094370,14.9
Sun4561,9.94,1.56,Male,No,Sun,Dinner,2,4.97,4628628020417300,15.7
Sun9470,25.56,4.34,Male,No,Sun,Dinner,4,6.39,6569607991983380,17.0
Sun1118,19.49,3.51,Male,No,Sun,Dinner,2,9.74,6502227786581760,18.0
Sat8903,38.01,3.00,Male,Yes,Sat,Dinner,4,9.50,349793629453226,7.9
Sat8980,26.41,1.50,Female,No,Sat,Dinner,2,13.20,4745394421258160,5.7
Sat6683,11.24,1.76,Male,Yes,Sat,Dinner,2,5.62,3560782621035580,15.7
Sat8139,48.27,6.73,Male,No,Sat,Dinner,4,12.07,6596453823950590,13.9
Sat2353,20.29,3.21,Male,Yes,Sat,Dinner,2,10.14,347614304015027,15.8
Sat3030,13.81,2.00,Male,Yes,Sat,Dinner,2,6.90,4766834726806,14.5
Sat2265,11.02,1.98,Male,Yes,Sat,Dinner,2,5.51,180046232326178,18.0
Sat4178,18.29,3.76,Male,Yes,Sat,Dinner,4,4.57,580171498976,20.6
Sat1667,17.59,2.64,Male,No,Sat,Dinner,3,5.86,2222114458088100,15.0
Sat6840,20.08,3.15,Male,No,Sat,Dinner,3,6.69,180021262464926,15.7
Sat4750,16.45,2.47,Female,No,Sat,Dinner,2,8.22,3569262692675580,15.0
Sat3455,3.07,1.00,Female,Yes,Sat,Dinner,1,3.07,4359488526995260,32.6
Sat561,20.23,2.01,Male,No,Sat,Dinner,2,10.12,60406789937,9.9
Sat855,15.01,2.09,Male,Yes,Sat,Dinner,2,7.50,4700924377057570,13.9
Sat2100,12.02,1.97,Male,No,Sat,Dinner,2,6.01,213139760497718,16.4
Sat3469,17.07,3.00,Female,No,Sat,Dinner,3,5.69,5442222963796360,17.6
Sat1967,26.86,3.14,Female,Yes,Sat,Dinner,2,13.43,4216245673726,11.7
Sat6065,25.28,5.00,Female,Yes,Sat,Dinner,2,12.64,5418689346409570,19.8
Sat6548,14.73,2.20,Female,No,Sat,Dinner,2,7.36,501828723483,14.9
Sat5056,10.51,1.25,Male,No,Sat,Dinner,2,5.26,213142079731108,11.9
Sat9908,17.92,3.08,Male,Yes,Sat,Dinner,2,8.96,676188485350,17.2
Thur4924,27.20,4.00,Male,No,Thur,Lunch,4,6.80,30344778738589,14.7
Thur2863,22.76,3.00,Male,No,Thur,Lunch,2,11.38,3591887177014030,13.2
Thur9501,17.29,2.71,Male,No,Thur,Lunch,2,8.64,4759290988169730,15.7
Thur6453,19.44,3.00,Male,Yes,Thur,Lunch,2,9.72,38848369968464,15.4
Thur8232,16.66,3.40,Male,No,Thur,Lunch,2,8.33,4550549048402700,20.4
Thur4909,10.07,1.83,Female,No,Thur,Lunch,1,10.07,630413282843,18.2
Thur8801,32.68,5.00,Male,Yes,Thur,Lunch,2,16.34,5356177501009130,15.3
Thur1944,15.98,2.03,Male,No,Thur,Lunch,2,7.99,4442984204923310,12.7
Thur7972,34.83,5.17,Female,No,Thur,Lunch,4,8.71,6011787464177340,14.8
Thur6793,13.03,2.00,Male,No,Thur,Lunch,2,6.52,213161022097557,15.3
Thur3636,18.28,4.00,Male,No,Thur,Lunch,2,9.14,5363745772301400,21.9
Thur9003,24.71,5.85,Male,No,Thur,Lunch,2,12.36,4410248629955,23.7
Thur6273,21.16,3.00,Male,No,Thur,Lunch,2,10.58,4356005144080420,14.2
Fri4175,28.97,3.00,Male,Yes,Fri,Dinner,2,14.48,3597456900644070,10.4
Fri5700,22.49,3.50,Male,No,Fri,Dinner,2,11.24,6011849326227390,15.6
Fri3780,5.75,1.00,Female,Yes,Fri,Dinner,2,2.88,3508911676966390,17.4
Fri6963,16.32,4.30,Female,Yes,Fri,Dinner,2,8.16,5181236182893390,26.3
Fri2318,22.75,3.25,Female,No,Fri,Dinner,2,11.38,676318332068,14.3
Fri9628,40.17,4.73,Male,Yes,Fri,Dinner,4,10.04,180026611638690,11.8
Fri3159,27.28,4.00,Male,Yes,Fri,Dinner,2,13.64,4563054452787960,14.7
Fri9268,12.03,1.50,Male,Yes,Fri,Dinner,2,6.02,580116092652,12.5
Fri144,21.01,3.00,Male,Yes,Fri,Dinner,2,10.50,4831801127457910,14.3
Fri5575,12.46,1.50,Male,No,Fri,Dinner,2,6.23,347435564751626,12.0
Fri4106,11.35,2.50,Female,Yes,Fri,Dinner,2,5.68,38558279384492,22.0
Fri8382,15.38,3.00,Female,Yes,Fri,Dinner,2,7.69,6011012799432040,19.5
Sat6240,44.30,2.50,Female,Yes,Sat,Dinner,3,14.77,379771118886604,5.6
Sat1015,22.42,3.48,Female,Yes,Sat,Dinner,2,11.21,348009865484721,15.5
Sat3194,20.92,4.08,Female,No,Sat,Dinner,2,10.46,4013010878990100,19.5
Sat5106,15.36,1.64,Male,Yes,Sat,Dinner,2,7.68,4029957452720,10.7
Sat7865,20.49,4.06,Male,Yes,Sat,Dinner,2,10.24,180024452771522,19.8
Sat5196,25.21,4.29,Male,Yes,Sat,Dinner,2,12.60,4738781782868,17.0
Sat6376,18.24,3.76,Male,No,Sat,Dinner,2,9.12,4112810433473850,20.6
Sat2614,14.31,4.00,Female,Yes,Sat,Dinner,2,7.16,375638820334211,28.0
Sat6801,14.00,3.00,Male,No,Sat,Dinner,2,7.00,345243048851323,21.4
Sat4801,7.25,1.00,Female,No,Sat,Dinner,1,7.25,3559221007826880,13.8
Sun591,38.07,4.00,Male,No,Sun,Dinner,3,12.69,3572865915176460,10.5
Sun1885,23.95,2.55,Male,No,Sun,Dinner,2,11.98,6565964211060570,10.6
Sun6492,25.71,4.00,Female,No,Sun,Dinner,3,8.57,5400160161311290,15.6
Sun8746,17.31,3.50,Female,No,Sun,Dinner,2,8.65,379494319310858,20.2
Sun22,29.93,5.07,Male,No,Sun,Dinner,4,7.48,4689079711213720,16.9
Thur9593,10.65,1.50,Female,No,Thur,Lunch,2,5.32,3560509622598230,14.1
Thur8084,12.43,1.80,Female,No,Thur,Lunch,2,6.22,502047186908,14.5
Thur8063,24.08,2.92,Female,No,Thur,Lunch,4,6.02,676212062720,12.1
Thur8289,11.69,2.31,Male,No,Thur,Lunch,2,5.84,4891259691010,19.8
Thur2158,13.42,1.68,Female,No,Thur,Lunch,2,6.71,5181484390945650,12.5
Thur3579,14.26,2.50,Male,No,Thur,Lunch,2,7.13,180034646320219,17.5
Thur1992,15.95,2.00,Male,No,Thur,Lunch,2,7.98,4820629318698310,12.5
Thur208,12.48,2.52,Female,No,Thur,Lunch,2,6.24,4472778228206390,20.2
Thur3948,29.80,4.20,Female,No,Thur,Lunch,6,4.97,503857080488,14.1
Thur6719,8.52,1.48,Male,No,Thur,Lunch,2,4.26,4524404353861810,17.4
Thur1512,14.52,2.00,Female,No,Thur,Lunch,2,7.26,213102478792200,13.8
Thur8551,11.38,2.00,Female,No,Thur,Lunch,2,5.69,3548391118913990,17.6
Thur9424,22.82,2.18,Male,No,Thur,Lunch,3,7.61,4855776744024,9.6
Thur1446,19.08,1.50,Male,No,Thur,Lunch,2,9.54,213113680829581,7.9
Thur9005,20.27,2.83,Female,No,Thur,Lunch,2,10.14,5394652998970060,14.0
Thur7783,11.17,1.50,Female,No,Thur,Lunch,2,5.58,6011990685390010,13.4
Thur1561,12.26,2.00,Female,No,Thur,Lunch,2,6.13,676348318145,16.3
Thur75,18.26,3.25,Female,No,Thur,Lunch,2,9.13,4952604748911,17.8
Thur6600,8.51,1.25,Female,No,Thur,Lunch,2,4.26,4320272020376170,14.7
Thur1393,10.33,2.00,Female,No,Thur,Lunch,2,5.16,180048553626376,19.4
Thur3890,14.15,2.00,Female,No,Thur,Lunch,2,7.08,213189344156819,14.1
Thur2710,16.00,2.00,Male,Yes,Thur,Lunch,2,8.00,3561461821942360,12.5
Thur6245,13.16,2.75,Female,No,Thur,Lunch,2,6.58,676239597203,20.9
Thur3906,17.47,3.50,Female,No,Thur,Lunch,2,8.74,5233918213804470,20.0
Thur1025,34.30,6.70,Male,No,Thur,Lunch,6,5.72,3526515703718500,19.5
Thur3621,41.19,5.00,Male,No,Thur,Lunch,5,8.24,4356531761046450,12.1
Thur6179,27.05,5.00,Female,No,Thur,Lunch,6,4.51,4311048695487,18.5
Thur9002,16.43,2.30,Female,No,Thur,Lunch,2,8.22,6542729219645650,14.0
Thur9331,8.35,1.50,Female,No,Thur,Lunch,2,4.18,4285454264477,18.0
Thur3941,18.64,1.36,Female,No,Thur,Lunch,3,6.21,60463302327,7.3
Thur4780,11.87,1.63,Female,No,Thur,Lunch,2,5.94,675937746864,13.7
Thur7276,9.78,1.73,Male,No,Thur,Lunch,2,4.89,3578014604116390,17.7
Thur6321,7.51,2.00,Male,No,Thur,Lunch,2,3.76,4823139288341880,26.6
Sun8863,14.07,2.50,Male,No,Sun,Dinner,2,7.04,4813617017359500,17.8
Sun2127,13.13,2.00,Male,No,Sun,Dinner,2,6.56,3571825125296100,15.2
Sun5205,17.26,2.74,Male,No,Sun,Dinner,3,5.75,4292362333741,15.9
Sun8670,24.55,2.00,Male,No,Sun,Dinner,4,6.14,4416804908942150,8.1
Sun5814,19.77,2.00,Male,No,Sun,Dinner,4,4.94,213169731428229,10.1
Sun9176,29.85,5.14,Female,No,Sun,Dinner,5,5.97,4210875236164660,17.2
Sun7518,48.17,5.00,Male,No,Sun,Dinner,6,8.03,3523151482063320,10.4
Sun7015,25.00,3.75,Female,No,Sun,Dinner,4,6.25,213158685144262,15.0
Sun982,13.39,2.61,Female,No,Sun,Dinner,2,6.70,3571088058115020,19.5
Sun1781,16.49,2.00,Male,No,Sun,Dinner,4,4.12,30501814271434,12.1
Sun245,21.50,3.50,Male,No,Sun,Dinner,4,5.38,3527668419764680,16.3
Sun5879,12.66,2.50,Male,No,Sun,Dinner,2,6.33,4406882156920530,19.7
Sun5521,16.21,2.00,Female,No,Sun,Dinner,3,5.40,4227834176859690,12.3
Sun8594,13.81,2.00,Male,No,Sun,Dinner,2,6.90,5552793481414040,14.5
Sun444,17.51,3.00,Female,Yes,Sun,Dinner,2,8.76,3500853929693250,17.1
Sun9043,24.52,3.48,Male,No,Sun,Dinner,3,8.17,4031116007387,14.2
Sun6738,20.76,2.24,Male,No,Sun,Dinner,2,10.38,4110599849536470,10.8
Sun3719,31.71,4.50,Male,No,Sun,Dinner,4,7.93,3566285921227110,14.2
Sat9795,10.59,1.61,Female,Yes,Sat,Dinner,2,5.30,502053147208,15.2
Sat1788,10.63,2.00,Female,Yes,Sat,Dinner,2,5.32,3536332481454010,18.8
Sat1954,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,5473850968388230,19.7
Sat6750,15.81,3.16,Male,Yes,Sat,Dinner,2,7.90,502004138207,20.0
Sun9209,7.25,5.15,Male,Yes,Sun,Dinner,2,3.62,30432617123103,71.0
Sun9335,31.85,3.18,Male,Yes,Sun,Dinner,2,15.92,3577115550328500,10.0
Sun7621,16.82,4.00,Male,Yes,Sun,Dinner,2,8.41,3586342145399270,23.8
Sun5109,32.90,3.11,Male,Yes,Sun,Dinner,2,16.45,370307040837149,9.5
Sun5961,17.89,2.00,Male,Yes,Sun,Dinner,2,8.94,6011481578696110,11.2
Sun6203,14.48,2.00,Male,Yes,Sun,Dinner,2,7.24,4565183162071070,13.8
Sun4598,9.60,4.00,Female,Yes,Sun,Dinner,2,4.80,4211808859168,41.7
Sun9851,34.63,3.55,Male,Yes,Sun,Dinner,2,17.32,346656312114848,10.3
Sun7544,34.65,3.68,Male,Yes,Sun,Dinner,4,8.66,676168737648,10.6
Sun3402,23.33,5.65,Male,Yes,Sun,Dinner,2,11.66,6556931703586220,24.2
Sun2337,45.35,3.50,Male,Yes,Sun,Dinner,3,15.12,4112207559459910,7.7
Sun6059,23.17,6.50,Male,Yes,Sun,Dinner,4,5.79,4718501859162,28.1
Sun5140,40.55,3.00,Male,Yes,Sun,Dinner,2,20.27,3547798222044020,7.4
Sun5842,20.69,5.00,Male,No,Sun,Dinner,5,4.14,30362407455623,24.2
Sun4254,20.90,3.50,Female,Yes,Sun,Dinner,3,6.97,4422858423131180,16.7
Sun9987,30.46,2.00,Male,Yes,Sun,Dinner,5,6.09,4792882899700980,6.6
Sun430,18.15,3.50,Female,Yes,Sun,Dinner,3,6.05,578329325307,19.3
Sun1821,23.10,4.00,Male,Yes,Sun,Dinner,3,7.70,3560193117506180,17.3
Sun5104,15.69,1.50,Male,Yes,Sun,Dinner,2,7.84,180053549128800,9.6
Thur967,19.81,4.19,Female,Yes,Thur,Lunch,2,9.90,4317015327600060,21.2
Thur4334,28.44,2.56,Male,Yes,Thur,Lunch,2,14.22,4737538358295,9.0
Thur606,15.48,2.02,Male,Yes,Thur,Lunch,2,7.74,180068856139315,13.0
Thur9318,16.58,4.00,Male,Yes,Thur,Lunch,2,8.29,676210011505,24.1
Thur697,7.56,1.44,Male,No,Thur,Lunch,2,3.78,4865390263095530,19.0
Thur9862,10.34,2.00,Male,Yes,Thur,Lunch,2,5.17,30442491190342,19.3
Thur9313,43.11,5.00,Female,Yes,Thur,Lunch,4,10.78,5544902205760170,11.6
Thur437,13.00,2.00,Female,Yes,Thur,Lunch,2,6.50,4926725945192,15.4
Thur2428,13.51,2.00,Male,Yes,Thur,Lunch,2,6.76,6547218923471270,14.8
Thur6048,18.71,4.00,Male,Yes,Thur,Lunch,3,6.24,4581233003487,21.4
Thur2544,12.74,2.01,Female,Yes,Thur,Lunch,2,6.37,3586645396220590,15.8
Thur1301,13.00,2.00,Female,Yes,Thur,Lunch,2,6.50,180088043008041,15.4
Thur7770,16.40,2.50,Female,Yes,Thur,Lunch,2,8.20,3582289985920230,15.2
Thur2160,20.53,4.00,Male,Yes,Thur,Lunch,4,5.13,3570611756827620,19.5
Thur8084,16.47,3.23,Female,Yes,Thur,Lunch,3,5.49,4787787236486,19.6
Sat1,26.59,3.41,Male,Yes,Sat,Dinner,3,8.86,38971087967574,12.8
Sat4505,38.73,3.00,Male,Yes,Sat,Dinner,4,9.68,347817964484033,7.7
Sat6048,24.27,2.03,Male,Yes,Sat,Dinner,2,12.14,4268942915626180,8.4
Sat1274,12.76,2.23,Female,Yes,Sat,Dinner,2,6.38,341876516331163,17.5
Sat8361,30.06,2.00,Male,Yes,Sat,Dinner,3,10.02,30184049218122,6.7
Sat6735,25.89,5.16,Male,Yes,Sat,Dinner,4,6.47,6011962464150560,19.9
Sat4590,48.33,9.00,Male,No,Sat,Dinner,4,12.08,676218815212,18.6
Sat1374,13.27,2.50,Female,Yes,Sat,Dinner,2,6.64,580140531089,18.8
Sat3374,28.17,6.50,Female,Yes,Sat,Dinner,3,9.39,4922302538691960,23.1
Sat6983,12.90,1.10,Female,Yes,Sat,Dinner,2,6.45,4726904879471,8.5
Sat7320,28.15,3.00,Male,Yes,Sat,Dinner,5,5.63,4590982568244,10.7
Sat8489,11.59,1.50,Male,Yes,Sat,Dinner,2,5.80,30324521283406,12.9
Sat4772,7.74,1.44,Male,Yes,Sat,Dinner,2,3.87,340517153733524,18.6
Sat8863,30.14,3.09,Female,Yes,Sat,Dinner,4,7.54,502097403252,10.3
Fri4607,12.16,2.20,Male,Yes,Fri,Lunch,2,6.08,213109508670736,18.1
Fri7511,13.42,3.48,Female,Yes,Fri,Lunch,2,6.71,379437981958785,25.9
Fri6624,8.58,1.92,Male,Yes,Fri,Lunch,1,8.58,3505302934650400,22.4
Fri6014,15.98,3.00,Female,No,Fri,Lunch,3,5.33,5343428579353060,18.8
Fri5959,13.42,1.58,Male,Yes,Fri,Lunch,2,6.71,341503466406403,11.8
Fri6665,16.27,2.50,Female,Yes,Fri,Lunch,2,8.14,3579111947217420,15.4
Fri6359,10.09,2.00,Female,Yes,Fri,Lunch,2,5.04,5268689490381630,19.8
Sat4319,20.45,3.00,Male,No,Sat,Dinner,4,5.11,213141668145910,14.7
Sat2937,13.28,2.72,Male,No,Sat,Dinner,2,6.64,502061651712,20.5
Sat3943,22.12,2.88,Female,Yes,Sat,Dinner,2,11.06,4793003293608,13.0
Sat7872,24.01,2.00,Male,Yes,Sat,Dinner,4,6.00,4258682154026,8.3
Sat6334,15.69,3.00,Male,Yes,Sat,Dinner,3,5.23,4812333796161,19.1
Sat2124,11.61,3.39,Male,No,Sat,Dinner,2,5.80,6011482917327990,29.2
Sat1467,10.77,1.47,Male,No,Sat,Dinner,2,5.38,6011698897610850,13.6
Sat7220,15.53,3.00,Male,Yes,Sat,Dinner,2,7.76,4097938155941930,19.3
Sat4615,10.07,1.25,Male,No,Sat,Dinner,2,5.04,3534021246117600,12.4
Sat5032,12.60,1.00,Male,Yes,Sat,Dinner,2,6.30,3543676378973960,7.9
Sat2929,32.83,1.17,Male,Yes,Sat,Dinner,2,16.42,4284722681265500,3.6
Sat9777,35.83,4.67,Female,No,Sat,Dinner,3,11.94,676184013727,13.0
Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,9.68,5296068606052840,20.4
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,3506806155565400,7.4
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,6011891618747190,8.8
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,8.91,4375220550950,9.8
Thur672,18.78,3.00,Female,No,Thur,Dinner,2,9.39,3511451626698130,16.0

In [ ]:
tips.head()

,Total Bill,Tip,Gender,Smoker,Day,Time,Size,Bill Per Person,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,3560325168603410,Sun2959,5.9
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,4478071379779230,Sun4608,16.1
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,6011812112971320,Sun4458,16.7
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,4676137647685990,Sun5260,14.0
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,4832732618637220,Sun2251,14.7

In [ ]:
tips = tips.set_index('Payment ID')

In [ ]:
tips.head()

,Total Bill,Tip,Gender,Smoker,Day,Time,Size,Bill Per Person,CC Number,tip_percentage
Payment ID,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.49,3560325168603410,5.9
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,4478071379779230,16.1
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,6011812112971320,16.7
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,4676137647685990,14.0
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,4832732618637220,14.7

In [ ]:
tips = tips.reset_index()

In [ ]:
tips.head()

,Payment ID,Total Bill,Tip,Gender,Smoker,Day,Time,Size,Bill Per Person,CC Number,tip_percentage
0,Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.49,3560325168603410,5.9
1,Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,4478071379779230,16.1
2,Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,6011812112971320,16.7
3,Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,4676137647685990,14.0
4,Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,4832732618637220,14.7